<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-bordered" style="margin-bottom:20px;">
          <thead>
            <col width="50%">
            <col width="50%">
            <tr class="">
              <th class="text-center transaksi-title" colspan="2"><b>Penjualan</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="transaksi-item">Total Kursi Terjual</td>
              <td class="transaksi-value text-right">{{ data.totalPenjualan.jmlKursiTerjual }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Total Penjualan</td>
              <td class="transaksi-value text-right">{{ data.totalPenjualan.jmlPenjualan | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Komisi Agen</td>
              <td class="transaksi-value text-right">{{ data.totalPenjualan.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Setoran</td>
              <td class="transaksi-value text-right">{{ data.totalPenjualan.jmlPenjualan - data.totalPenjualan.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Admin Sistem</td>
              <td class="transaksi-value text-right">{{ data.totalPenjualan.biayaAdmin | currency:'':0 }}</td>
            </tr>
            <tr ng-click="openDetailPenjualan(data.penjualan)" ng-show="listAgens.length > 0 && lisTrayeks.length > 0">
              <td colspan="2" class="open-transaksi" style="text-align: center;">Lihat Detail <span class="fa fa-arrow-circle-up"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-bordered" style="margin-bottom:20px;">
          <thead>
            <col width="50%">
            <col width="50%">
            <tr class="">
              <th class="text-center transaksi-title" colspan="2"><b>Pemesanan</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="transaksi-item">Total Kursi Terpesan</td>
              <td class="transaksi-value text-right">{{ data.totalPemesanan.kursiTerpesan }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Total Pemesanan</td>
              <td class="transaksi-value text-right">{{ data.totalPemesanan.penjualan | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Komisi Agen</td>
              <td class="transaksi-value text-right">{{ data.totalPemesanan.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Setoran</td>
              <td class="transaksi-value text-right">{{ data.totalPemesanan.penjualan - data.totalPemesanan.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Admin Sistem</td>
              <td class="transaksi-value text-right">{{ data.totalPemesanan.biayaAdmin | currency:'':0 }}</td>
            </tr>
            <tr ng-click="openDetailPemesanan(data.pemesanan)">
              <td colspan="2" class="open-transaksi" style="text-align: center;">Lihat Detail <span class="fa fa-arrow-circle-up"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" class="height: 30px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Penjualan Hari Ini</h3>
        <div
            donut-chart
            donut-data='donutData'
            donut-colors='colors'
            donut-formatter='formatData'>
        </div>
      </div>
      <div class="panel-footer open-transaksi" ng-click="openDetailPenjualan(data.penjualan)" ng-show="listAgens.length > 0 && lisTrayeks.length > 0">
        <div class="" style="text-align:center;color:#209e91">Lihat Detail <span class="fa fa-arrow-circle-up"></span></div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-bordered" style="margin-bottom:20px;">
          <thead>
            <col width="50%">
            <col width="50%">
            <tr class="">
              <th class="text-center transaksi-title" colspan="2"><b>Pemesanan Otobus</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="transaksi-item">Total Kursi Terpesan</td>
              <td class="transaksi-value text-right">{{ data.totalPemesananOtobus.kursiTerpesan }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Total Pemesanan Otobus</td>
              <td class="transaksi-value text-right">{{ data.totalPemesananOtobus.penjualan | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Komisi Agen</td>
              <td class="transaksi-value text-right">{{ data.totalPemesananOtobus.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Setoran</td>
              <td class="transaksi-value text-right">{{ data.totalPemesananOtobus.penjualan - data.totalPemesananOtobus.komisiAgen | currency:'':0 }}</td>
            </tr>
            <tr>
              <td class="transaksi-item">Admin Sistem</td>
              <td class="transaksi-value text-right">{{ data.totalPemesananOtobus.biayaAdmin | currency:'':0 }}</td>
            </tr>
            <tr ng-click="openDetailPemesananOtobus(data.pemesanan_otobus)">
              <td colspan="2" class="open-transaksi" style="text-align: center;">Lihat Detail <span class="fa fa-arrow-circle-up"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="content-top clearfix" ng-show="updateAgen.length > 0">
    <h2>&nbsp;</h2>
  </div>

  <update-agen ng-show="updateAgen.length > 0"></update-agen>

  <div class="content-top clearfix">
    <h2>&nbsp;</h2>
  </div>
  <div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Penjualan 7 Hari Terakhir</h3>
        <ng-include src="chartTemplate"  onload=""  autoscroll=""></ng-include>
      </div>
      <div class="panel-footer open-transaksi" ng-click="openWeeklySales()" ng-show="listAgens.length > 0 && lisTrayeks.length > 0">
        <div class="" style="text-align:center;color:#209e91">Lihat Detail <span class="fa fa-arrow-circle-up"></span></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Pemesanan 7 Hari Kedepan</h3>
        <ng-include src="chartTemplate2"  onload=""  autoscroll=""></ng-include>
      </div>
      <div class="panel-footer open-transaksi" ng-click="openWeeklyOrders()" ng-show="listAgens.length > 0 && lisTrayeks.length > 0">
        <div class="" style="text-align:center;color:#209e91">Lihat Detail <span class="fa fa-arrow-circle-up"></span></div>
      </div>
    </div>
  </div>
</div>
