<style media="screen">
  .page-top {
    background-color: ;
  }
</style>
<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}"  style="background-color: {{ color }}">
  <a href="#/dashboard" class="al-logo clearfix"><img src='/assets/img/bta_screen.png' width="100px" height="auto" /></a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->


  <div class="user-profile">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{ logo }}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!-- <li><a href="#/dashboard/profile"><i class="fa fa-user"></i>Profile</a></li> -->
        <!-- <li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
        <li><a href ng-click="logout()" class="signout"><i class="fa fa-power-off"></i>Keluar</a></li>
      </ul>
    </div>
    <ul class="al-msg-center profile-name" style="color:#fff;">
      <li>Halo, {{user.name}} | {{nama}} </li>
    </ul>
    <msg-center></msg-center>
  </div>
</div>
