<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h5>Data Approval</h5>
            </div>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div  id="dataTable" class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="33%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Agen</b></th>
                    <th class="text-center"><b>Trayek</b></th>
                    <th class="text-center"><b>Jumlah Penumpang</b></th>
                    <th class="text-center"><b>Tgl Cancel</b></th>
                    <th class="text-center"><b>Tgl Berangkat</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in approval track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.namaAgen }}</td>
                    <td>{{ item.namaTrayek }}</td>
                    <td>{{ item.jmlhPenumpangBatal }} Penumpang</td>
                    <td>{{ item.tglCancel | date_time }}</td>
                    <td>{{ item.tglBerangkat | date_v1 }}</td>
                    <td class="nowrap text-center">
                      <button type="button" class="btn btn-primary" ng-click="klik_approve($index)">Setuju</button>
                      <button type="button" class="btn btn-danger" ng-click="klik_cancel($index)">Tidak</button>
                      <button type="button" class="btn btn-warning" ng-click="klik_detail($index)">Detail</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
