<div class="modal-body">
  <h5>Data Tiket Agen {{ data.namaAgen }}
    <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
  </h5>
</div>
<div class="modal-body modal-table">
  <table class="table table-bordered table-striped">
    <col width="10%">
    <col width="55%">
    <col width="35%">
    <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center">
          <b>Kode Booking</b>
        </th>
        <th class="text-center">
          <b>Jumlah Kursi</b>
        </th>
      </tr>
    </thead>
  </table>
</div>
<div class="modal-body scrollable modal-table">
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <col width="10%">
    <col width="55%">
    <col width="35%">
    <tbody>
      <tr ng-repeat="item in data.dataTicket" class="no-top-border">
        <td class="nowrap"><span>{{ $index + 1}}</span></td>
        <td class="" ng-click="showProfile($index)">
          <span>{{item.kodeTiket}}</span>
        </td>
        <td class="nowrap text-right">{{item.jmlPenumpang}}</td>
      </tr>
    </tbody>
  </table>
</div>
