<div>
  <div class="row">
    <div class="text-center">
      <h2>Konfirmasi {{ title }}</h2>
    </div>
    <div class="col-md-10 ticket-main">
      <div class="ticket-1" ng-click="openModal(ticketDetail)">
        <div class="">
          <h3>{{ ticketDetail.poTrayek.namaPo }}
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.ekonomi }}</small>
            <br>
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.kelasBis }}</small>
            <br>
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.seatType }}</small>
          </h3>
          <h5>
            {{ ticketDetail.pemesananJadwal.agenKeberangkatan }}
            <br>
            <small>{{ ticketDetail.pemesananJadwal.alamatKeberangkatan }}</small>
            <hr>
          </h5>
        </div>
        <div class="">
          <h5>
            <span>Naik&nbsp;&nbsp;&nbsp;: {{ ticketDetail.poTrayek.namaKotaAsal }}</span>
            <br>
            <span>Turun&nbsp;: {{ ticketDetail.poTrayek.namaKotaTujuan }}</span>
            <span class="pull-right">{{ ticketDetail.pemesananJadwal.tglmls | date_v2 }}</span><br>
            <span class="pull-right">Pukul {{ ticketDetail.pemesananJadwal.waktuBerangkat }}</span>
            <hr>
          </h5>
          <h4>
            <small>{{ penumpangs.length }} Kursi @{{ ticketDetail.pemesananJadwal.hargaJual | currency:"Rp.":0 }}</small>
            <span style="color:orange;float:right">{{ ticketDetail.pemesananJadwal.hargaJual * penumpangs.length | currency:"Rp.":0 }},-</span>
            <hr>
          </h4>
        </div>
        <div class="">
          <h5>
            Info Tambahan <span class="glyphicon glyphicon-plus" ng-click="tambahInfo()"></span>
          </h5>
          <br>
          <h6>penjemputan
            <br>
            <small>{{ info.penjemputan }}</small>
          </h6>
          <h6>Turun
            <br>
            <small>{{ info.turun }}</small>
          </h6>
          <h6>Sub Agen
            <br>
            <small>{{ info.subAgen }}</small>
          </h6>
          <h6>Keterangan
            <br>
            <small>{{ info.keterangan}}</small>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-10">
        <button class="btn btn-danger pull-left" ng-click="backSearch(4)">
          <i class="glyphicon glyphicon-backward"></i> Kembali
        </button>
        <button class="btn btn-warning pull-right" ng-disabled="clicked" ng-click="bayar(ticketDetail)">
          <h3><i class="glyphicon glyphicon-check"></i> Bayar</h3>
        </button>
    </div>
  </div>
</div>
