<style media="screen">
  .ticket-main {
    padding: 20px
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
</style>

<div class="row">
  <div class="col-md-6 main-menu pull-left" ui-sref="dashboard.transaksi.transaksipenjualanagen">
    <div class="menu disabled">
      Penjualan Tiket
    </div>
  </div>
  <div class="col-md-6 main-menu pull-right" ui-sref="dashboard.transaksi.transaksipemesananagen">
    <div class="menu">
      Pemesanan Tiket
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-horizontal">
      <div class="text-center">
        <h5 style="color:red" ng-show="errorNext">{{ errorNext }}</h5>
      </div>
        <div class="form-group">
          <div class="col-lg-3 control-label">
            Pilih Agen
          </div>
          <div class="col-lg-6">
            <select class="form-control" id="agen" ng-model="$parent.agen" ng-options="k.idChannel as k.namaChannel for k in agens">
            </select>
          </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 control-label">Kota Asal</div>
            <div class="col-lg-6">
                <select class="form-control" id="trayek" ng-model="$parent.asal" ng-options="k.idKota as k.namaKota for k in awal" ng-change="idAwal_change($parent.asal)"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 control-label">Kota Tujuan</div>
            <div class="col-lg-6">
              <select class="form-control" id="trayek" ng-model="$parent.tujuan" ng-options="k.idKota as k.namaKota for k in akhir"></select>
            </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <h5 style="color:red" ng-show="errorDate">{{ errorDate }}</h5>
          </div>
            <div class="col-lg-3 control-label">Tanggal Berangkat</div>
            <div class="col-lg-6">
              <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
                <input ng-model="$parent.tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" />
              </datepicker>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 control-label">Jumlah Penumpang</div>
            <div class="col-lg-6">
              <select class="form-control" name="" ng-model="$parent.jmlPenumpang">
                <option value="1">1 Orang</option>
                <option value="2">2 Orang</option>
                <option value="3">3 Orang</option>
                <option value="4">4 Orang</option>
              </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 control-label">Kelas</div>
            <div class="col-lg-6">
              <select class="form-control" name="" ng-model="$parent.kelas">
                <option value="0">Semua Kelas</option>
                <option value="2">Ekonomi</option>
                <option value="1">Non-Ekonomi</option>
              </select>
            </div>
        </div>

          <div>
            <div class="col-lg-12 text-center">
              <button class="btn btn-warning" ng-click="next()">
                  <i class="glyphicon glyphicon-search"></i> Cari Tiket
              </button>
            </div>
          </div>
        </div>
  </div>
</div>
