<style>
  .selected {
    background-color: green;
    color: black;
    font-weight: bold;
  }
</style>
<div class="row">
  <!-- <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty"> -->
    <!-- <table class="table table-bordered table-striped" st-table="datas"> -->
    <table class="table table-bordered table-striped" ng-keydown="key($event)">
      <col width="3%">
      <col width="3%">
      <col width="13%">
      <col width="5%">
      <col width="5%">

      <thead>
        <tr class="th-bg">
          <th class="text-center"><b>No</b></th>
          <th class="text-center">Up/Down</th>
          <th class="text-center"><b>Trayek</b></th>
          <th class="text-center"><b>Waktu Tiba</b></th>
          <th class="text-center"><b>Aksi</b></th>
        </tr>
      </thead>
      <tbody ng-repeat="item in data track by $index" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
        <tr>
          <td class="text-center">{{$index+1}}</td>
          <td class="text-center">
            <button type="button" name="button" ng-click="moveUp(selectedRow)">
              <span><i class="glyphicon glyphicon-chevron-up"></i></span>
            </button>
            <button type="button" name="button" ng-click="moveDown(selectedRow)">
              <span><i class="glyphicon glyphicon-chevron-down"></i></span>
            </button>
          </td>
          <td class="text-center">{{item.trayek}}</td>
          <!-- <td><div uib-timepicker ng-model="testdate" hour-step="1" minute-step="10" show-meridian="false" show-spinners="false" style="margin-left:90px;"></div></td> -->
          <td>
            <input type="number" class="form-control text-center" name="" value="{{item.waktuTiba}}">
          </td>
          <td class="text-center">
            <span ng-click="delete($index)">
              <i class="btn btn-danger btn-sm glyphicon glyphicon-trash"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table><br><br>


    <!-- <button type="button" name="button" ng-click="moveUp(selectedRow)">
      <span><i class="glyphicon glyphicon-chevron-up"></i></span>
    </button>
    <button type="button" name="button" ng-click="moveDown(selectedRow)">
      <span><i class="glyphicon glyphicon-chevron-down"></i></span>
    </button>
    <div class="">
      selectedRow = {{selectedRow}}
    </div> -->

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4" ng-hide="data.length === 0">
      <button type="button" name="button" class="col-md-3 btn btn-primary" style="margin-left: 200px;">Simpan</button>
    </div>
  </div>
</div>
