<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <!-- start setoran langsung = true -->
          <div class="form-horizontal">

            <!-- <h5>Cari Berdasarkan : </h5> -->
            <div class="form-group">

              <div class="col-lg-4">
                <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.trayek for t in bumels">
                  <option value="" disabled="">Pilih Trayek</option>
                </select>
              </div>

              <!-- <div class="col-lg-2">
                  <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
                    <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false"/>
                  </datepicker>
              </div> -->

              <div class="col-lg-1">
                  <button class="btn btn-warning" ng-click="add(trayek)">
                      <i class="glyphicon glyphicon-plus"></i>
                  </button>
              </div>

            </div>

        <!-- <not-found ng-show="datas.length === 0" info="'Tidak ada data setoran'"></not-found> -->

        </div>
        <div class="data-loader" ng-show="loadData"></div>

        <!-- <div class="col-md-12" ng-show="datas.length > 0"> -->
          <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
        <!-- </div> -->
        <!-- end  -->



        </div>
	    </div>
    </div>
  </div>
</div>
