<style media="screen">
  .main-menu {
    text-align:center;
    padding:10px;
  }
  .menu {
    font-size:16px;
    background-color:#e0af1b;
    border:2px solid #e0af1b;
    border-radius:6px;
    padding:10px;
    color:#fff;
    margin-bottom:30px;
  }
  .menu:hover {
    background-color:#fff;
    color:#e0af1b;
    cursor:pointer;
    border:2px solid #e0af1b;
  }
  .disabled {
    border:2px solid #ddd;
    background-color:#ddd;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div ng-include="templateUrl" class="panel-body">
        </div>
	    </div>
    </div>
  </div>
</div>
