<style media="screen">
  .modal {
    top: auto!important;
  }
  .seat-view {
    padding: 10px 2px 0 2px ;
    cursor:pointer
  }
  .seat {
    background-color: #9c9f9d;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white!important;
  }
  .bus-view {
    width: 310px;
    <!-- border: 1px solid #999999; -->
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-footer {
    margin-bottom: 20px;
  }
  .modal-content {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .penumpang-avatar {
    position: absolute;
    left: 15%;
    bottom: 0;
  }
</style>
<div class="bus-view">
  <div class="row" style="width:300px;margin-left:auto;margin-right:auto">
    <div class="col-xs-2 seat-view pull-right" ng-style="tipe2 && { 'width' : '16.666666667%' } || !tipe2 && { 'width' : '20%' }">
      <div class="seat" style="background-color:grey;">
        <span class="glyphicon glyphicon-dashboard" style="color:#fff"></span>
      </div>
    </div>
  </div>
  <div class="row" style="width:300px;margin-left:auto;margin-right:auto">
    <div class="col-xs-2 seat-view" ng-style="tipe2 && { 'width' : '16.666666667%' } || !tipe2 && { 'width' : '20%' }" ng-repeat="seat in tesLayout track by $index" ng-click="pilih($index)">
      <div class="seat" ng-style="seat[2] == 'NO' && { 'visibility' : 'hidden' } || seat[4] === '5' && { 'background-color' : '#ececec' } || seat[4] === '6' && { 'background-color' : '#ececec' } || seat[4] === '7' && { 'background-color' : '#ececec' } || seat[4] === '8' && { 'background-color' : '#ececec' } || seat[4] === '1' && { 'background-color' : 'orange' } || seat[4] === '4' && { 'background-color' : '#4286f4' }">
        {{ seat[2] }}
          <img class="penumpang-avatar" ng-show="seat[4] == '5'" src="/assets/img/avatar/male-adult.svg" width="70%">
          <img class="penumpang-avatar" ng-show="seat[4] == '7'" src="/assets/img/avatar/male-kid.svg" width="60%">
          <img class="penumpang-avatar" ng-show="seat[4] == '6'" src="/assets/img/avatar/female-adult.svg" width="60%">
          <img class="penumpang-avatar" ng-show="seat[4] == '8'" src="/assets/img/avatar/female-kid.svg" width="60%">
      </div>
    </div>
  </div>
  <div class="form-group" style="padding-top:30px">
    <h4>Terpilih {{ terpilih }} kursi<small class="pull-right">(maksimal {{ max }} kursi)</small></h4>
  </div>
  <div class="form-group text-center">
    <p style="color:red" ng-show="error">{{ error }}</p>
    <button class="btn btn-danger" name="button" ng-click="batal()">
      Batal
    </button>
    <button class="btn btn-warning" name="button" ng-click="ok()">
      Lanjutkan <span class="glyphicon glyphicon-forward"></span>
    </button>
  </div>
</div>
