<!-- <style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style> -->

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="form-horizontal">

            <div class="form-group">
                <div class="col-lg-3 control-label">Armada</div>
                <div class="col-lg-4">
                    <select class="form-control" id="armada" name="armada" ng-model="armada" ng-options="k as k.namaArmada for k in armadas">
                      <option value="" selected="" disabled="">Pilih Armada</option>
                    </select>
                    <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
                </div>
                <!-- <div class="col-lg-4" ng-show="selectedArmada">
                  <input type="text" class="form-control" ng-model="selectedArmada" disabled>
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn btn-info" ng-click="openBusSelection()">Pilih Armada</button>
                  <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
                </div> -->
            </div>

            <div class="form-group">
                <div class="col-lg-3 control-label">Tanggal</div>
                <div class="col-lg-4">
                    <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
                      <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false"/>
                    </datepicker>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 control-label">Crew</div>
                <div class="col-lg-4">
                    <select class="form-control" id="crew" name="crew" ng-model="crew" ng-options="k as k.namaCrew for k in crews">
                      <option value="" selected="" disabled="">Pilih Crew</option>
                    </select>
                    <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
                </div>
                <!-- <div class="col-lg-4" ng-show="selectedArmada">
                  <input type="text" class="form-control" ng-model="selectedArmada" disabled>
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn btn-info" ng-click="openBusSelection()">Pilih Crew</button>
                  <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
                </div> -->
            </div>

            <div class="form-group">
                <div class="col-lg-3 control-label">Layanan</div>
                <div class="col-lg-4">
                    <select class="form-control" id="layanan" name="layanan" ng-model="layanan" ng-options="k as k.namaLayanan for k in layanans">
                      <option value="" selected="" disabled="">Pilih Layanan</option>
                    </select>
                    <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
                </div>
                <div class="col-lg-1" ng-show="dataLoaded">
                    <!-- <button class="btn btn-warning" ng-click="tampil(data)" ng-disabled="clicked_tampil"> -->
                    <button class="btn btn-warning" ng-click="add(armada, tanggal, crew, layanan)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div><br>

            </div>

        <!-- <not-found ng-show="datas.length === 0" info="'Tidak ada data setoran'"></not-found> -->

        </div>
        <div class="data-loader" ng-show="loadData"></div>

        <!-- <div class="col-md-12" ng-show="datas.length > 0"> -->
          <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
        <!-- </div> -->
        <!-- end  -->



        </div>
	    </div>
    </div>
  </div>
</div>
