<style media="screen">
  .ticket-main {
    padding-left: 100px;
    padding-right: 100px;
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
</style>
<div>
  <div class="row">
    <div class="text-center">
      <h2>Tabel Tarif</h2>
    </div>
    <div class="col-md-12 ticket-main" ng-repeat="ticket in listTicket">
      <div class="ticket-1">
        <div class="">
          <h5>
            Armada :
            <small class="pull-right">{{ ticket.namaArmada }}</small>
            <br>
          </h5>
          <h5>
            Crew :
            <small class="pull-right">{{ ticket.namaCrew }}</small>
            <br>
          </h5>
          <h5>
            Tanggal :
            <small class="pull-right">{{ tanggal }}</small>
          </h5>
          <h5>
            Layanan :
            <small class="pull-right">{{ ticket.namaLayanan }}</small>
            <hr>
          </h5>
          <h5>
            <span>Ritase 1 : </span> <small class="pull-right">K.Wisata - Monas (05.00)</small>
          </h5>
          <h5 class="form-group">
            <span>K.Wisata - Monas <input class="form-control" type="number" name="" value="20,000"></span><br>
            <span>Legenda Wisata - Monas <input class="form-control" type="number" name="" value="20,000"></span>
          </h5><hr>

          <h5>
            <span>Ritase 2 : </span> <small class="pull-right">Monas - K.Wisata (07.45)</small>
          </h5>
          <h5 class="form-group">
            <span>Monas - K.Wisata <input class="form-control" type="number" name="" value="20,000"></span><br>
            <span>Monas - Legenda Wisata <input class="form-control" type="number" name="" value="20,000"></span>
          </h5><hr>
        </div>
      </div><br><br>

      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button type="button" name="button" class="btn btn-primary" style="margin-left: 80px;">Simpan</button>
      </div>
    </div>
    <div ng-show="pesanError" class="text-center">
      {{ pesanError }}
    </div>
    <!-- <div class="col-lg-12">
      <button class="btn btn-danger" ng-click="$parent.backSearch(0)">
        <i class="glyphicon glyphicon-backward"></i> Kembali
      </button>
    </div> -->
  </div>
</div>
