<div class="form-horizontal">
    
    <table class="table table-bordere">
        <thead>
            
            <tr>
                <th>No.</th>
                <th>Dari</th>
                <th>Tujuan</th>
                <th>Harga Pokok</th>
                <th>Komisi Penjualan</th>
                <th>Komisi Pemberangkatan</th>
                <th>Biaya Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='a in arahtrayeks'>
                <td>{{$index+1}}</td>
                <td>{{a.namaAwal}}</td>
                <td>{{a.namaAkhir}}</td>
                <td><input type="text" name="hpp" class="form-control" ng-model="a.hargadasar"></td>
                <td><input type="text" name="komisiPemesanan" class="form-control" ng-model="a.komisiPemesanan"></td>
                <td><input type="text" name="komisiPemberangkatan" class="form-control" ng-model="a.komisiPemberangkatan"></td>
                <td><select class="form-control" ng-model="a.biayaadmin.id" id="biayaadmin" name="biayaadmin" ng-options="k.id as k.totalAdmin for k in biayaadmins"></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group well">
        <div class="col-lg-12 text-center">
            <button class="btn btn-success" ng-click="nextwaktu()">
                <i class="glyphicon glyphicon-forward"></i> Selanjutnya
            </button>
            <a ui-sref="dashboard.subtrayeks.list" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>Batal</a>
        </div>
    </div>
</div>