<div class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Pilih PO</label>
        <div class="col-lg-8">
            <select class="form-control" id="po" ng-model="po" ng-options="k.id as k.nama for k in pos" ng-change="po_change(po)"></select>
        
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Pilih Trayek</label>
        <div class="col-lg-8">
            <select class="form-control" id="trayek" ng-name="trayek" ng-model="subtrayek.trayek.id" ng-options="t.id as t.kodetrayek for t in trayeks"></select>
        
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Kode Detail Layanan Trayek Trayek</label>
        <div class="col-lg-8">
            <input type="text" name="kodesub" ng-model="subtrayek.kodesub" class="form-control">
        </div>
    </div>

    <div class="form-group well">
        <div class="col-lg-12 text-center">
            <button class="btn btn-success" ng-click="next()">
                <i class="glyphicon glyphicon-forward"></i> Selanjutnya
            </button>
            <a ui-sref="dashboard.subtrayeks.list" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>Batal</a>
        </div>
    </div>

    
</div>