<div class="form-horizontal">
    
    <table class="table table-bordere">
        <thead>
            
            <tr>
                <th>No.</th>
                <th>Kota</th>
                <th>Tempat Berangkat</th>
                <th>Jam</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='agen in departuretrayeks'>
                <td>{{$index+1}}</td>
                <td>{{agen.lokasi}}</td>
                <td>{{agen.nama}}</td>
                <td>
                <input type="text" ng-model="agen.waktu" required />
                <!-- <input type="time" ng-model="agen.waktu" pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}" required /> -->
                <!-- <ng-timepicker ng-model="agen.waktu"></ng-timepicker>min="08:00:00" placeholder="HH:mm:ss" max="17:00:00"  -->
    
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group well">
        <div class="col-lg-12 text-center">
            <button class="btn btn-warning" ng-click="save()">
                <i class="glyphicon glyphicon-ok"></i> Simpan
            </button>
            <a ui-sref="dashboard.subtrayeks.list" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>Batal</a>
        </div>
    </div>
</div>