<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-lg-4">
                <select class="form-control" id="trayek" ng-model="trayek" ng-options="k.id as k.trayek for k in trayeks" >
                  <option value="" disabled="">Pilih Trayek</option>
                </select>
              </div>
              <div class="col-lg-1">
                <button class="btn btn-warning btn-block" ng-click="tampil()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </div>
          
          <div ng-include="templateUrl"></div>
        </div>

<!-- <div ui-grid="gridOptions" class="gridStyle"></div> -->
	</div>
  </div>
</div>
</div>
</div>
