<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="">

          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Admin Sistem</h4>
            </div>
          </div> -->

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div  id="dataTable" class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="2%">
                <col width="20%">
                <col width="20%">
                <col width="4%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>ID Trayek</b></th>
                    <th class="text-center"><b>Kode Detail Layanan Trayek</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="listSubTrayek in subtrayek track by $index">
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td>{{ listSubTrayek.id }}</td>
                    <td>{{ listSubTrayek.kodesub }}</td>
                    <td class="text-center"><button class="btn btn-primary btn-sm" ng-click="Lihat($index)">Lihat Detail</button></td>
                  </tr>
                </tbody>
                <!-- <tbody>
                  <tr style="font-size:17px">
                    <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
                    <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
                    <td colspan="4" class="text-center"></td>
                  </tr>
                </tbody> -->
                <!-- <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="perPage" st-displayed-pages="pageSize"></div>
                  </td>
                </tr>
                </tfoot> -->
              </table>
            </div>
          </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->
          <div class="form-group"  ng-show="datas.length > 0">
            <!-- <div class="col-lg-2 pull-right"><br><br>
              <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()" ng-hide="transaksi == 'penjualan' && periode == 'monthly' && jenisTransaksi == 'agen' || transaksi == 'pemesanan' && periode == 'monthly' && jenisTransaksi == 'agen'"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
            </div> -->
            <!-- <div class="col-lg-2 pull-right"><br><br>
              <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
