<script type="text/javascript">
  document.getElementById("enter").focus();
</script>

<style media="screen">
  #enter:focus {
    outline:0;
    color:#fff;
  }
</style>

<div id="welcome-screen" ng-class="class" ng-show="loggedIn">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo-center">
            <div class="logo-po">
              <img ngf-src="file || poLogo" width="100%">
            </div>
          </div>
          <div class="text-center welcome-text">
            <h1>Selamat Datang</h1>
            <h2>{{ poName }}</h2>
            <button type="button" class="btn btn-welcome" ng-click="next()" id="enter">Masuk Ke Halaman Utama</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
