<div class="row">
  <!-- <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty"> -->
    <!-- <table class="table table-bordered table-striped" st-table="datas"> -->
    <table class="table table-bordered table-striped" st-table="datas">
      <col width="3%">
      <col width="13%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <col width="10%">

      <thead>
        <tr class="th-bg">
          <th class="text-center"><b>No.</b></th>
          <th class="text-center"><b>Transaction Date</b></th>
          <th class="text-center"><b>No. Invoice</b></th>
          <th class="text-center"><b>Amount Due (Rp)</b></th>
          <th class="text-center"><b>Due Date</b></th>
          <th class="text-center"><b>Action</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in datas">
          <td>{{ ($index + 1) + ((active - 1) * 10)}}</td>
          <td>{{ invoice.tglTransaksi | date_v1 }}</td>
          <td>{{ invoice.noInvoice }}</td>
          <td class="text-right">{{ invoice.amountDue | currency:'':0 }}</td>
          <td class="text-right">{{ invoice.dueDate | date_transaksi }}</td>
          <td class="text-center"><button class="btn btn-primary btn-sm" ng-click="next(invoice.tglTransaksi)">Lihat Invoice</button></td>
        </tr>
      </tbody>
      <tbody>
        <tr style="font-size:17px">
          <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
          <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
          <td colspan="4" class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" style="margin-top:20px;" ng-hide="pages.length === 0">
    <button class="btn" style="margin-top:20px; margin-left: 5px;" ng-click="prevPage(next)" ng-show="pageActive > 0">
        << prev
    </button>
    <button class="btn" ng-repeat="page in pages" ng-hide="pages.length === 1" ng-click="selectPage(page)" ng-class="{'btn-primary' : page.active, 'btn-default' : !page.active}" style="margin-top:20px; margin-left: 5px;">
        <b>{{ page.page }}</b>
    </button>
    <button class="btn" style="margin-top:20px; margin-left: 5px;" ng-click="nextPage(next)" ng-show="pageActive < totalGrup - 1">
        next >>
    </button>
  </div>
</div>
