<h4>Laporan Pemesanan Otobus (Agen)</h4>
<table class="table table-bordered">
  <col width="20%">
  <col width="80%">
  <tbody>
    <tr>
      <td>Agen</td>
      <td><b>{{ agen.name }}</b></td>
    </tr>
    <tr>
      <td>Tanggal Transaksi</td>
      <td><b>{{ tanggal | date_v1 }}</b></td>
    </tr>
  </tbody>
</table>
