<div class="" id="dataTable">
  <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <div>
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="3%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <col width="10%">
      <!-- <col width="20%"> -->
      <thead>
        <tr class="th-bg">
          <th class="text-center">
            <b>No.</b>
          </th>
          <th class="text-center">
            <b>Agen Penjual</b>
          </th>
          <th class="text-center">
            <b>Kursi Terpesan</b>
          </th>
          <th class="text-center">
            <b>Penjualan</b>
          </th>
          <th class="text-center">
            <b>Komisi Agen</b>
          </th>
          <th class="text-center">
            <b>Setoran</b>
          </th>
          <th class="text-center">
            <b>Admin Sistem</b>
          </th>
          <th class="text-center">
            <b>Pendapatan</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="no-top-border" ng-repeat="item in datas">
          <td class="text-right"><b>{{ $index + 1 }}</b></td>
          <td class="pointer" ng-click="toAgenOrder(item)"><a>{{ item.namaAgen }}</a></td>
          <td class="text-right">{{ item.kursiTerpesan }}</td>
          <td class="text-right">{{ item.penjualan | currency:'':0 }}</td>
          <td class="text-right">{{ item.komisiAgen | currency:'':0 }}</td>
          <td class="text-right">{{ item.setoran | currency:'':0 }}</td>
          <td class="text-right">{{ item.biayaAdmin | currency:'':0 }}</td>
          <td class="text-right"><b>{{ item.setoran - item.biayaAdmin | currency:'':0 }}</b></td>
        </tr>
      </tbody>
      <!-- <tr class="th-bg">
        <td colspan="2" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{total.kursi}}</b></td>
        <td class="align-right"><b>{{total.penjualan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.komisiAgen | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.setoran | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.biayaAdmin | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.setoran - total.biayaAdmin | currency:"":0}}</b></td>
      </tr> -->
    </table>
  </div>
</div>
