<style media="screen">
  .form-harian {
    min-width : 350px;
    max-width : 400px;
    background-color : #fff;
    margin-left : auto;
    margin-right : auto;
    padding : 10px;
  }
  .form-group {
    padding-left : 10px;
    padding-right : 10px;
  }
  .form-horizontal {
    padding : 10px;
  }
  .form-group {
    margin-bottom : 5px;
  }
  .form-group > h4 {
    margin-top : 15px;
  }
  .inline > input {
    display : inline-block;
    width : 70%;
  }
  .inline > label {
    display : inline-block;
    width : 15%;
  }
  .pointer {
    cursor : pointer
  }
  .form-control {
    text-align: right!important;
  }
</style>

<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div class="col-md-6">
            <div class="form-horizontal">
              <table class="table table-bordered" style="margin-top:15px;">
                <col width="40%">
                <col width="60%">
                <tbody>
                  <tr>
                    <td>Agen</td>
                    <td><b>{{ data.namaAgen }}</b></td>
                  </tr>
                  <tr>
                    <td>Tanggal Transaksi</td>
                    <td><b>{{ tanggal | date_v2 }}</b></td>
                  </tr>
                  <tr>
                    <td>Kursi Terpesan</td>
                    <td><b>{{ data.kursiTerpesan }}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-horizontal">
              <form>
                <div class="form-group">
                  <h4 for="penjualan">Penjualan</h4>
                  <input type="text" class="form-control" ng-model="data.penjualan" format="number" ng-change="update()" disabled="">
                </div>
                <div class="form-group">
                  <h4 for="penjualan">Komisi Agen</h4>
                  <input type="text" class="form-control" ng-model="data.komisiAgen" format="number" ng-change="update()" disabled="">
                </div>
                <div class="form-group">
                  <h4 for="penjualan">Setoran</h4>
                  <input type="text" class="form-control" ng-model="data.setoran" format="number" ng-change="update()" disabled>
                </div>
                <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                  <h4>Diterima <span class="pull-right">{{ data.diterima | currency:"Rp.":0 }}</span></h4>
                </div>
              <div class="form-group">
                <button type="button" class="btn btn-danger pull-left" ng-click="kembali()">Kembali</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="kirim()">Simpan</button>
              </div>
            </div>
          </form>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
