<div class="" id="dataTable">
  <div>
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="32%">
      <col width="10%">
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <thead>
        <tr class="th-bg">
          <th class=""><b>No.</b></th>
          <th class="text-center">
            <b>Agen</b>
          </th>
          <th class="text-center">
            <b>Kursi Terpesan</b>
          </th>
          <th class="text-center">
            <b>setoran</b>
          </th>
          <th class="text-center">
            <b>Aksi</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in datas" class="no-top-border">
          <td>
            {{$index + 1}}
          </td>
          <td>
            <a>{{item.namaAgen}}</a>
          </td>
          <td class="align-right">
            {{item.kursiTerpesan }}
          </td>
          <td class="align-right">
            {{item.setoran | currency:"":0}}
          </td>
          <td class="align-right">
            <button type="button" name="button" class="btn btn-success" ng-click="next(item)">Terima</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
