<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
</style>

<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h4>Rinician Komisi Agen {{ namaAgen }}
                <button class="btn btn-success btn-sm" ng-click="bayar()">Bayar</button>
              </div>
            </span>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="3%">
                <!-- <col width="30%">
                <col width="30%">
                <col width="30%"> -->

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Tanggal</b>.</th>
                    <th class="text-center"><b>Jumlah Transaksi</b></th>
                    <th class="text-center"><b>Jumlah Komisi</b></th>
                    <th class="text-center"><b>Jumlah Harga Jual</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in datas">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.tglTransaksi | date_v1}}</td>
                    <td class="text-right show-data" ng-click="openTicketData(item)">{{ item.jmlPenumpang }}</td>
                    <td class="text-right">{{ item.jmlhKomisi | currency:'':0 }}</td>
                    <td class="text-right">{{ item.jmlhHargaJual | currency:'':0 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
