@import "common.scss";
@import "theme/_socicon.scss";
@import "theme/_layout.scss";
@import 'theme/buttons.scss';
@import 'app/form.scss';

html {
  min-height: 520px;
  height: 100%;
}

body {
  @include main-background();
  height: 100%;
}

$text-color: #ffffff;

.form-control, .form-control:focus {
  @include placeholderStyle($text-color, 0.9);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  color: $text-color;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  @include placeholderStyle($text-color, 0.6);
}

.auth-main {
  display: inline-flex;
  // padding: 100px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.auth-block {
  max-width: 360px;
  min-width: 360px;
  margin: 0 auto;
  border-radius: 5px;
  @include bg-translucent-dark(0.55);
  color: #fff;
  padding-top: 40px!important;
  padding: 32px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
}

.auth-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px;
}

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  position: relative;
  & > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: $text-color;
    & > span {
      margin-top: -12px;
      display: block;
    }
  }
  &:before, &:after {
    border-top: solid 1px $text-color;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell;
  }
}

.al-share-auth {
  text-align: center;
  .al-share {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      i {
        font-size: 24px;
      }
    }
  }
}

.btn-auth {
  color: #ffffff!important;
}

.logo {
  margin-top: 100px;
  max-width: 360px;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

// .logo-po {
//   position: relative;
//   overflow: hidden;
//   padding-bottom: 30%;
//   background-color: #fff;
// }
//
// .logo-po > img {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   margin-bottom: 20px;
// }

.logo-po {
  width: 100%;
}

.logo-center {
  width: 30vw!important;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 450px) {
  .al-main {
    margin-left: 0px;
  }
}
.table > tbody > tr > td:first-child {
  text-align: left;
}
.ticket-main {
  padding: 20px
}
.ticket-1 {
  border: 2px solid #888;
  padding: 10px;
  cursor: pointer;
}
.ticket-1:hover {
  border: 2px solid orange;
}
@media (max-width:450px) {
  .profile-name {
    display: none;
  }
}
.ui-grid-icon-plus-squared:before {
  // content: '\c350';
  content: '\c350'!important;
}
.ui-grid-icon-minus-squared:before {
  content: '\c351'!important;
}

.data-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.data-loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

._720kb-datepicker-calendar-day:hover, ._720kb-datepicker-calendar-day._720kb-datepicker-active {
  background: rgb(153, 153, 153)!important;
  color: #fff!important;
}

p > .nominal {
  text-align: right!important;
  padding: 5px 20px 5px 5px!important;
}

ui-grid-footer {
  text-align: right!important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background: rgb(153, 153, 153)!important;
  color: #fff!important;
}

.ui-grid-header-cell-row {
  text-align: center!important;
}

.ui-grid-cell-contents {
  padding-right: 20px;
}

.biaya {
  background-color: #afbddb!important;
  // color: #000!important;
}

.hide-name {
  font-size: 0!important;
}

.set-grey {
  background-color: #f3f3f3!important;
}

.set-white {
  background-color: #fff!important;
}

.add-top-border {
  border-top: 1px solid #c8c8c8;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f3f3f3!important;
}

.table-striped > tbody > tr > td {
  padding: 5px!important;
  border-top: none!important;
  border-bottom: none!important;
  border-right: 1px solid #d0c6c6!important;
  border-left: 1px solid #d0c6c6!important;
  line-height: normal!important;
}

.table > thead > tr > th {
  border: 1px solid #d0c6c6!important;
  padding: 5px!important;
  line-height: normal!important;
}

.th-bg {
  background-color: #f7f7f7!important;
}

.pointer {
  cursor: pointer;
}

.label {
  font-weight: normal;
}
