@import 'common';

.content-top, .clearfix {
  color: #eee!important;
}

.content-top > h1 , .clearfix > h1 {
  color: #eee!important;
}

.al-msg-center .profile-name {
  color: #fff!important;
}

.form-horizontal {
  padding : 10px;
}
.form-group {
  margin-bottom : 5px;
}
.form-group > label {
  line-height : 20px;
}
.form-control {
  background-color : rgba(0, 0, 0, 0.4)!important;
  color : #fff!important;
}
.modal-header {
  padding : 10px;
}
.modal-dialog {
  top : 10%!important;
  min-width : 350px;
  max-width : 400px;
}
.inline > input {
  display : inline-block;
  width : 70%;
}
.inline > label {
  display : inline-block!important;
}
.table > tbody > tr > td:first-child {
  text-align: left;
}

// injector
// endinjector
