<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>

        <div class="form-group">

          <div class="col-lg-3">
            <select class="form-control" ng-model="bulan" ng-options="t as t.name for t in months">
              <option value="" disabled="">Pilih Bulan</option>
            </select>
          </div>

          <div class="col-lg-3">
            <select class="form-control" ng-model="tahun" ng-options="y as y for y in years">
              <option value="" disabled="">Pilih Tahun</option>
            </select>
          </div>

          <div class="col-lg-3">
            <select class="form-control" ng-model="status">
              <option value="" disabled="" selected="">Status</option>
              <option value="0">Dalam Proses</option>
              <option value="1">Terbayar</option>
            </select>
          </div>

          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>
      <!-- <div>
        <h5 style="color:red;margin-top:10px;" ng-show="data_komisi.length == 0">Tidak ada data penjualan</h5>
      </div> -->
  </div>
  <div class="data-loader" ng-show="loadData"></div>

  <div class="col-md-12 text-center" ng-show="empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="!empty">
    <div class="col-md-12">
      <ng-include src="templateUrl" onload="" autoscroll=""></ng-include>
    </div>
  </div>

  </div>
	</div>
  </div>
</div>
</div>
</div>
