
<table class="table table-bordered">
  <col width="20%">
  <col width="80%">
  <tbody>
    <tr>
      <td>Agen</td>
      <td><b>{{ agen.name }}</b></td>
    </tr>
    <tr>
      <td>Periode</td>
      <td><b>{{ tglAwal | date_v1 }} - {{ tglAkhir | date_v1 }}</b></td>
    </tr>
  </tbody>
</table>
