<!-- <style media="screen">
  .form-harian {
    min-width : 350px;
    max-width : 400px;
    background-color : #fff;
    margin-left : auto;
    margin-right : auto;
    padding : 10px;
  }
  .form-group {
    padding-left : 10px;
    padding-right : 10px;
  }
  .form-horizontal {
    padding : 10px;
  }
  .form-group {
    margin-bottom : 5px;
  }
  .form-group > h4 {
    margin-top : 15px;
  }
  .inline > input {
    display : inline-block;
    width : 70%;
  }
  .inline > label {
    display : inline-block;
    width : 15%;
  }
  .pointer {
    cursor : pointer
  } -->
<!-- </style> -->

<div class="widget">
  <div class="row">
    <div class="form-harian">
      <div class="form-penjualan">
        <div class="form-horizontal">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="namaBiaya">
              <button type="button" class="btn btn-primary pull-right" ng-click="simpan()">Simpan</button>
            </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
