<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div style="margin-bottom:20px;">
        <div class="col-lg-4">
          <input ng-model="namaBiaya" class="form-control" placeholder="Ketik Nama Biaya Baru" autofocus>
        </div>
          <a ng-click="simpan(namaBiaya)" class="btn btn-info">
            <i class="glyphicon glyphicon-plus"></i>
            Tambah Biaya
          </a>
        </div>
        <div class="col-md-8">
          <div ui-grid="gridOptions" class="gridStyle"></div>
        </div>

	</div>
  </div>
</div>
</div>
</div>
