
<h4>Laporan Penjualan Trayek</h4>
<div class="">
  <table class="table table-bordered">
    <col width="20%">
    <col width="80%">
    <tbody>
      <tr>
        <td>Trayek</td>
        <td><b>{{ trayek.name }}</b></td>
      </tr>
      <tr>
        <td>Armada</td>
        <td><b>{{ datas[0].namaBus }}</b></td>
      </tr>
      <tr>
        <td>Tanggal Berangkat</td>
        <td><b>{{ tanggal | date_v1 }}</b></td>
      </tr>
      <tr>
        <td>Keberangkatan</td>
        <td><b>{{ jamBerangkat }}</b></td>
      </tr>
      <tr>
        <td>Rute</td>
        <td>
          <span ng-repeat="r in trayek.rute" style="display:inline-block;margin-bottom:10px;">
            <span ng-class="{'label-success' : $first, 'label-warning' : $last, 'label-info' : (!$first && !$last)}"
            class="label">{{r.namalokasi}}</span>
            <span ng-if="!$last"> - </span>
            </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-striped" style="font-size:16px;">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="12%">
    <col width="12%">
    <col width="14%">
    <thead>
      <tr class="th-bg">
        <th class="text-center">
          <b>Kursi Terjual</b>
        </th>
        <th class="text-center">
          <b>Penjualan</b>
        </th>
        <th class="text-center">
          <b>Komisi Agen</b>
        </th>
        <th class="text-center">
          <b>Admin Sistem</b>
        </th>
        <th class="text-center">
          <b>Pendapatan</b>
        </th>
        <th class="text-center">
          <b>Aksi</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr class="no-top-border">
        <td class="text-right" style="text-align:right">{{ datas[0].totalKursi }}</td>
        <td class="text-right">{{ datas[0].totalJual | currency:'':0 }}</td>
        <td class="text-right">{{ datas[0].totalKomisi | currency:'':0 }}</td>
        <td class="text-right">{{ datas[0].totalBiayaAdmin | currency:'':0 }}</td>
        <td class="text-right"><b>{{ datas[0].setoran | currency:'':0 }}</b></td>
        <td class="text-right">
          <button ng-disabled="datas[0].terima" type="button" class="btn btn-success" ng-click="next(trayek.name)">
          Terima
          </button>
        </td>
      </tr> -->
      <tr class="no-top-border">
        <td class="text-right" style="text-align:right">{{ datas[0].totalKursi }}</td>
        <td class="text-right">{{ datas[0].totalJual | currency:'':0 }}</td>
        <td class="text-right">{{ datas[0].totalKomisi | currency:'':0 }}</td>
        <td class="text-right">{{ datas[0].totalBiayaAdmin | currency:'':0 }}</td>
        <td class="text-right"><b>{{ datas[0].setoran | currency:'':0 }}</b></td>
        <td class="text-right">
          <button ng-disabled="datas[0].terima" type="button" class="btn btn-success" ng-click="next(trayek.name)">
          Terima
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
