<style media="screen">
  .modal-dialog {
    width: 50vw!important;
    min-width: 50vw!important;
    max-width: 50vw!important;
  }
  /* .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .scrollable {
    height: 70vh!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px!important;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .btn[disabled] {
    background-color: #b2b4b1!important;
    border: none!important;
  } */
</style>

<div class="modal-body scrollable" autofocus>
  <div class="col-lg-12">
    <h5>Detail Void
      <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
    </h5>
  </div>
  <div class="col-lg-12" style="margin-top:20px">
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="10%">
      <col width="5%">
      <col width="20%">
      <col width="20%">
      <thead>
        <tr class="th-bg">
          <th class=""><b>No</b></th>
          <th class="text-center"><b>Nama Penumpang</b></th>
          <th class="text-center">
            <b>No. Kursi</b>
          </th>
          <th class="text-center">
            <b>No. Tiket</b>
          </th>
          <th class="text-center">
            <b>Telepon</b>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr class="no-top-border" ng-repeat="item in cancelDetailAgen_modal">
            <td class="nowrap">{{ $index +1 }}</td>
            <td class="nowrap"><span>{{ item.nama }}</span></td>
            <td>{{ item.nomorKursi }}</td>
            <td>
              <span>{{ item.nomorTiket }}</span>
            </td>
            <td>{{ item.telepon }}</td>
            <!-- <td class="nowrap"><span ng-show="item.status">Aktif</span> <span ng-show="!item.status">Menunggu Persetujuan</span></td>
            <td class="nowrap text-right"><span>{{item.seatSold}}</span></td> -->
          </tr>
      </tbody>
    </table>
  </div>
</div>
