<script type="text/javascript">
  document.getElementById("panel").focus();
</script>
<style media="screen">
  .panel:focus {
    outline:0;
  }
  .profile-title > h5 {
    font-size: 14px;
    font-weight: bold;
  }
  .profile-item > h5 {
    font-size: 14px;
    font-weight: normal;
  }
  .modal-content {
    width: 65vw!important;
  }
</style>
<div class="modal-body modal-table scrollable" autofocus>
  <div class="panel" id="panel" style="margin-top: 40px;" ng-keyup="test($event)" tabindex="1">
    <div class="col-lg-4">
      <h5 class="text-center">No.Kursi</h5>
      <h1 class="text-center" style="font-size:8vw;">{{ profile.nomorKursi }}</h1>
      <h5 class="text-center">No.Tiket</h5>
      <h5 class="text-center">{{ profile.nomorTiket }}</h5>
    </div>
    <div class="col-lg-3 profile-title">
      <h5>Nama <span class="pull-right">:</span></h5>
      <h5>Nomor Telepon <span class="pull-right">:</span></h5>
      <h5>Jenis Kelamin <span class="pull-right">:</span></h5>
      <h5>Kategori Usia <span class="pull-right">:</span></h5>
      <h5>Tanggal Transaksi <span class="pull-right">:</span></h5>
      <h5>Waktu Transaksi <span class="pull-right">:</span></h5>
      <h5>Agen Beli <span class="pull-right">:</span></h5>
      <h5>Agen Berangkat <span class="pull-right">:</span></h5>
      <h5>Trayek <span class="pull-right">:</span></h5>
      <h5>Armada <span class="pull-right">:</span></h5>
      <h5>Tanggal Berangkat <span class="pull-right">:</span></h5>
    </div>
    <div class="col-lg-5 profile-item">
      <h5>{{ profile.nama }}&nbsp;</h5>
      <h5>{{ profile.telepon | is_anak:profile.kategoriUsia }}&nbsp;</h5>
      <h5>{{ profile.gender }}&nbsp;</h5>
      <h5>{{ profile.kategoriUsia }}&nbsp;</h5>
      <h5>{{ profile.tglBayar | date_v2 }}&nbsp;</h5>
      <h5>{{ profile.tglBayar | date:'HH:mm':'+0000' }}&nbsp;</h5>
      <h5>{{ profile.agenBeli }}&nbsp;</h5>
      <h5>{{ profile.agenBerangkat }}&nbsp;</h5>
      <h5>{{ info.namaTrayek ||  profile.namaTrayek}}&nbsp;</h5>
      <h5>{{ info.namaBus ||  profile.namaBus }}&nbsp;</h5>
      <h5>{{ tglBerangkat | date_v1 }}&nbsp;</h5>
    </div>
    <div class="col-lg-12" style="margin-top:20px;">
      <div class="form-group">
        <button class="btn btn-info pull-left" ng-click="prev()" ng-hide="index == 0">
          <i class="glyphicon glyphicon-backward"></i> Sebelumnya
        </button>
        <button class="btn btn-info pull-right" ng-click="next()" ng-hide="index == (data.dataPenumpang.length-1)">
          Selanjutnya <i class="glyphicon glyphicon-forward"></i>
        </button>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top:20px;">
      <div class="form-group text-center">
        <button class="btn btn-danger" ng-click="back()">
          <i class="glyphicon glyphicon-backward"></i> Kembali
        </button>
      </div>
    </div>
  </div>
</div>
