<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
	<div class="form-horizontal">
    <div class="form-group">

        <div class="col-lg-3">
            <select class="form-control" id="po" ng-model="po" ng-options="k.id as k.nama for k in pos" ></select>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

    </div>


</div>
<div>
<a ng-click="aktifkan()" class="btn btn-success" ng-show="mySelectedRows.length>0">
    <i class="glyphicon glyphicon-ok"></i>
    Aktifkan
</a></div>
<div ui-grid="gridOptions" ui-grid-expandable ui-grid-pagination class="grid"></div>
	</div>
  </div>
</div>
</div>
</div>
<div>
