<style media="screen">
  .monthview-selected {
    background-color:#5bc0de!important;
    color : #fff!important;
  }
  .event-detail-container {
    display:none!important;
  }
  .monthview-primary-with-event {
    background-color:#209e3f;
  }
  .monthview-primary-non-active {
    background-color:#eb9c35!important;
  }

  .monthview-current {
    background-color:#878686!important;
    color:#fff!important;
  }
  .text-muted {
    color:#d4d4d4;
  }
  .is-jadwal {
    background-color:#209e3f;
    height: 10px;
    width: 14.5%;
    margin-top:20px;
    display: inline-block;
    padding: 8px;
    text-align: center;
  }

  .plan {
    background-color: #eb9c35;
  }

  .is-jadwal > span {
    position : relative;
    right : -120%;
  }
  .info-jadwal {
    padding: 0px!important;
  }
  .is-jadwal-title {
    height: 40px;
    width: 15%;
    margin-top:20px;
    display: inline-block;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
	<div class="form-horizontal">
    <h5>Pilih Trayek Untuk Melihat Jadwal</h5>
    <div class="form-group">
        <div class="col-lg-4">
            <select class="form-control" id="trayek" ng-model="trayek" ng-options="k as k.trayek for k in trayeks" >
              <option value="" selected="" disabled="">Pilih Trayek</option>
            </select>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>


</div>
<div>
<div class="data-loader" ng-show="loadData"></div>
<div class="well well-sm">
    <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
              range-changed="reloadSource(startTime, endTime)"
              event-selected="onEventSelected(event)"
              time-selected="onTimeSelected(selectedTime, events)">
    </calendar>
    <div class="">
      <div class="col-md-12 info-jadwal">
        <div class="is-jadwal"><span>Jadwal Terdaftar</span></div>
      </div>
      <div class="col-md-12 info-jadwal">
        <div class="is-jadwal plan"><span>Rencana Jadwal</span></div>
      </div>
    </div>
</div>

	</div>
  </div>
</div>
</div>
</div>
