<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-4">
              <select class="form-control" id="trayek" ng-model="armada" ng-options="a as a.id for a in armadas">
                <option value="" disabled="">Pilih Armada</option>
              </select>
            </div>
            <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div ui-grid="gridOptions" ui-grid-expandable ui-grid-pagination class="gridStyle" ng-show="gridOptions.data.length > 0"></div>
          <div class="form-horizontal">
            <div class="form-group"  ng-show="gridOptions.data.length > 0">
              <div class="col-lg-2 pull-right">
                <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
              </div>
            </div>
          </div>
        </div>
	     </div>
     </div>
   </div>
 </div>
</div>
<div>
<a ui-sref="dashboard.jadwal.rencana.add" class="btn btn-warning">
    <i class="glyphicon glyphicon-plus"></i>
    Tambah
</a>
</div>
