<!-- <div class="col-md-4">
  <div
      donut-chart
      donut-data='donutData'
      donut-colors='colors'
      donut-formatter='formatData'>
  </div>
</div> -->
<div class="col-md-12" id="dataTable" style="margin-top:40px;">
  <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <col width="5%">
    <col width="32%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
    <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center">
          <b>Trayek</b>
        </th>
        <th class="text-center">
          <b>Total Kursi Terjual</b>
        </th>
        <th class="text-center">
          <b>Total Penjualan</b>
        </th>
        <th class="text-center">
          <b>Total Komisi Agen</b>
        </th>
        <th class="text-center">
          <b>Total Biaya Admin</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data | orderBy:'-totalJual'" class="no-top-border">
        <td ng-class="nowrap">
          {{$index + 1}}
        </td>
        <!-- <td ng-class="nowrap" class="pointer"> -->
        <td ng-class="nowrap">
          <a>{{item.namaTrayek}}</a>
        </td>
        <td class="align-right">
          {{item.totalKursi}}
        </td>
        <td class="align-right">
          {{item.totalJual | currency:"":0}}
        </td>
        <td class="align-right">
          {{item.totalKomisi | currency:"":0}}
        </td>
        <td class="align-right">
          {{item.totalBiayaAdmin | currency:"":0}}
        </td>
      </tr>
    </tbody>
    <thead>
      <tr class="th-bg">
        <td ng-class="nowrap" colspan="2">
          <b>Total</b>
        </td>
        <td class="align-right">
          <b>{{grandTotal.totalKursi}}</b>
        </td>
        <td class="align-right">
          <b>{{grandTotal.totalJual | currency:"":0}}</b>
        </td>
        <td class="align-right">
          <b>{{grandTotal.totalKomisi | currency:"":0}}</b>
        </td>
        <td class="align-right">
          <b>{{grandTotal.totalBiayaAdmin | currency:"":0}}</b>
        </td>
      </tr>
    </thead>
  </table>
</div>
