<style media="screen">
  .main-menu {
    text-align:center;
    padding:10px;
  }
  .menu {
    font-size:16px;
    background-color:#e0af1b;
    border:2px solid #e0af1b;
    border-radius:6px;
    padding:10px;
    color:#fff;
    margin-bottom:30px;
  }
  .menu:hover {
    background-color:#fff;
    color:#e0af1b;
    cursor:pointer;
    border:2px solid #e0af1b;
  }
  .disabled {
    border:2px solid #ddd;
    background-color:#ddd;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.laporan.setoranPenjualan">
          <div class="menu disabled">
            Setoran Penjualan
          </div>
        </div>
        <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.laporan.dataSetoran">
          <div class="menu">
            Data Setoran Agen
          </div>
        </div>
        <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.laporan.setoranPemesanan">
          <div class="menu disabled">
            Setoran Pemesanan
          </div>
        </div>
        <div class="form-horizontal">
      <h5>Cari Berdasarkan : </h5>
      <div class="form-group">
        <div class="col-lg-3">
          <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{now}}">
            <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" />
          </datepicker>
        </div>
        <div class="col-lg-3">
          <select class="form-control" ng-model="jenisSetoran">
            <option value="" disabled="">Jenis Setoran</option>
            <option value="penjualan">Setoran Penjualan</option>
            <option value="pemesanan">Setoran Pemesanan</option>
          </select>
        </div>
        <div class="col-lg-3">
          <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in listAgens">
            <option value="" disabled="">Pilih Agen</option>
          </select>
        </div>
          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil(tanggal)">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>
      </div>
      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data setoran penjualan</h5>
      </div>
  </div>

  <div class="data-loader" ng-show="loadData"></div>
  <div class="" id="dataTable">
    <div class="" ng-repeat="data in datas | orderBy:'-totalPenjualan'">
      <h5>{{ data.namaAgen }}</h5>
    <table class="table table-bordered table-striped" style="margin-bottom:20px;" ng-hide="jenisSetoran === 'pemesanan'">
      <col width="20">
      <col width="200">
      <col width="200">
      <col width="200">
      <col width="200">
      <col width="200">
      <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center"><b>Trayek</b></th>
        <th class="text-center"><b>Tanggal Transaksi</b></th>
        <th class="text-center"><b>Penjualan (Rp)</b></th>
        <th class="text-center"><b>Komisi (Rp)</b></th>
        <th class="text-center"><b>Setoran (Rp)</b></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in data.penjualan track by $index" class="no-top-border">
        <td class="nowrap">{{$index + 1}}</td>
        <td class="nowrap">{{item.setoran.namaTrayek}}</td>
        <td class="nowrap">{{item.setoran.tglTransaksi | date_v2}}</td>
        <td class="nowrap align-right">{{item.setoran.jmlHargaJual | currency:"":0}}</td>
        <td class="nowrap align-right">{{item.setoran.jmlKomisi | currency:"":0}}</td>
        <td class="align-right">{{item.setoran.jmlSetoran | currency:"":0}}</td>
      </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="3" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{data.totalPenjualan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalKomisiPenjualan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalSetoranPenjualan | currency:"":0}}</b></td>
      </tr>
    </table>

    <table class="table table-bordered table-striped" style="margin-bottom:20px;" ng-hide="jenisSetoran === 'penjualan'">
      <col width="20">
      <col width="200">
      <col width="200">
      <col width="200">
      <col width="200">
      <col width="200">
      <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center"><b>Tanggal Transaksi</b></th>
        <th class="text-center"><b>Pemesanan (Rp)</b></th>
        <th class="text-center"><b>Komisi (Rp)</b></th>
        <th class="text-center"><b>Setoran (Rp)</b></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in data.pemesanan track by $index" class="no-top-border">
        <td class="nowrap">{{$index + 1}}</td>
        <td class="nowrap">{{item.setoran.tglTransaksi | date_v2}}</td>
        <td class="nowrap align-right">{{item.setoran.jmlHargaJual | currency:"":0}}</td>
        <td class="nowrap align-right">{{item.setoran.jmlKomisi | currency:"":0}}</td>
        <td class="align-right">{{item.setoran.jmlSetoran | currency:"":0}}</td>
      </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="2" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{data.totalPemesanan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalKomisiPemesanan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalSetoranPemesanan | currency:"":0}}</b></td>
      </tr>
    </table>
  </div>
  </div>
</div>
</div>
</div>
