<style media="screen">
  .main-menu {
    text-align:center;
    padding:10px;
  }
  .menu {
    font-size:16px;
    background-color:#e0af1b;
    border:2px solid #e0af1b;
    border-radius:6px;
    padding:10px;
    color:#fff;
    margin-bottom:30px;
  }
  .menu:hover {
    background-color:#fff;
    color:#e0af1b;
    cursor:pointer;
    border:2px solid #e0af1b;
  }
  .disabled {
    border:2px solid #ddd;
    background-color:#ddd;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.laporan.setoranPenjualan">
            <div class="menu">
              Setoran Penjualan
            </div>
          </div>
          <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.laporan.dataSetoran">
            <div class="menu disabled">
              Data Setoran Agen
            </div>
          </div>
          <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.laporan.setoranPemesanan">
            <div class="menu disabled">
              Setoran Pemesanan
            </div>
          </div>
          <div class="form-horizontal">
            <h5>Cari Berdasarkan : </h5>
              <div class="form-group">
                <div class="col-lg-4">
                  <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{now}}">
                    <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" />
                  </datepicker>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-warning" ng-click="tampil(tanggal)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
              </div>
              <not-found ng-show="datas.length === 0" info="'Tidak ada data setoran penjualan'"></not-found>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="" id="dataTable">
            <div class="" ng-repeat="data in datas">
              <h5>{{ data.namaTrayek }}</h5>
              <h6>Armada {{ data.namaBus }}</h6>
              <table class="table table-bordered table-striped" style="margin-bottom:20px;">
                <col width="20">
                <col width="200">
                <col width="200">
                <col width="200">
                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>Jumlah Penjualan (Rp)</b></th>
                    <th class="text-center"><b>Jumlah Penumpang</b></th>
                    <th class="text-center"><b>Komisi Agen</b></th>
                    <th class="text-center"><b>Jumlah Setoran (Rp)</b></th>
                    <th class="text-center"><b>Setoran Diterima (Rp)</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="no-top-border">
                    <td class="align-right" style="text-align:right!important">{{data.jmlPenjualan | currency:"":0}}</td>
                    <td class="align-right">{{data.jmlKursiTerjual}}</td>
                    <td class="align-right">{{data.komisiAgen | currency:"":0}}</td>
                    <td class="align-right">{{data.setoran | currency:"":0}}</td>
                    <td class="align-right">{{data.setoranDiterima | currency:"":0}}</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="no-top-border">
                  </tr>
                  <td class="text-center" style="text-align:center!important" colspan="2"><b>Biaya Tambahan</b></td>
                  <td class="text-center"><b>Jumlah Biaya (Rp)</b></td>
                </tbody>
                <tbody>
                  <tr ng-repeat="item in data.biayaOp track by $index" class="no-top-border">
                    <td colspan="2">{{item.keteranganBiaya}}</td>
                    <td class="align-right">{{item.jumlah | currency:"":0}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-horizontal">
            <div class="form-group" ng-show="datas.length > 0">
              <div class="col-lg-2 pull-right">
                <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
              </div>
              <div class="col-lg-2 pull-right">
                <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
              </div>
            </div>
          </div>
	       </div>
       </div>
     </div>
   </div>
</div>
