<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">
            <h5>Cari Berdasarkan : </h5>
            <div class="form-group">
                <div class="col-lg-4">
                    <datepicker date-format="yyyy-MM-dd">
                      <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" ng-change="changeTgl()"/>
                    </datepicker>
                </div>
                <div class="col-lg-1" ng-hide="dataLoaded">
                    <button class="btn btn-warning" ng-click="tampil(tanggal)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <div>
              <h5 style="color:red;margin-top:10px;" ng-show="noData.status">{{ noData.message }}</h5>
            </div>
        </div>

        <div class="form-horizontal" ng-hide="noData.status">
            <h5>Filter Berdasarkan : </h5>
            <div class="form-group">
                <div class="col-lg-3">
                  <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks" ng-change="refreshData()">
                    <option value="" disabled="">Pilih Trayek</option>
                  </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" id="trayek" ng-model="jam" ng-options="j as j for j in listJamBerangkat" ng-change="refreshData()">
                      <option value="" disabled="">Pilih Jam Berangkat</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" id="trayek" ng-model="agen" ng-options="a.value as a.name for a in agens" ng-change="refreshData()">
                      <option value="" disabled="">Pilih Agen</option>
                    </select>
                </div>
            </div>
        </div>


  <div class="data-loader" ng-show="loadData"></div>
	<div ui-if="gridOptions.data.length>0" ui-grid="gridOptions" ui-grid-expandable ui-grid-exporter ui-grid-auto-resize class="grid" ng-style="getTableHeight()" ng-show="gridOptions.data.length > 0"></div>
  <div class="form-horizontal">
    <div class="form-group" ng-hide="noData.status">
      <div class="col-lg-6">
        <h5>Total Penumpang : {{ gridOptions.data.length }}</h5>
      </div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div>
  </div>
	</div>
  </div>
</div>
</div>
</div>
