<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>
        <div class="form-group">
          <div class="col-lg-3">
              <datepicker date-format="yyyy-MM-dd">
                <input ng-model="tglAwal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal Awal" />
              </datepicker>
          </div>
          <div class="col-lg-3">
              <datepicker date-min-limit="{{ tglAwal }}" date-format="yyyy-MM-dd">
                <input ng-model="tglAkhir" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal Akhir" />
              </datepicker>
          </div>
          <div class="col-lg-3">
            <select class="form-control" id="trayek" ng-model="trayek" ng-options="t.value as t.name for t in trayeks" ng-change="refreshData()">
              <option value="" disabled="">Pilih Trayek</option>
            </select>
          </div>
          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil(tanggal)">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>
      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="datas.length === 0">Tidak ada Data Penjualan</h5>
        <div style="margin:20px 0 30px 0;" ng-show="tglAwal && tglAkhir">
          <div class="col-md-2" ng-show="datas.length > 0">
            <h5>Tanggal Awal</h5>
          </div>
          <div class="col-md-10" ng-show="datas.length > 0">
            <h5>:&nbsp;&nbsp;{{ tglAwal | date_v1 }}</h5>
          </div>
          <div class="col-md-2" ng-show="datas.length > 0">
            <h5>Tanggal Akhir</h5>
          </div>
          <div class="col-md-10" ng-show="datas.length > 0">
            <h5>:&nbsp;&nbsp;{{ tglAkhir | date_v1 }}</h5>
          </div>
        </div>
      </div>
  </div>
  <div class="data-loader" ng-show="loadData"></div>
  <div class="" id="dataTable">
    <div class="" ng-repeat="data in datas">
      <h5>{{ data.namaTrayek }}</h5>
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="20">
      <col width="200">
      <col width="200">
      <col width="200">
      <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center"><b>Nama Agen</b></th>
        <th class="text-center"><b>Total Penumpang</b></th>
        <th class="text-center"><b>Penjualan</b></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in data.transaksi track by $index" class="no-top-border">
        <td ng-class="nowrap">{{$index + 1}}</td>
        <td ng-class="nowrap">{{item.namaAgen}}</td>
        <td class="align-right">{{item.jmlPenumpang}}</td>
        <td class="align-right">{{item.totalBayar | currency:"":0}}</td>
      </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="2" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{data.totalKursi}}</b></td>
        <td class="align-right"><b>{{data.totalJual | currency:"":0}}</b></td>
      </tr>
    </table>
  </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group" ng-show="datas.length > 0">
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div>
  </div>
	</div>
  </div>
</div>
</div>
</div>
