<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">
      <div class="form-group">
          <div class="col-lg-4">
              <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
                <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" />
              </datepicker>
          </div>

          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil(tanggal)">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>

  </div>
	<div ui-if="gridOptions.data.length>0" ui-grid="gridOptions" ui-grid-expandable ui-grid-auto-resize class="grid" ng-style="getTableHeight()"></div>

	</div>
  </div>
</div>
</div>
</div>
