<div class="modal-body">
  <h5>Detail Data Komisi ( {{ data.namaAgen }} )
    <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
  </h5>
</div>
<div class="modal-body modal-table">
  <table class="table table-bordered table-striped">
    <col width="4%">
    <col width="15%">
    <col width="20%">
    <col width="15%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <thead>
      <tr class="th-bg">
        <th class="text-center"><b>No.</b></th>
        <th class="text-center">
          <b>No. Bukti</b>
        </th>
        <th class="text-center">
          <b>Nama Agen</b>
        </th>
        <th class="text-center">
          <b>Tgl Pembayaran</b>
        </th>
        <th class="text-center">
          <b>Jumlah Komisi</b>
        </th>
        <th class="text-center">
          <b>Terbayar</b>
        </th>
        <th class="text-center">
          <b>Keterangan</b>
        </th>
      </tr>
    </thead>
  </table>
</div>
<div class="modal-body scrollable modal-table">
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <col width="4%">
    <col width="15%">
    <col width="20%">
    <col width="15%">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <tbody>
      <tr ng-repeat="item in data.dataKomisi" class="no-top-border">
        <td class="nowrap"><span>{{ $index + 1}}</span></td>
        <!-- <td class="" ng-click="showProfile($index)">
          <span>{{item.kodeTiket}}</span>
        </td> -->
        <td class="nowrap text-left">{{item.noTransaksi}}</td>
        <td class="nowrap text-left">{{item.namaAgen}}</td>
        <td class="nowrap text-center">{{item.tglPembayaran}}</td>
        <td class="nowrap text-right">{{item.jmlhKomisi | currency:'':0}}</td>
        <td class="nowrap text-right">{{item.alreadypayed | currency:'':0}}</td>
        <td class="nowrap text-center">{{item.statusBayar}}</td>
      </tr>
    </tbody>
  </table>
</div>
