<div class="col-md-12" id="agenList">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Permintaan Perubahan Data Agen</h3>
      <table class="table table-bordered table-striped" style="font-size:14px;">
        <col width="5%">
        <col width="35%">
        <col width="20%">
        <col width="10%">
        <col width="30%">
        <thead>
          <tr class="th-bg">
            <th class="text-center">
              <b>No. </b>
            </th>
            <th class="text-center">
              <b>Agen</b>
            </th>
            <th class="text-center">
              <b>Waktu Ubah</b>
            </th>
            <th class="text-center">
              <b>Status</b>
            </th>
            <th class="text-center">
              <b>Aksi</b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in updateAgen">
            <td>{{ $index + 1 }}</td>
            <td>{{ item.namaChannel }}</td>
            <td>{{ item.tglUpdate | date_v2 }}</td>
            <td class="text-center" ng-style="item.status === 'REJECTED' && { 'background-color' : '#d94545', color : '#fff' } || item.status === 'APPROVED' && { 'background-color' : '#45d98e', color : '#fff' }">{{ item.status }}</td>
            <td class="text-right">
              <button class="btn btn-primary btn-xs" ng-click="open(item, $index)">Lihat Profile</button>
              <button class="btn btn-success btn-xs" ng-click="approve(item.idChannelTemp, $index)" ng-hide="item.status !== 'PENDING'" ng-disabled="item.clicked">Setujui</button>
              <button class="btn btn-danger btn-xs" ng-click="reject(item.idChannelTemp, $index)" ng-hide="item.status !== 'PENDING'" ng-disabled="item.clicked">Tolak</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
