<style media="screen">
  .modal-body {
    min-height : 400px;
  }
  .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .modal-dialog {
    width: 50vw!important;
    min-width: 50vw!important;
    max-width: 50vw!important;
  }
  .scrollable {
    height: 500px!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .detail-title > h5 {
    font-size: 14px;
    font-weight: bold;
  }
  .detail-item > h5 {
    font-size: 14px;
    font-weight: normal;
  }
</style>

<div class="modal-content">
  <!-- <pre>{{ jadwal | json }}</pre> -->
  <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
</div>
