<style media="screen">
  .ticket-main {
    padding: 20px
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
</style>

<div class="row">

  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.koreksi">
    <div class="menu">
      Void
    </div>
  </div>
  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.pembatalan">
    <div class="menu disabled">
      Void Di Refund
    </div>
  </div>
  <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.akap.laporan.refund">
    <div class="menu disabled">
      Progress Refund
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-horizontal">
      <h5>Cari Berdasarkan : </h5>
      <div class="form-group">

        <div class="col-lg-2">
          <select class="form-control" ng-model="koreksi">
            <option value="" disabled="" selected="">Pilih Agen/Trayek</option>
            <option value="rute_agen">Agen</option>
            <option value="rute_trayek">Trayek</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="koreksi == 'rute_agen'">
          <!-- <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in agens"> -->
          <select class="form-control" id="agen" ng-model="agen" ng-options="t as t.namaChannel for t in ageens">
            <option value="" disabled="">Pilih Agen</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="koreksi == 'rute_trayek'">
          <!-- <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks"> -->
          <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.namaChannel for t in trayeeks">
            <option value="" disabled="">Pilih Trayek</option>
          </select>
        </div>

        <!-- <div class="col-lg-4">
            <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
              <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih tanggal" onkeydown="return false" />
            </datepicker>
        </div> -->

        <div class="col-lg-2">
            <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
              <input class="form-control" ng-model="tglawal" name="tglawal" placeholder="Tgl Awal" id="tglawal" ng-change="getTglAwal(tglawal)" onkeydown="return false"/>
              <div class="form-alert-danger" ng-show="errorForm2">{{ errorForm2 }}</div>
            </datepicker>
        </div>

        <div class="col-lg-2">
            <datepicker  date-min-limit="{{ tglawal }}"date-format="yyyy-MM-dd">
              <input class="form-control" ng-model="tglakhir" name="tglakhir" placeholder="Tgl Akhir" id="tglakhir" ng-change="getTglAkhir(tglakhir)" onkeydown="return false"/>
              <div class="form-alert-danger" ng-show="errorForm3">{{ errorForm3 }}</div>
            </datepicker>
        </div>

        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil(tanggal, tglawal, tglakhir, agen, trayek, koreksi)">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

      </div>

      <div>
        <h5 style="color:grey;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data</h5>
      </div>

    </div>

    <div class="data-loader" ng-show="loadData"></div>

  </div>
</div>
<div class="row" id="dataTable">
  <!-- <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty"> -->
    <!-- <table class="table table-bordered table-striped" st-table="datas"> -->
    <table class="table table-bordered table-striped" st-table="datas">
      <col width="3%">
      <col width="13%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <col width="13%">
      <col width="13%">
      <col width="10%">

      <thead>
        <tr class="th-bg">
          <th class="text-center"><b>No.</b></th>
          <th class="text-center"><b>Kode Booking</b></th>
          <th class="text-center"><b>Jml Penumpang (Rp)</b></th>
          <th class="text-center"><b>Tgl Berangkat & Agen</b></th>
          <th class="text-center"><b>Tgl Dibatalkan</b></th>
          <th class="text-center"><b>Tgl Diterima PO</b></th>
          <th class="text-center"><b>Tgl Transaksi</b></th>
          <th class="text-center"><b>Aksi</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in datas track by $index">
          <td>
            {{ ($index + 1) }}<br>
          </td>
          <td>
            <b>{{ invoice.kodeBooking }}</b><br>
            {{ invoice.namaTrayek + ' ' + invoice.kodeTrayek }}<br>
          </td>
          <td>
            {{ invoice.jmlPenumpang }} penumpang<br>
            {{ invoice.totalHargaTiket | currency:'Rp ':2 }}<br>
          </td>
          <td class="text-right">
            {{ invoice.tglBerangkat | date_v1 }}<br>
            {{ invoice.agenBerangkat }}<br>
          </td>
          <td class="text-right">
            {{ invoice.tglCancel | date_time }}<br>
          </td>
          <td class="text-right">
            {{ invoice.waktuApprove | date_time }}<br>
          </td>
          <td>{{ invoice.tglTransaksi | date_v1 }}</td>
          <td class="text-center" ng-click="cancel_detailAgen($index)">
            <button type="button" class="btn btn-info">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group"  ng-show="datas.length > 0">
      <!-- <div class="col-lg-2 pull-right"><br><br>
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()" ng-hide="transaksi == 'penjualan' && periode == 'monthly' && jenisTransaksi == 'agen' || transaksi == 'pemesanan' && periode == 'monthly' && jenisTransaksi == 'agen'"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div> -->
      <div class="col-lg-2 pull-right"><br><br>
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div>
  </div>
