<style media="screen">
  .morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(218, 214, 214, 0.59)!important;
    border: solid 2px rgba(230,230,230,0.8);
    font-family: sans-serif;
    font-size: 11px!important;
    text-align: left!important;
    height : 150px;
    overflow-y : scroll;
}
.morris-hover {
    position: absolute;
    z-index: 1;
}
</style>

<!-- <div
    line-chart
    line-data='lineData'
    line-xkey='date'
    line-ykeys='lineKey'
    line-labels='lineLabel'
    line-colors='colors'
    line-date-format='formatLabel'
    line-x-label-format='formatDate'
    line-hide-hover='true'
    line-resize='true'
    >
</div> -->
<div
    bar-chart
    bar-data='lineData'
    bar-x='date'
    bar-y='lineKey'
    bar-labels='lineLabel'
    bar-colors='colors'
    bar-stacked='true'>
</div>
