<div class="modal-body scrollable" autofocus>
  <div class="col-md-12 text-center" style="margin-bottom:20px;">
    <h5>Detail Jadwal
      <small class="btn btn-danger pull-right" ng-click="close()" style="margin-left:5px;">Tutup</small>
      <small class="btn btn-warning pull-right" ng-click="back()">Kembali</small>
    </h5>
  </div>
    <div class="col-lg-4 detail-title">
      <h5>Tanggal <span class="pull-right">:</span></h5>
      <h5>Status <span class="pull-right">:</span></h5>
      <h5>Armada <span class="pull-right">:</span></h5>
      <h5>Kelas <span class="pull-right">:</span></h5>
      <h5>Jumlah Kursi <span class="pull-right">:</span></h5>
    </div>
    <div class="col-lg-4 detail-item">
      <h5>{{ detail.tanggal | date_v1 }}&nbsp;</h5>
      <h5><span ng-show="detail.status">Aktif</span> <span ng-show="!detail.status">Menunggu Persetujuan</span>&nbsp;</h5>
      <h5>{{ detail.namabus }}&nbsp;</h5>
      <h5>{{ detail.subkelas }}&nbsp;</h5>
      <h5>{{ detail.jumlahkursi }}&nbsp;</h5>
    </div>
    <div class="col-lg-12" style="margin-top:20px">
      <h5>Harga Tiket</h5>
      <table class="table table-bordered table-striped" style="margin-bottom:20px;">
        <col width="35">
        <col width="35">
        <col width="20">
        <thead>
          <tr class="th-bg">
            <th class="text-center">
              <b>Kota Asal</b>
            </th>
            <th class="text-center">
              <b>Kota Tujuan</b>
            </th>
            <th class="text-center">
              <b>Harga(Rp)</b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in detail.hargadasar" class="no-top-border">
            <td ng-class="nowrap" >
              {{item.namaawal}}
            </td>
            <td ng-class="nowrap">
              {{item.namaakhir}}
            </td>
            <td class="align-right">
              {{item.hargadasar+item.komisipemesanan+item.komisipemberangkatan+item.adminsistem+item.iuranipomi | currency:"":0}}
            </td>
          </tr>
        </tbody>
      </table>
      <h5>Tempat Keberangkatan</h5>
      <table class="table table-bordered table-striped" style="margin-bottom:20px;">
        <col width="55">
        <col width="45">
        <thead>
          <tr class="th-bg">
            <th class="text-center">
              <b>Agen Berangkat</b>
            </th>
            <th class="text-center">
              <b>Waktu Berangkat</b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in detail.keterangan" class="no-top-border">
            <td ng-class="nowrap" >
              {{item.agenBerangkat}}
            </td>
            <td ng-class="nowrap">
              <span class="pull-right">{{item.waktuBerangkat | jam_berangkat}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
