<style media="screen">
  .form-alert-danger {
    color : red;

  }
</style>

<div class="form-horizontal">
  <div class="form-group">
      <div class="col-lg-3 control-label">Trayek</div>
      <div class="col-lg-4" ng-show="trayek">
          <input class="form-control" id="trayek" ng-model="trayek" ng-click="trayek_change(trayek)" disabled>
      </div>
      <div class="col-lg-3">
        <button type="button" class="btn btn-info" ng-click="openTrayekSelection()">Pilih Trayek</button>
        <div class="form-alert-danger" ng-show="errorForm1">{{ errorForm1 }}</div>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-3 control-label">Dari Tanggal</div>
      <div class="col-lg-4">
          <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
            <input class="form-control" ng-model="tglawal" name="tglawal" placeholder="Pilih Tanggal Awal" id="tglawal" ng-change="getTglAwal(tglawal)" onkeydown="return false"/>
            <div class="form-alert-danger" ng-show="errorForm2">{{ errorForm2 }}</div>
          </datepicker>
      </div>
  </div>
  <div class="form-group">
      <div class="col-lg-3 control-label">Sampai Tanggal</div>
      <div class="col-lg-4">
          <datepicker  date-min-limit="{{ tglawal }}"date-format="yyyy-MM-dd">
            <input class="form-control" ng-model="tglakhir" name="tglakhir" placeholder="Pilih Tanggal Akhir" id="tglakhir" ng-change="getTglAkhir(tglakhir)" onkeydown="return false"/>
            <div class="form-alert-danger" ng-show="errorForm3">{{ errorForm3 }}</div>
          </datepicker>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-3 control-label">Armada</div>
      <div class="col-lg-4" ng-show="selectedArmada">
        <input type="text" class="form-control" ng-model="selectedArmada" disabled>
      </div>
      <div class="col-lg-3">
        <button type="button" class="btn btn-info" ng-click="openBusSelection()">Pilih Armada</button>
        <div class="form-alert-danger" ng-show="errorForm4">{{ errorForm4 }}</div>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-3 control-label">Detail Trayek</div>
      <div class="col-lg-4">
          <select class="form-control" id="subtrayek" name="subtrayek" ng-model="subtrayek" ng-options="k.id as k.kodesub for k in subtrayeks" ng-click="subtrayek_change(subtrayek)">
            <option value="" selected="" disabled="">Pilih Detail Trayek</option>
          </select>
          <div class="form-alert-danger" ng-show="errorForm5">{{ errorForm5 }}</div>
      </div>
      <div class="col-lg-1" ng-show="dataLoaded">
          <button class="btn btn-warning" ng-click="tampil(data)" ng-disabled="clicked_tampil">
              <i class="glyphicon glyphicon-search"></i>
          </button>
      </div>
  </div>

  <!-- <table class="table table-border">
      <thead>
          <tr>
              <th colspan="3"><strong>Harga Jual</strong></th>
          </tr>
          <tr>
              <th>No.</th>
              <th>Dari</th>
              <th>Tujuan</th>
              <th>Harga Pokok</th>
              <th>Komisi Pemesanan</th>
              <th>Komisi Pemberangkatan</th>
              <th>Admin Sistem</th>
              <th>Harga Jual</th>
              <th ng-show="ubahHarga">Harga Min</th>
              <th ng-show="isDp">DP Min</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat='a in hargadasars track by $index'>
              <td>{{$index+1}}</td>
              <td>{{a.namaawal}}</td>
              <td>{{a.namaakhir}}</td>
              <td><input type="number"name="hargadasar" class="form-control text-right" ng-model="a.hargadasar"></td>
              <td><input type="number"name="komisipemesanan" class="form-control text-right" ng-model="a.komisipemesanan"></td>
              <td><input type="number"name="komisipemesanan" class="form-control text-right" ng-model="a.komisipemberangkatan"></td>
              <td><input type="number"name="adminsistem" class="form-control text-right" ng-value="a.adminsistem+a.iuranipomi" disabled></td>
              <td><input type="number"name="hargajual" class="form-control text-right" ng-value="a.hargadasar+a.komisipemesanan+a.komisipemberangkatan+a.adminsistem+a.iuranipomi" disabled></td>
              <td><input type="number" name="ubahharga" class="form-control text-right" ng-model="a.hargaMinimal" ng-value="a.hargadasar" ng-change="minimalHarga($index)"></td>
              <td><input type="number" name="isdp" class="form-control text-right" ng-model="a.minimalDp" ng-value="a.hargadasar" ng-change="minimalDp($index)"></td>
          </tr>
      </tbody>
  </table>

  <div class="form-group well">
      <label for="" class="col-lg-3 control-label"></label>
      <div class="col-lg-7" ng-show="hargadasars.length > 0">
          <button class="btn btn-primary" ng-click="saveBaru()" ng-disabled="clicked">
              <i class="glyphicon glyphicon-check"></i> Simpan
          </button>
          <a ui-sref="dashboard.akap.jadwalLayanan.jadwalTerdaftar" class="btn btn-danger"> Batal</a> -->
          <!-- <a ui-sref="dashboard.jadwal.pertanggal" class="btn btn-danger"> Batal</a> -->
      <!-- </div>
  </div> -->
</div>
