<style media="screen">
  .modal-dialog {
    width: 70vw!important;
    min-width: 70vw!important;
    max-width: 70vw!important;
  }

  .modal {
    top: auto!important;
  }

  .modal-body {
    padding: 30px;
  }

  .align-center {
    text-align: center;
  }

  .panel {
    padding : 5px;
    border-radius : 0px!important;
    border : 1px solid #949494;
    box-shadow : none!important;
  }
  .panel-body {
    border-bottom : 2px solid #f5f5f5;
    padding : 15px!important;
  }
  .panel-heading {
    padding : 15px;
    background-color : #209e91!important;
  }
  .panel-heading {
    color : #fff!important;
    font-weight : bold!important;
  }

  .trayek {
    padding-top: 15px!important;
    margin-top: 0px!important;
    margin-bottom: 15px!important;
  }
  .trayek:hover {
    cursor : pointer;
    background-color: #c0c4c4;
  }
</style>

<div class="col-md-12">
  <h3>
    <small class="btn btn-danger pull-left" ng-click="back()">Kembali</small>
  </h3>
</div>

<div class="col-md-12">
  <h3 class="modal-title text-center">Pilih Trayek
  </h3>
</div>
<div class="col-md-12">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-md-3">
        <!-- <input class="form-control" ng-model="name" placeholder="Masukan nama trayek"> -->
        <input class="form-control" id="trayek" ng-model="name" uib-typeahead="t.trayek as t.trayek for t in trayeks | filter:$viewValue | limitTo:8" placeholder="Masukan nama trayek" typeahead-no-results="noResults"/>
        <span ng-if="noResults" auto-close="disabled" is-open="true" uib-dropdown     uib-dropdown-toggle>
          <ul class="dropdown-menu" >
            <li><a href>Trayek tidak ditemukan</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 trayek" ng-repeat="trayek in trayeks | filter:name" ng-click="selectTrayek(trayek)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>{{ $index + 1 }}. {{ trayek.trayek }}</h5>
    </div>
    <div class="panel-body">
      <h5>{{ trayek.kodetrayek }}</h5>
      <h5><span ng-repeat="r in trayek.lintasan" style="display:inline-block;margin-bottom:10px;">
        <span ng-class="{'label-success' : $first, 'label-warning' : $last, 'label-info' : (!$first && !$last)}"l
        class="label">{{r.namalokasi}}</span>
        <span ng-if="!$last"> - </span>
        </span>
      </h5>
    </div>
  </div>
</div>
