<h4>Laporan Penjualan Agen</h4>
<table class="table table-bordered">
  <col width="20%">
  <col width="80%">
  <tbody>
    <tr>
      <td>Agen</td>
      <td><b>{{ agen.name }}</b></td>
    </tr>
    <tr>
      <td>Petugas</td>
      <td><b>{{ agen.kontakPerson }}</b></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td><b>{{ agen.nomorTelepon }}</b></td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td><b>{{ agen.alamat }}</b></td>
    </tr>
  </tbody>
</table>
