
<div class="" id="dataTable">
  <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <div class="" ng-repeat="data in datas">
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="30%">
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <thead>
        <tr class="th-bg">
          <th class=""><b>No.</b></th>
          <th class="text-center" ng-click="sortBy('namaAgen', $index)">
            <b>Trayek</b>
            <span class="sortorder" ng-show="propertyName === 'namaAgen'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class="text-center" ng-click="sortBy('jmlPenumpang')">
            <b>Jumlah Penumpang</b>
            <span class="sortorder" ng-show="propertyName === 'jmlPenumpang'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class="text-center" ng-click="sortBy('totalBayar')">
            <b>Penjualan</b>
          </th>
          <th class="text-center">
            <b>Komisi Agen</b>
          </th>
          <th class="text-center">
            <b>Admin Sistem</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data.transaksi | orderBy:propertyName:reverse" class="no-top-border">
          <td ng-class="nowrap" ng-style="{'background-color' : item.color}" style="color:#fff;opacity:0.7;">
            {{ $index + 1 }}
          </td>
          <td ng-class="nowrap" class="pointer" ng-click="toTrayekSales(item)">
            <a>{{item.namaTrayek}}</a>
          </td>
          <td class="align-right show-data">
            <span tooltip-placement="right" uib-tooltip="Klik untuk melihat data penumpang">{{item.totalKursi}}</span>
          </td>
          <td class="align-right">
            {{item.totalJual | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalKomisi | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalBiayaAdmin | currency:"":0}}
          </td>
        </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="2" class="text-center"><b>Total</b></th>
        <td class="align-right show-data"><b>{{data.totalKursi}}</b></td>
        <td class="align-right"><b>{{data.totalJual | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalKomisi | currency:"":0}}</b></td>
        <td class="align-right"><b>{{data.totalBiayaAdmin | currency:"":0}}</b></td>
      </tr>
    </table>
  </div>
</div>
