<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div><h2>{{ data.kodesub }}</h2></div>
        <div width="100%" style="text-align:center;margin:20px;"><h3>Tempat Berangkat</h3></div>
        <table class="table table-border">
          <thead>
            <tr>
              <th><strong>No. </strong></th>
              <th><strong>Nama Agen</strong></th>
              <th><strong>Lokasi</strong></th>
              <th><strong>Alamat</strong></th>
              <th><strong>Waktu Berangkat</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="b in data.tempatberangkat">
              <td>{{ $index + 1 }}.</td>
              <td>{{ b.nama }}</td>
              <td>{{ b.lokasi }}</td>
              <td>{{ b.alamat }}</td>
              <td>{{ b.waktutiba }}</td>
            </tr>
          </tbody>
        </table>
        <div width="100%" style="text-align:center;margin:20px;"><h3>Harga Jual</h3></div>
        <table class="table table-border">
          <thead>
            <tr>
              <th><strong>No.</strong></th>
              <th><strong>Dari</strong></th>
              <th><strong>Tujuan</strong></th>
              <th><strong>Harga Pokok</strong></th>
              <th><strong>Komisi Pemesanan</strong></th>
              <th><strong>Komisi Pemberangkatan</strong></th>
              <th><strong>Admin Sistem</strong></th>
              <th><strong>Harga Jual</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='a in data.hargadasar'>
              <td>{{$index+1}}</td>
              <td>{{a.namaawal}}</td>
              <td>{{a.namaakhir}}</td>
              <td><input type="text" format="number" name="hargadasar" class="form-control text-right" ng-model="a.hargadasar" disabled=""></td>
              <td><input type="text" format="number" name="komisipemesanan" class="form-control text-right" ng-model="a.komisipemesanan" disabled=""></td>
              <td><input type="text" format="number" name="komisipemberangkatan" class="form-control text-right" ng-model="a.komisipemberangkatan" disabled=""></td>
              <td><input type="text" format="number" name="adminsistem" class="form-control text-right" value="{{a.adminsistem+a.iuranipomi | currency:'':0}}" disabled=""></td>
              <td><input type="text" format="number" name="hargajual" class="form-control text-right" value="{{a.hargadasar+a.komisipemesanan+a.komisipemberangkatan+a.adminsistem+a.iuranipomi | currency:'':0}}" disabled=""></td>
            </tr>
          </tbody>
        </table>
	    </div>
  </div>
</div>
</div>
</div>
