<style media="screen">
  .ticket-main {
    padding: 20px
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
</style>

<div class="row">

  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.koreksi">
    <div class="menu disabled">
      Void
    </div>
  </div>
  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.pembatalan">
    <div class="menu">
      Void Di Refund
    </div>
  </div>
  <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.akap.laporan.refund">
    <div class="menu disabled">
      Progress Refund
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-horizontal">
      <h5>Cari Berdasarkan : </h5>
      <div class="form-group">

        <div class="col-lg-2">
          <select class="form-control" ng-model="pembatalan">
            <option value="" disabled="" selected="">Pilih Agen/Trayek</option>
            <option value="rute_agen">Agen</option>
            <option value="rute_trayek">Trayek</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="pembatalan == 'rute_agen'">
          <!-- <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in agens"> -->
          <select class="form-control" id="agen" ng-model="agen" ng-options="t as t.namaChannel for t in ageens">
            <option value="" disabled="">Pilih Agen</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="pembatalan == 'rute_trayek'">
          <!-- <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks"> -->
          <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.namaChannel for t in trayeeks">
            <option value="" disabled="">Pilih Trayek</option>
          </select>
        </div>

        <!-- <div class="col-lg-4">
            <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
              <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false"/>
            </datepicker>
        </div> -->

        <div class="col-lg-2">
            <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
              <input class="form-control" ng-model="tglawal" name="tglawal" placeholder="Tgl Awal" id="tglawal" ng-change="getTglAwal(tglawal)" onkeydown="return false"/>
              <div class="form-alert-danger" ng-show="errorForm2">{{ errorForm2 }}</div>
            </datepicker>
        </div>

        <div class="col-lg-2">
            <datepicker  date-min-limit="{{ tglawal }}"date-format="yyyy-MM-dd">
              <input class="form-control" ng-model="tglakhir" name="tglakhir" placeholder="Tgl Akhir" id="tglakhir" ng-change="getTglAkhir(tglakhir)" onkeydown="return false"/>
              <div class="form-alert-danger" ng-show="errorForm3">{{ errorForm3 }}</div>
            </datepicker>
        </div>

        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil(tanggal, tglawal, tglakhir, agen, trayek, pembatalan)">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

      </div>

      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data</h5>
      </div>

    </div>

    <div class="data-loader" ng-show="loadData"></div>

  </div>
</div>

<div class="row">
  <!-- <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty"> -->
    <!-- <table class="table table-bordered table-striped" st-table="datas"> -->
    <table class="table table-bordered table-striped" st-table="datas">
      <col width="3%">
      <col width="13%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <!-- <col width="7%"> -->
      <!-- <col width="7%"> -->
      <col width="10%">

      <thead>
        <tr class="th-bg">
          <th class="text-center"><b>No.</b></th>
          <th class="text-center"><b>Refund</b></th>
          <th class="text-center"><b>Nominal Refund (Rp)</b></th>
          <th class="text-center"><b>Komisi</b></th>
          <th class="text-center"><b>Status Komisi</b></th>
          <!-- <th class="text-center"><b>Over Due</b></th> -->
          <!-- <th class="text-center"><b>Status</b></th> -->
          <!-- <th class="text-center"><b>Keterangan</b></th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in datas">
          <!-- <td>{{ $index + 1 + (active * 10) }}</td> -->
          <td>{{ $index + 1 }}</td>
          <td>
            <b>Bank</b> {{ invoice.namaBank }}<br>
            <b>No.rek</b> {{ invoice.noRekening }}<br>
            <b>a.n</b> {{ invoice.namaRekening }}<br>
          </td>
          <td>
            Rp {{ invoice.nominalRefund | currency:'':0 }}<br>
            Tgl {{ invoice.tglBerangkat | date_v1 }}<br>
          </td>
          <td>
            <b>Komisi Agen :</b> {{ invoice.nominalAgen }}<br>
            <b>Komisi PO :</b> {{ invoice.nominalPo }}<br>
            <b>Komisi Otodata :</b> {{ invoice.nominalOtodata }}<br>
          </td>
          <td>
            {{ invoice.statusRefund }}
          </td>
          <!-- <td class="text-right">{{ invoice.overDue | number:0 }} Hari</td> -->
          <!-- <td>Not Paid</td> -->
          <!-- <td class="text-center"><button class="btn btn-primary btn-sm" ng-click="next(invoice.tglTransaksi)">Lihat Invoice</button></td> -->
        </tr>
      </tbody>
      <!-- <tbody>
        <tr style="font-size:17px">
          <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
          <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
          <td colspan="4" class="text-center"></td>
        </tr>
      </tbody> -->
    </table>
  </div>
