<div>
  <div class="row">
    <div class="text-center">
      <h2>Detail Bus</h2>
    </div>
    <div class="col-md-10 ticket-main">
      <div class="ticket-1" ng-click="openModal(ticketDetail)">
        <div class="">
          <h3>{{ ticketDetail.poTrayek.namaPo }}
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.ekonomi }}</small>
            <br>
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.kelasBis }}</small>
            <br>
            <small class="pull-right">{{ ticketDetail.pemesananJadwal.seatType }}</small>
          </h3>
          <h5>
            {{ ticketDetail.pemesananJadwal.agenKeberangkatan }}
            <br>
            <small>{{ ticketDetail.pemesananJadwal.alamatKeberangkatan }}</small>
            <hr>
          </h5>
          <h5>{{ ticketDetail.pemesananJadwal.namaTrayek }}
            <hr>
          </h5>
          <h4><span ng-repeat="r in trayek[0].lintasan" style="display:inline-block;margin-bottom:10px;">
            <span ng-class="{'label-success' : $first, 'label-warning' : $last, 'label-info' : (!$first && !$last)}"
            class="label">{{r.namalokasi}}</span>
            <span ng-if="!$last"> - </span>
            </span>
            <hr>
          </h4>
        </div>
        <div class="">
          <h6>Voucher Makan <b>{{ ticketDetail.pemesananJadwal.voucherMakan }}</b></h6>
          <h6>Bagasi <b>{{ ticketDetail.pemesananJadwal.bagasi }} KG</b></h6>
          <h6>Fasilitas Bus</h6>
          <ul class="">
            <li ng-show="ticketDetail.pemesananJadwal.ac">AC</li>
            <li ng-show="ticketDetail.pemesananJadwal.video">Video</li>
            <li ng-show="ticketDetail.pemesananJadwal.audio">Audio</li>
            <li ng-show="ticketDetail.pemesananJadwal.wifi">Wi-fi</li>
            <li ng-show="ticketDetail.pemesananJadwal.toilet">Toilet</li>
            <li ng-show="ticketDetail.pemesananJadwal.recSeat">Recleaning Seat</li>
            <li ng-show="ticketDetail.pemesananJadwal.smokingArea">Smoking Area</li>
            <li ng-show="ticketDetail.pemesananJadwal.legRest">Leg Rest</li>
            <li ng-show="ticketDetail.pemesananJadwal.bantal">Bantal</li>
            <li ng-show="ticketDetail.pemesananJadwal.selimut">Selimut</li>
            <li ng-show="ticketDetail.pemesananJadwal.airMineral">Air Mineral</li>
            <li ng-show="ticketDetail.pemesananJadwal.snack">Snack</li>
          </ul>
          <h1><hr></h1>
        </div>
        <div class="">
          <h5>
            <span>Naik&nbsp;&nbsp;&nbsp;: {{ ticketDetail.poTrayek.namaKotaAsal }}</span>
            <br>
            <span>Turun&nbsp;: {{ ticketDetail.poTrayek.namaKotaTujuan }}</span>
            <span class="pull-right">{{ ticketDetail.pemesananJadwal.tglmls | date_v2 }}</span><br>
            <span class="pull-right">Pukul {{ ticketDetail.pemesananJadwal.waktuBerangkat }}</span>
            <hr>
          </h5>
          <h4>
            <small>{{ jmlPenumpang }} Kursi @{{ ticketDetail.pemesananJadwal.hargaJual | currency:"Rp.":0 }}</small>
            <span style="color:orange;float:right">{{ ticketDetail.pemesananJadwal.hargaJual * jmlPenumpang | currency:"Rp.":0 }},-</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-10">
        <button class="btn btn-danger pull-left" ng-click="$parent.backSearch(1)">
          <i class="glyphicon glyphicon-backward"></i> Kembali
        </button>
        <button class="btn btn-primary pull-right" ng-click="$parent.selectSeat(ticketDetail)">
          Pilih Kursi
        </button>
        <button class="btn btn-warning pull-right" style="margin-right:10px;" ng-click="$parent.pesanKursi(ticketDetail)">
          Pesan
        </button>
    </div>
  </div>
</div>
