<div>
  <div class="row">
    <div class="text-center">
      <h2>Pilih Bus</h2>
    </div>
    <div class="col-md-6 ticket-main" ng-repeat="ticket in listTicket">
      <div class="ticket-1" ng-click="detailBus(ticket)">
        <div class="">
          <h3>{{ ticket.poTrayek.namaPo }}
            <small class="pull-right">{{ ticket.pemesananJadwal.ekonomi }}</small>
            <br>
            <small>{{ ticket.pemesananJadwal.agenKeberangkatan }}</small>
            <small class="pull-right">{{ ticket.pemesananJadwal.kelasBis }}</small>
            <br>
            <small class="pull-right">{{ ticket.pemesananJadwal.seatType }}</small>
          </h3>
          <h5>
            <span>{{ ticket.pemesananJadwal.namaTrayek }}</span>
            <hr>
          </h5>
          <h5>
            <span>Naik&nbsp;&nbsp;&nbsp;: {{ ticket.poTrayek.namaKotaAsal }}</span>
            <span class="pull-right">{{ ticket.pemesananJadwal.tglmls | date_v2 }}</span>
            <br>
            <span>Turun&nbsp;: {{ ticket.poTrayek.namaKotaTujuan }}</span>
            <span class="pull-right">Pukul {{ ticket.pemesananJadwal.waktuBerangkat }}</span>
            <hr>
          </h5>
        </div>
        <div class="">
          <h4>
            <small>{{ jmlPenumpang }} Kursi @{{ ticket.pemesananJadwal.hargaJual | currency:"Rp.":0 }}</small>
            <span style="color:orange;float:right">{{ ticket.pemesananJadwal.hargaJual * jmlPenumpang | currency:"Rp.":0 }},-</span>
          </h4>
        </div>
      </div>
    </div>
    <div ng-show="pesanError" class="text-center">
      {{ pesanError }}
    </div>
    <div class="col-lg-12">
      <button class="btn btn-danger" ng-click="$parent.backSearch(0)">
        <i class="glyphicon glyphicon-backward"></i> Kembali
      </button>
    </div>
  </div>
</div>
