<style media="screen">
  .form-horizontal {
    padding : 10px;
  }
  .form-group {
    margin-bottom : 5px;
  }
  .form-group > label {
    line-height : 20px;
  }
  .form-control {
    background-color : rgba(0, 0, 0, 0.4)!important;
    color : #fff!important;
  }
  .modal-header {
    padding : 10px;
  }
  .modal-dialog {
    top : 10%!important;
    min-width : 350px;
    max-width : 400px;
  }
  .inline > input {
    display : inline-block;
    width : 70%;
  }
  .inline > label {
    display : inline-block!important;
  }
  .modal-body {
    padding : 0 25px 25px 25px;
  }
</style>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div style="text-align:center">
      <h3 style="color:#222">Tambah Info</h3>
    </div>
    <div class="form-horizontal">
      <form>
        <div class="form-group">
          <label for="penjualan">Penjemputan</label>
          <input type="text" class="form-control" ng-model="data.penjemputan">
        </div>
        <div class="form-group">
          <label for="penjualan">Turun</label>
          <input type="text" class="form-control" ng-model="data.turun">
        </div>
        <div class="form-group">
          <label for="penjualan">Sub Agen</label>
          <input type="text" class="form-control" ng-model="data.subAgen">
        </div>
        <div class="form-group">
          <label for="penjualan">Keterangan</label>
          <textarea type="text" class="form-control" ng-model="data.keterangan"></textarea>
        </div>
      </form>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-danger" name="button" ng-click="batal()">
      Batal
    </button>
    <button class="btn btn-primary" name="button" ng-click="ok()">
      Tambah
    </button>
  </div>
</div>
