<div class="row" id="jadwal">
  <div class="content-top clearfix">
    <h2>&nbsp;</h2>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body" style="overflow-y:scroll;">
        <!-- <pre>{{ jadwals | json }}</pre> -->
        <h3>Info Jadwal</h3>
        <div style="">
          <div class="col-md-3 info-jadwal">
            <div class="is-jadwal-info"><span>Jadwal Terdaftar</span></div>
          </div>
          <div class="col-md-3 info-jadwal">
            <div class="is-jadwal-info plan"><span>Rencana Jadwal</span></div>
          </div>
          <div class="col-md-3 info-jadwal">
            <div class="is-jadwal-info empty"><span>Jadwal Kosong</span></div>
          </div>
        </div>
        <table class="table table-bordered" style="margin-bottom:20px;">
          <thead>
            <col width="30%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <tr class="">
              <th class="text-center"><b>Trayek</b></th>
              <th class="text-center" style="font-size:13px;" ng-repeat="day in thisWeek">{{ day | date_v1 }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="jadwal in jadwals">
                <!-- <td style="font-size:13px;">{{ jadwal.trayek + ' ' + jadwal.namabus }}</td> -->
                <td style="font-size:13px;">{{ jadwal.trayek + ' ' + jadwal.kodetrayek }}</td>
              <td ng-repeat="dt in jadwal.jadwal"
                ng-click="openJadwalDetail(dt.detail, dt, jadwal, $event)"
                ng-class="{'is-jadwal':dt.available, 'is-jadwal-but': dt.available && !dt.status, 'is-not-jadwal': !dt.available}"
                class="text-center">
                <span ng-show="dt.available && dt.seatSold > 0">Terjual : <b>{{dt.seatSold}}</b></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
