<style media="screen">
  .modal-dialog {
    width: 90vw!important;
    min-width: 90vw!important;
    max-width: 90vw!important;
  }
  /* .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .scrollable {
    height: 70vh!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px!important;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .btn[disabled] {
    background-color: #b2b4b1!important;
    border: none!important;
  } */
</style>

<div class="modal-body scrollable" autofocus>
  <div class="col-lg-12">
    <h5>Data Approval
      <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
    </h5>
  </div>
  <div class="col-lg-12" style="margin-top:20px">
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="15%">
      <col width="20%">
      <col width="20%">
      <col width="30%">
      <thead>
        <tr class="th-bg">
          <th class=""><b>No.</b></th>
          <th class="text-center"><b>Agen</b></th>
          <th class="text-center">
            <b>Trayek</b>
          </th>
          <th class="text-center">
            <b>Jumlah penumpang batal</b>
          </th>
          <th class="text-center">
            <b>Aksi</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in approval track by $index" class="no-top-border">
          <td class="nowrap">{{ $index + 1 }}</td>
          <td class="nowrap"><span>{{ item.namaAgen }}</span></td>
          <td>
            <span>{{item.namaTrayek}}</span>
          </td>
          <td>
            <span>{{item.jmlhPenumpangBatal}} Penumpang</span>
          </td>
          <!-- <td class="nowrap"><span ng-show="item.status">Aktif</span> <span ng-show="!item.status">Menunggu Persetujuan</span></td>
          <td class="nowrap text-right"><span>{{item.seatSold}}</span></td> -->
          <td class="nowrap text-center">
            <button type="button" class="btn btn-primary" ng-click="klik_approve($index)">Approve</button>
            <button type="button" class="btn btn-danger" ng-click="klik_cancel($index)">Cancel</button>
            <button type="button" class="btn btn-warning" ng-click="klik_detail($index)">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
