<h4>Laporan Penjualan Trayek</h4>
<table class="table table-bordered">
  <col width="20%">
  <col width="80%">
  <tbody>
    <tr>
      <td>Trayek</td>
      <td><b>{{ trayek.name }}</b></td>
    </tr>
    <tr>
      <td>Tanggal Berangkat</td>
      <td><b>{{ tanggal | date_v1 }}</b></td>
    </tr>
  </tbody>
</table>
