<div class="" id="dataTable">
  <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <div>
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="30%">
      <col width="10%">
      <col width="12%">
      <col width="9%">
      <col width="9%">
      <col width="10%">
      <col width="12%">
      <thead>
        <tr class="th-bg">
          <th class=""><b>No.</b></th>
          <th class="text-center" ng-click="sortBy('namaAgen', $index)">
            <b>Trayek</b>
            <span class="sortorder" ng-show="propertyName === 'namaAgen'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class="text-center" ng-click="sortBy('jmlPenumpang')">
            <b>Kursi Terjual</b>
            <span class="sortorder" ng-show="propertyName === 'jmlPenumpang'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class="text-center" ng-click="sortBy('jmlPenumpang')">
            <b>Total Penjualan</b>
            <span class="sortorder" ng-show="propertyName === 'jmlPenumpang'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class="text-center" ng-click="sortBy('totalBayar')">
            <b>Total Komisi</b>
          </th>
          <th class="text-center">
            <b>Total Setor</b>
          </th>
          <th class="text-center">
            <b>Admin Sistem</b>
          </th>
          <th class="text-center">
            <b>Pendapatan PO</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in datas | orderBy:propertyName:reverse" class="no-top-border">
          <td ng-class="nowrap" ng-style="{'background-color' : item.color}" style="color:#fff;opacity:0.7;">
            {{$index + 1}}
          </td>
          <td ng-class="nowrap" class="pointer" ng-click="toTrayekSales(item)">
            <a>{{item.namaTrayek}}</a>
          </td>
          <td class="align-right">
            {{item.totalKursi}}
          </td>
          <td class="align-right">
            {{item.totalJual | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalKomisi | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalJual - item.totalKomisi | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalBiayaAdmin | currency:"":0}}
          </td>
          <td class="align-right">
            {{item.totalJual - item.totalKomisi - item.totalBiayaAdmin | currency:"":0}}
          </td>
        </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="2" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{total.kursi}}</b></td>
        <td class="align-right"><b>{{total.penjualan | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.komisiAgen | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.setoran | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.biayaAdmin | currency:"":0}}</b></td>
        <td class="align-right"><b>{{total.setoran - total.biayaAdmin | currency:"":0}}</b></td>
      </tr>
    </table>
  </div>
</div>
