<style media="screen">
  .modal-content {
    min-width: 600px!important;
    max-width: 100%;
  }
</style>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Detail Penjualan</h4>
  </div>
  <div class="modal-body">
    <div class="horizontal-scroll">
      <pre>{{ data | json }}</pre>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>
  </div> -->
</div>
