<style media="screen">
  .ticket-main {
    padding: 20px
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
  .input-error {
    color : red;
  }
</style>

<div class="row">
  <div class="text-center">
    <h2>Isi Data Penumpang</h2>
  </div>
  <div class="col-md-12">
    <div class="form-horizontal" ng-repeat="kursi in listKursi track by $index">
      <div class="form-group">
        <div class="text-center">
          <h4>Penumpang {{ $index + 1 }} (Nomor Kursi {{ kursi }})</h4>
        </div>
      </div>

      <div class="form-group">
          <div class="col-lg-3 control-label">Jenis Kelamin</div>
          <div class="col-lg-2">
            <input type="radio" class="" ng-model="penumpangs[$index].gender" value="Pria"> Pria
          </div>
          <div class="col-lg-2">
            <input type="radio" class="" ng-model="penumpangs[$index].gender" value="Wanita"> Wanita
          </div>
          <div class="col-lg-4">
            <h5 class="input-error" ng-show="noGender[$index].status">{{ noGender[$index].message }}</h5>
          </div>
      </div>

      <div class="form-group">
          <div class="col-lg-3 control-label">Kategori Usia</div>
          <div class="col-lg-2">
            <input type="radio" class="" value="Dewasa" ng-model="penumpangs[$index].kategoriUsia" ng-change="changeCategory($index)"> Dewasa
          </div>
          <div class="col-lg-2">
            <input type="radio" class="" value="Anak" ng-model="penumpangs[$index].kategoriUsia"  ng-change="changeCategory($index)"> Anak
          </div>
          <div class="col-lg-4">
            <h5 class="input-error" ng-show="noCategory[$index].status">{{ noCategory[$index].message }}</h5>
          </div>
      </div>

        <div class="form-group">
          <div class="col-lg-3 control-label">
            Nama Penumpang
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="agen" ng-change="passangerName($index)" ng-model="penumpangs[$index].nama">
          </div>
          <div class="col-lg-4">
            <h5 class="input-error" ng-show="noName[$index].status">{{ noName[$index].message }}</h5>
          </div>
        </div>

        <div class="form-group" ng-hide="penumpangs[$index].kategoriUsia == 'Anak'">
          <div class="col-lg-3 control-label">
            Nomor Telepon
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="agen" ng-change="phoneNumber($index)" ng-model="penumpangs[$index].telpon">
          </div>
          <div class="col-lg-4">
            <h5 class="input-error" ng-show="noPhone[$index].status">{{ noPhone[$index].message }}</h5>
          </div>
        </div>

        <hr>

    </div>

    <div>
      <div class="col-lg-12 text-center">
        <div class="input-error" ng-show="errorSubmit">
          <h5>{{ errorSubmit }}</h5>
        </div>
        <button class="btn btn-danger pull-left" ng-click="backSearch(2)">
          <i class="glyphicon glyphicon-backward"></i> Kembali
        </button>
        <button class="btn btn-warning" ng-click="pembayaran()">
          Lanjutkan <span class="glyphicon glyphicon-forward"></span>
        </button>
      </div>
    </div>
  </div>
</div>
