<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel" style="padding:40px;">
        <div class="">
          {{ counter }}
        </div>
        <div ng-include="templateUrl">

        </div>
	    </div>
    </div>
  </div>
</div>
