<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
</div>
<div class="form-horizontal" ng-show="gridOptions.data.length === 0">
  <h4 style="color:red">Tidak ada data setoran admin</h4>
</div>
<div ui-grid="gridOptions" ui-grid-selection class="grid" ng-show="gridOptions.data.length > 0"></div>
	</div>
  </div>
</div>
</div>
</div>
