<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
	<div class="form-horizontal">
    <div class="form-group">

        <div class="col-lg-4">
             <select class="form-control" id="channel" ng-model="channel" ng-options="k.idChannelGroup as k.channelGroup for k in channels" ng-change="channel_change(channel)">
               <option value="" selected="" disabled="">Pilih Group Channel</option>
             </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control" id="agen" ng-model="agen" ng-options="k.idChannel as k.namaChannel for k in agens" >
              <option value="" selected="" disabled="">Pilih Agen/Channel</option>
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-warning" ng-click="tampil(agen)">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        </div>
    </div>
</div>
<div><a ng-click="terimasemua()" class="btn btn-warning" ng-show="mySelectedRows.length>0"><i class="glyphicon glyphicon-block"></i>Terima Semua</a></div>
<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>

	</div>
  </div>
</div>
</div>
</div>
