<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
      <div class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-4">
            <datepicker date-format="yyyy-MM-dd">
              <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false" />
            </datepicker>
        </div>

        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

    </div>


</div>
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-expandable class="gridStyle"></div>

	</div>
  </div>
</div>
</div>
</div>
