<style media="screen">
  .main-menu {
    text-align:center;
    padding:10px;
  }
  .menu {
    font-size:16px;
    background-color:#e0af1b;
    border:2px solid #e0af1b;
    border-radius:6px;
    padding:10px;
    color:#fff;
    margin-bottom:30px;
  }
  .menu:hover {
    background-color:#fff;
    color:#e0af1b;
    cursor:pointer;
    border:2px solid #e0af1b;
  }
  .disabled {
    border:2px solid #ddd;
    background-color:#ddd;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="col-md-6 main-menu pull-left" ui-sref="dashboard.transaksi.setoranpenjualanagen">
          <div class="menu disabled">
            Penerimaan Setoran Penjualan
          </div>
        </div>
        <div class="col-md-6 main-menu pull-right" ui-sref="dashboard.transaksi.setoranpemesananagen">
          <div class="menu">
            Penerimaan Setoran Pemesanan
          </div>
        </div>
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>
        <div class="form-group">
          <div class="col-lg-4">
            <select class="form-control" id="trayek" ng-model="agen" ng-options="a.value as a.name for a in agens">
              <option value="" disabled="">Pilih Agen</option>
            </select>
          </div>
          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil()">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>
      </div>
      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="noData.status">{{ noData.message }}</h5>
      </div>
  </div>
  <div class="data-loader" ng-show="loadData"></div>
  <div ui-if="gridOptions.data.length>0" ui-grid="gridOptions" ui-grid-expandable ui-grid-exporter class="grid" ui-grid-auto-resize ng-style="getTableHeight()" ng-show="gridOptions.data.length > 0"></div>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-info pull-right" ui-sref="dashboard.transaksi.pemesananharian({id:gridOptions.data[0].index})"  ng-hide="noData.status">Proses</button>
      </div>
    </div>
  </div>
	</div>
  </div>
</div>
</div>
</div>
