<style media="screen">
  .main-menu {
    text-align:center;
    padding:10px;
  }
  .menu {
    font-size:16px;
    background-color:#e0af1b;
    border:2px solid #e0af1b;
    border-radius:6px;
    padding:10px;
    color:#fff;
  }
  .menu:hover {
    background-color:#fff;
    color:#e0af1b;
    cursor:pointer;
    border:2px solid #e0af1b;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div>
          <div class="panel-body">
            <div class="col-md-6 main-menu pull-left" ui-sref="dashboard.transaksi.setoranpenjualanagen">
              <div class="menu">
                Penerimaan Setoran Penjualan Agen
              </div>
            </div>
            <div class="col-md-6 main-menu pull-right" ui-sref="dashboard.transaksi.setoranpemesananagen">
              <div class="menu">
                Penerimaan Setoran Pemesanan Agen
              </div>
            </div>
          </div>
        </div>
	    </div>
    </div>
  </div>
</div>
