<style media="screen">
  .modal-dialog {
    width: 90vw!important;
    min-width: 90vw!important;
    max-width: 90vw!important;
  }
  .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .scrollable {
    height: 70vh!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-body {
    padding-left : 40px!important;
    padding-right : 40px!important;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px!important;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .btn[disabled] {
    background-color: #b2b4b1!important;
    border: none!important;
  }
  .foto-publik {
    margin : 10px!important;
    width : 10vw!important;
    display : inline-block!important;
  }
</style>

<div class="modal-content" style="padding-bottom:70px;">
  <div class="modal-body">
    <h3>Profil Agen
      <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
    </h3>
  </div>
  <div class="modal-body modal-table">
    <table class="table table-condensed">
      <col width="15%">
      <tbody>
        <tr>
          <td><strong>Nama Agen</strong></td>
          <td colspan="3">{{ agen.namaChannel }}</td>
        </tr>
        <tr>
          <td><strong>Telepon</strong></td>
          <td colspan="3">{{ agen.nomorTelepon }}</td>
        </tr>
        <tr>
          <td><strong>Alamat</strong></td>
          <td colspan="3">{{ agen.alamat }}</td>
        </tr>
        <tr>
          <td><strong>Lokasi</strong></td>
          <td>
            <div class="logo-center" style="margin: 10px 0px 10px 0px">
              <div class="logo-po">
                <iframe ng-src="{{ mapUrl }}" width="100%" height="350px" frameborder="0"></iframe>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><strong>Foto</strong></td>
          <td>
            <div class="logo-center" style="margin: 10px 0px 10px 0px">
              <div class="logo-po">
                <img ngf-src="agen.logo" width="100%">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><strong>Foto Publik</strong></td>
          <td colspan="3">
            <div class="logo-center foto-publik" ng-repeat="foto in agen.fotoPublik">
              <div class="logo-po">
                <img ngf-src="foto.gambar" width="100%">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <pre>{{ agen | json }}</pre> -->
    <hr>
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="approve()" ng-disabled="clicked || agen.status !== 'PENDING'">
          Setujui
        </button>
        <button type="button" class="btn btn-danger" ng-click="reject()" ng-disabled="clicked || agen.status !== 'PENDING'">
          Tolak
        </button>
    </div>
  </div>
</div>
