<style media="screen">
  .modal-body {
    min-height : 200px;
    padding-top : 15%;
  }
  .btn {
    width: 30%;
  }
</style>

<div class="modal-content">
  <!-- <pre>{{ jadwal | json }}</pre> -->
  <div class="modal-body">
    <div class="col-md-12 text-center" style="margin-bottom:20px;">
      <h4>Jadwal berhasil dibuat, buat jadwal baru?</h4>
    </div>
    <div class="col-md-12">
      <div class="form-group text-center">
        <button type="button" class="btn btn-info" name="button" ng-click="recreate()">Ya</button>
        <button type="button" class="btn btn-danger" name="button" ng-click="toHome()">Tidak</button>
      </div>
    </div>
  </div>
</div>
