<div class="modal-body scrollable" autofocus>
    <div class="col-lg-12">
      <h5>Jadwal Keberangkatan
        <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
      </h5>
    </div>
    <div class="col-lg-12" style="margin-top:20px;">
      <table class="table table-bordered table-striped" style="margin-bottom:20px;">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <thead>
          <tr class="th-bg">
            <th class=""><b>Armada</b></th>
            <th class="text-center">
              <b>Jam Berangkat</b>
            </th>
            <th class="text-center">
              <b>Status</b>
            </th>
            <th class="text-center">
              <b>Aksi</b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in jadwal" ng-click="showDetail(item)" class="no-top-border">
            <td class="nowrap"><span>{{ item.namabus }}</span></td>
            <td>
              <span>{{item.keterangan[0].waktuBerangkat | jam_berangkat}}</span>
            </td>
            <td class="nowrap"><span ng-show="item.status">Aktif</span> <span ng-show="!item.status">Menunggu Persetujuan</span></td>
            <td class="nowrap text-center btn-info show-data">Detail</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
