<style media="screen">
  .modal-body {
    min-height : 400px;
  }
  .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .modal-dialog {
    width: 50vw!important;
    min-width: 50vw!important;
    max-width: 50vw!important;
  }
  .scrollable {
    height: 500px!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .detail-title > h5 {
    font-size: 14px;
    font-weight: bold;
  }
  .detail-item > h5 {
    font-size: 14px;
    font-weight: normal;
  }
</style>

<div class="modal-content">
  <!-- <pre>{{ jadwal | json }}</pre> -->
  <div class="modal-body scrollable" autofocus>
    <div class="col-md-12 text-center" style="margin-bottom:20px;">
      <h4>Detail Jadwal</h4>
    </div>
      <div class="col-lg-4 detail-title">
        <h5>Tanggal <span class="pull-right">:</span></h5>
        <h5>Status <span class="pull-right">:</span></h5>
        <h5>Armada <span class="pull-right">:</span></h5>
        <h5>Kelas <span class="pull-right">:</span></h5>
        <h5>Jumlah Kursi <span class="pull-right">:</span></h5>
      </div>
      <div class="col-lg-4 detail-item">
        <h5>{{ jadwal[0].tanggal | date_v1 }}&nbsp;</h5>
        <h5><span ng-show="jadwal[0].status">Aktif</span> <span ng-show="!jadwal[0].status">Menunggu Persetujuan</span>&nbsp;</h5>
        <h5>{{ jadwal[0].namabus }}&nbsp;</h5>
        <h5>{{ jadwal[0].subkelas }}&nbsp;</h5>
        <h5>{{ jadwal[0].jumlahkursi }}&nbsp;</h5>
      </div>
      <div class="col-lg-12" style="margin-top:20px">
        <h5>Harga Tiket</h5>
        <table class="table table-bordered table-striped" style="margin-bottom:20px;">
          <col width="35">
          <col width="35">
          <col width="20">
          <thead>
            <tr class="th-bg">
              <th class="text-center">
                <b>Kota Asal</b>
              </th>
              <th class="text-center">
                <b>Kota Tujuan</b>
              </th>
              <th class="text-center">
                <b>Harga(Rp)</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in jadwal[0].hargadasar" class="no-top-border">
              <td ng-class="nowrap" >
                {{item.namaawal}}
              </td>
              <td ng-class="nowrap">
                {{item.namaakhir}}
              </td>
              <td class="align-right">
                {{item.hargadasar+item.komisipemesanan+item.komisipemberangkatan+item.adminsistem+item.iuranIpomi | currency:"":0}}
              </td>
            </tr>
          </tbody>
        </table>
        <h5>Tempat Keberangkatan</h5>
        <table class="table table-bordered table-striped" style="margin-bottom:20px;">
          <col width="55">
          <col width="45">
          <thead>
            <tr class="th-bg">
              <th class="text-center">
                <b>Agen Berangkat</b>
              </th>
              <th class="text-center">
                <b>Waktu Berangkat</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in jadwal[0].keterangan" class="no-top-border">
              <td ng-class="nowrap" >
                {{item.agenBerangkat}}
              </td>
              <td ng-class="nowrap">
                <span class="pull-right">{{item.waktuBerangkat | jam_berangkat}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
