<style media="screen">
  .modal-dialog {
    width: 70vw!important;
    min-width: 70vw!important;
    max-width: 70vw!important;
  }

  .modal {
    top: auto!important;
  }

  .modal-body {
    padding: 30px;
  }

  .align-center {
    text-align: center;
  }

  .panel {
    padding : 5px;
    border-radius : 0px!important;
    box-shadow : none!important;
    border : 1px solid #949494;
  }
  .panel-body {
    border-bottom : 2px solid #f5f5f5;
    padding : 15px!important;
  }
  .panel-heading {
    padding : 15px;
    background-color : #209e91!important;
  }
  .panel-heading {
    color : #fff!important;
    font-weight : bold!important;
  }

  .armada {
    padding-top: 15px!important;
    margin-top: 0px!important;
    margin-bottom: 15px!important;
  }
  .armada:hover {
    cursor : pointer;
    background-color: #c0c4c4;
  }
</style>

<div class="col-md-12">
  <h3>
    <small class="btn btn-danger pull-left" ng-click="back()">Kembali</small>
  </h3>
</div>

<div class="col-md-12">
  <h3 class="modal-title text-center">Pilih Armada
  </h3>
</div>
<div class="col-md-12">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-md-3">
        <!-- <input class="form-control" ng-model="name" placeholder="Masukan nama trayek"> -->
        <input class="form-control" id="trayek" ng-model="bus" uib-typeahead="a.id as a.id for a in armadas | filter:$viewValue | limitTo:8" placeholder="Masukan nama armada" typeahead-no-results="noResults"/>
        <span ng-if="noResults" auto-close="disabled" is-open="true" uib-dropdown     uib-dropdown-toggle>
          <ul class="dropdown-menu" >
            <li><a href>Armada tidak ditemukan</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" style="margin-bottom:20px;">
  <h5>Trayek : {{ trayek }}</h5>
</div>
<div class="col-md-4 armada" ng-repeat="armada in armadas | filter:bus" ng-click="selectBus(armada)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>{{ $index + 1 }}. {{ armada.id }} <span class="pull-right" style="color:#fff">{{ armada.kelas }}</span></h5>
    </div>
    <div class="panel-body">
      <h5><small>Plat Nomor :</small> <span class="pull-right">{{ armada.plat }}</span></h5>
      <h5><small>Jumlah Kursi :</small> <span class="pull-right">{{ armada.seat }}</span></h5>
      <h5><small>Tipe :</small> <span class="pull-right">{{ armada.seatType }}</span></h5>
    </div>
  </div>
</div>
