<style media="screen">
  .modal-dialog {
    width: 90vw!important;
    min-width: 90vw!important;
    max-width: 90vw!important;
  }
  .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .scrollable {
    height: 70vh!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px!important;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .btn[disabled] {
    background-color: #b2b4b1!important;
    border: none!important;
  }
</style>

<div class="modal-content">
  <div class="modal-body">
    <h3>Data Pemesanan hari ini
      <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
    </h3>
  </div>
  <div class="modal-body modal-table">
    <table class="table table-bordered table-striped" style="font-size:14px;">
      <col width="3%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <col width="10%">
      <col width="20%">
      <thead>
        <tr class="th-bg">
          <th class="text-center">
            <b>No.</b>
          </th>
          <th class="text-center">
            <b>Agen Penjual</b>
          </th>
          <th class="text-center">
            <b>Kursi Terpesan</b>
          </th>
          <th class="text-center">
            <b>Penjualan</b>
          </th>
          <th class="text-center">
            <b>Komisi Agen</b>
          </th>
          <th class="text-center">
            <b>Setoran</b>
          </th>
          <th class="text-center">
            <b>Admin Sistem</b>
          </th>
          <th class="text-center">
            <b>Pendapatan</b>
          </th>
          <th class="text-center">
            <b>Aksi</b>
          </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="modal-body scrollable modal-table">
    <table class="table table-bordered table-striped" style="margin-bottom:20px;font-size:14px;">
      <col width="3%">
      <col width="20%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="13%">
      <col width="10%">
      <col width="20%">
      <tbody>
        <tr class="no-top-border" ng-repeat="item in datas">
          <td class="text-right"><b>{{ $index + 1 }}</b></td>
          <td><b>{{ item.namaAgen }}</b></td>
          <td class="text-right">{{ item.kursiTerpesan }}</td>
          <td class="text-right">{{ item.penjualan | currency:'':0 }}</td>
          <td class="text-right">{{ item.komisiAgen | currency:'':0 }}</td>
          <td class="text-right">{{ item.setoran | currency:'':0 }}</td>
          <td class="text-right">{{ item.biayaAdmin | currency:'':0 }}</td>
          <td class="text-right"><b>{{ item.setoran - item.biayaAdmin | currency:'':0 }}</b></td>
          <td class="text-right">
            <button ng-disabled="item.terima" type="button" class="btn btn-success" ng-click="next(item)">
            Terima
            </button>
            <button ng-disabled="item.totalJual === 0" type="button" class="btn btn-info" ng-click="openDetail(item)">
            Rincian
            </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
