<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel" style="padding:40px;">
	<div class="form-horizontal">
    
    <div class="form-group">
      <div class="col-lg-3 control-label">
        Pilih Agen
      </div>
      <div class="col-lg-6">
        <select class="form-control" id="agen" ng-model="agen" ng-options="k.idChannel as k.namaChannel for k in agens">
        </select>
      </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Pilih Trayek</div>
        <div class="col-lg-6">
            <select class="form-control" id="trayek" ng-model="trayek" ng-options="k.id as k.kodetrayek for k in trayeks" ng-click="trayek_change(trayek)"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Pilih Sub Trayek</div>
        <div class="col-lg-6">
            <select class="form-control" id="subtrayek" name="subtrayek" ng-model="subtrayek" ng-options="k.id as k.kodesub for k in subtrayeks" ng-click="subtrayek_change(subtrayek)"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Nama Penumpang</div>
        <div class="col-lg-6">
            <input type="text" ng-model="transaksi.namaPenumpang" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Telepon</div>
        <div class="col-lg-6">
            <input type="text" name="telpon" ng-model="transaksi.telpon" class="form-control">
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 control-label">Asal</div>
      <div class="col-lg-6">
        <input type="text" ng-model="transaksi.asal" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 control-label">Tujuan</div>
      <div class="col-lg-6">
        <input type="text" ng-model="transaksi.tujuan" class="form-control">
      </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Alamat Berangkat</div>
        <div class="col-lg-6">
            <input type="text" ng-model="transaksi.alamatBrgkt" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Harga Tiket</div>
        <div class="col-lg-6">
            <input type="Number" ng-model="transaksi.hargaTiket" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Nomor Kursi</div>
        <div class="col-lg-6">
            <input type="text" ng-model="transaksi.noKursi" class="form-control">
        </div>
    </div>

    <div class="form-group well">

        <div class="col-lg-12 text-center">
            <button class="btn btn-warning" ng-click="save()">
                <i class="glyphicon glyphicon-ok"></i> Simpan
            </button>

            <a ui-sref="^.list" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"></i>Batal</a>
        </div>
    </div>

</div>

	</div>
  </div>
</div>
</div>
</div>
