<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">
            <h5>Cari Berdasarkan : </h5>
            <div class="form-group">
                <div class="col-lg-4">
                    <datepicker date-format="yyyy-MM-dd">
                      <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" />
                    </datepicker>
                </div>
                <!-- <div class="col-lg-1" ng-hide="dataLoaded"> -->
                <div class="col-lg-1">
                    <button class="btn btn-warning" ng-click="tampil(tanggal)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <!-- <div>
              <h5 style="color:red;margin-top:10px;" ng-show="noData.status">{{ noData.message }}</h5>
            </div> -->
        </div>

  <div class="data-loader" ng-show="loadData"></div>
  <ng-include src="templateUrl"></ng-include>
  </div>
	</div>
  </div>
</div>
</div>
</div>
