<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    cursor: pointer;
    color: #fff!important;
  }
  .modal-dialog {
    width: {{ width }};
    min-width: {{ width }};
    max-width: {{ width }};
  }
  .scrollable {
    height: 70vh!important;
    overflow-y: scroll!important;
  }
  .align-center {
    text-align: center;
  }
  .modal-table {
    padding-bottom:0px;
    padding-top:0px;
  }
  ::-webkit-scrollbar {
    width: 0px!important;
  }
  .show-data>span:hover {
    color: #fff!important;
  }
  .show-data>span {
    display: block;
  }
  .text-right {
    text-align : right!important;
  }
</style>

<div class="modal-content">
    <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
</div>
