<div class="modal-content">
  <div class="modal-body">
    <div class="row" style="padding:40px;">
      <div class="col-md-12 text-center" style="margin-bottom:30px;">
        <h2>Konfirmasi Pembayaran</h2>
      </div>
      <div class="col-md-12 text-center" style="margin-bottom:20px;">
        <h4>Apakah anda yakin telah melakukan pembayaran komisi Agen {{ data.namaAgen }}</h4>
        <h4 style="text-decoration: underline">Sebesar <span style="color:#2e1274; font-weight: bold">{{ data.diterima | currency:'Rp.':0 }}</span> </h4>
      </div>
      <div class="col-md-12">
        <div class="form-group text-center">
          <button type="button" class="btn btn-info" name="button" ng-click="save()"> <span class="glyphicon glyphicon-ok" style="color:white"></span>  Ya</button>
          <button type="button" class="btn btn-danger" name="button" ng-click="close()"> <span class="glyphicon glyphicon-remove" style="color:white"></span> Tidak</button>
        </div>
      </div>
    </div>
  </div>
</div>
