<script type="text/javascript">
  document.getElementById("username").focus();
</script>

<style media="screen">
  body::before {
    background-color : #1c2b36;
  }
</style>

<div id="preloader" ng-show="loading">
  <div></div>
</div>
<div class="logo">
  <div class="clearfix" style="text-align:center; margin-bottom: 20px;">
    <img src='/assets/img/bta_screen.png' width="300px" height="auto" />
  </div>
</div>

<main class="auth-main">

  <div class="auth-block">

    <form class="form-horizontal" ng-submit="submitData()">
      <div style="margin-bottom:40px;text-align:center">
        <h3>ADMIN PO</h3>
      </div>
      <div class="form-group">
        <div style="text-align:center">
          <h5 style="color:red" ng-show="errorSubmit">{{ errorSubmit }}</h5>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="Masukan Email/nomor telpon" name="username" ng-model="user.username" autofocus="" uib-tooltip="Masukan Username atau Nomor Telepon" id="username">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Masukan Password" ng-model="user.password" uib-tooltip="Masukan Kata Sandi / password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default btn-auth">Masuk</button>
          <!-- <a href class="forgot-pass">Lupa password?</a> -->
        </div>
      </div>
      <!-- <ng-include src="templateUrl"></ng-include> -->
    </form>


    <!-- <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div> -->
  </div>
</main>
