<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel" style="padding:40px;">
        <div class="logo-center">
          <div class="logo-po">
            <img ngf-src="file || po.logo" width="100%">
          </div>
        </div>
	<div class="form-horizontal" style="padding-top:20px;">
    <div class="form-group">
        <div class="col-lg-3 control-label">Nama PO</div>
        <div class="col-lg-6">
            <input type="text" name="nama" ng-model="po.nama" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Kode PO</div>
        <div class="col-lg-6">
            <input type="text" name="kodepo" ng-model="po.kodepo" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Nama Perusahaan</div>
        <div class="col-lg-6">
            <input type="text" name="namaperusahaan" ng-model="po.namaperusahaan" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Alamat</div>
        <div class="col-lg-6">
            <textarea name="alamat" ng-model="po.alamat" id="alamat" cols="30" rows="4" class="form-control" disabled></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Telpon</div>
        <div class="col-lg-6">
            <input type="text" name="telpon" ng-model="po.telpon" class="form-control" disabled>
        </div>

    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Fax</div>
        <div class="col-lg-6">
            <input type="text" name="fax" ng-model="po.fax" class="form-control" disabled>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label">Email</div>
        <div class="col-lg-6">
            <input type="text" name="email" ng-model="po.email" class="form-control" disabled>
        </div>
    </div>

    <hr>
    <div class="form-group">
        <div class="col-lg-3 control-label">Nama Pimpinan</div>
        <div class="col-lg-6">
            <input type="text" name="namapimpinan" ng-model="po.namapimpinan" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Telpon</div>
        <div class="col-lg-4">
            Ponsel 1
            <input type="text" name="ponsel1" ng-model="po.ponsel1" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
            Ponsel 2
            <input type="text" name="ponsel2" ng-model="po.ponsel2" class="form-control" disabled>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-lg-3 control-label">PIC E-Ticketing</div>
        <div class="col-lg-4">
            Nama
            <input type="text" name="picnama" ng-model="po.picnama" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
            Jabatan
            <input type="text" name="picjabatan" ng-model="po.picjabatan" class="form-control" disabled>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Kontak</div>
        <div class="col-lg-4">
            Telpon
            <input type="text" name="pictelpon" ng-model="po.pictelpon" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
            Email
            <input type="text" name="picemail" ng-model="po.picemail" class="form-control" disabled>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <div class="col-lg-3 control-label">Data Rekening</div>
        <div class="col-lg-4">
          Rekening Terima
          <input type="text" name="rekeningterima" ng-model="" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
          Rekening Transfer
          <input type="text" name="rekeningtransfer" ng-model="" class="form-control" disabled>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label"></div>
        <div class="col-lg-4">
          Kode Bank
          <input type="text" name="rekeningterima" ng-model="" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
          Cabang
          <input type="text" name="rekeningtransfer" ng-model="" class="form-control" disabled>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label"></div>
        <div class="col-lg-4">
          Nomor Rekening
          <input type="text" name="rekeningterima" ng-model="" class="form-control" disabled>
        </div>
        <div class="col-lg-4">
          Nama Pemilik Rekening
          <input type="text" name="rekeningtransfer" ng-model="" class="form-control" disabled>
        </div>
    </div>
    <hr>
    
    <div class="form-group">
        <div class="col-lg-3 control-label">Jenis Pelayanan</div>
        <div class="col-lg-2">
            <input type="checkbox" ng-model="po.akap" disabled>AKAP
        </div>
        <div class="col-lg-2">
            <input type="checkbox" ng-model="po.akdp" disabled>AKDP
        </div>
        <div class="col-lg-2">
            <input type="checkbox" ng-model="po.pariwisata" disabled>Pariwisata
        </div>
        <div class="col-lg-2">
            <input type="checkbox" ng-model="po.paket" disabled>Paket
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label">Pola Hubungan dengan Agen</div>
        <div class="col-lg-3">
            <input type="radio" ng-model="po.directagen" ng-value="true" disabled>Langsung
        </div>
        <div class="col-lg-3">
            <input type="radio" ng-model="po.directagen" ng-value="false" disabled>Tidak Langsung
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label">Kuota Penjualan Agen</div>
        <div class="col-lg-3">
            <input type="radio" ng-model="po.quotaagen" ng-value="true" disabled>Ya
        </div>
        <div class="col-lg-3">
            <input type="radio" ng-model="po.quotaagen" ng-value="false" disabled>Tidak
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 control-label">Status</div>
        <div class="col-lg-3">
            <input type="checkbox" ng-model="po.enabled" disabled>Aktif
        </div>
    </div>
</div>

	</div>
  </div>
</div>
</div>
</div>
