<div class="modal-body">
  <h5>Data Penjualan Armada {{ data.namaBus }} ( {{ data.namaTrayek }} )</h5>
</div>
<div class="modal-body modal-table scrollable">
  <div class="panel" style="margin-top: 40px;margin-bottom:40px;">
    <div class="col-lg-4">
      <h5>Nama Agen<span class="pull-right">:</span></h5>
      <h5>Alamat <span class="pull-right">:</span></h5>
      <h5>Kontak Person <span class="pull-right">:</span></h5>
      <h5>Nomor Telepon <span class="pull-right">:</span></h5>
    </div>
    <div class="col-lg-8">
      <h5>{{ info.profileAgen.name }}&nbsp;</h5>
      <h5>{{ info.profileAgen.alamat }}&nbsp;</h5>
      <h5>{{ info.profileAgen.kontakPerson }}&nbsp;</h5>
      <h5>{{ info.profileAgen.nomorTelepon }}&nbsp;</h5>
    </div>
  </div>
  <hr>
  <div class="col-lg-12" style="background-color:#d9d2d8;margin-top:40px;">
    <div style="margin-top:20px;">
      <div class="col-lg-4">
        <h4>Total Penjualan <span class="pull-right">:</span></h4>
        <h4>Total Komisi <span class="pull-right">:</span></h4>
        <hr>
        <h4>Setoran <span class="pull-right">:</span></h4>
      </div>
      <div class="col-lg-3">
        <h4 class="text-right">{{ info.totalBayar | currency:"":0}}</h4>
        <h4 class="text-right">{{ info.totalKomisi | currency:"":0 }}</h4>
        <hr>
        <h4 class="text-right">{{ info.totalBayar - info.totalKomisi | currency:"":0 }}</h4>
      </div>
    </div>
  </div>
</div>
