<div class="modal-body">
  <h5>Data Penumpang Agen {{ data.namaAgen }}
    <small class="btn btn-danger pull-right" ng-click="close()">Tutup</small>
  </h5>
</div>
<div class="modal-body modal-table">
  <table class="table table-bordered table-striped">
    <col width="20%">
    <col width="40%">
    <col width="40%">
    <thead>
      <tr class="th-bg">
        <th class=""><b>No. Kursi</b></th>
        <th class="text-center">
          <b>Nama Penumpang</b>
        </th>
        <th class="text-center">
          <b>No. Telepon</b>
        </th>
      </tr>
    </thead>
  </table>
</div>
<div class="modal-body scrollable modal-table">
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <col width="20%">
    <col width="40%">
    <col width="40%">
    <tbody>
      <tr ng-repeat="item in data.dataPenumpang" class="no-top-border">
        <td class="nowrap"><span>{{ item.nomorKursi }}</span></td>
        <td class="show-data" ng-click="showProfile($index)">
          <span tooltip-placement="right" uib-tooltip="Klik untuk melihat data penumpang">{{item.nama}}</span>
        </td>
        <td class="nowrap"><span class="text-right">{{item.telepon | is_anak:item.kategoriUsia}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
