<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h4>Admin Sistem</h4>
            </div>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="3%">
                <col width="13%">
                <col width="10%">
                <col width="10%">
                <col width="13%">
                <col width="7%">
                <col width="7%">
                <col width="10%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Transaction Date</b></th>
                    <th class="text-center"><b>Invoice No.</b></th>
                    <th class="text-center"><b>Amount Due (Rp)</b></th>
                    <th class="text-center"><b>Due Date</b></th>
                    <th class="text-center"><b>Over Due</b></th>
                    <th class="text-center"><b>Status</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="invoice in datas">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ invoice.tglTransaksi | date_v1 }}</td>
                    <td>{{ invoice.noInvoice }}</td>
                    <td class="text-right">{{ invoice.totalSisaBayar | currency:'':0 }}</td>
                    <td class="text-right">{{ invoice.dueDate | date_v1}}</td>
                    <td class="text-right">{{ invoice.overDue | number:0 }} Hari</td>
                    <td>Not Paid</td>
                    <td class="text-right"><button class="btn btn-primary btn-sm" ng-click="next(invoice.tglTransaksi)">Lihat Invoice</button></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr style="font-size:17px">
                    <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
                    <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
                    <td colspan="4" class="text-center"></td>
                  </tr>
                </tbody>
                <!-- <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="perPage" st-displayed-pages="pageSize"></div>
                  </td>
                </tr>
                </tfoot> -->
              </table>
            </div>
          </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
