<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
      
	<div ui-grid="gridOptions" ui-grid-selection class="gridStyle"></div>

	</div>
  </div>
</div>
</div>
</div>
