
<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><strong>Nama Channel Group</strong></td>
              <td>{{ channel.channelGroup }}</td>
            </tr>
            <tr>
              <td><strong>Nama Petugas Channel Group</strong></td>
              <td>{{ channel.kontakPerson }}</td>
            </tr>
            <tr>
              <td><strong>Alamat</strong></td>
              <td>{{ channel.alamat }}</td>
            </tr>
            <tr>
              <td><strong>Telepon</strong></td>
              <td>{{ channel.nomorTelepon }}</td>
            </tr>
          </tbody>
        </table>
	    </div>
  </div>
</div>
</div>
</div>
