<style media="screen">
  .foto-publik {
    margin : 10px!important;
    width : 10vw!important;
    display : inline-block!important;
  }
</style>
<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <td><strong>Nama Agen</strong></td>
              <td>{{ agen.namaChannel }}</td>
            </tr>
            <tr>
              <td><strong>Nama Petugas Agen</strong></td>
              <td>{{ agen.kontakPerson }}</td>
            </tr>
            <tr>
              <td><strong>Lokasi</strong></td>
              <td>{{ agen.namalokasi }}</td>
            </tr>
            <tr>
              <td><strong>Alamat</strong></td>
              <td>{{ agen.alamat }}</td>
            </tr>
            <tr>
              <td><strong>Telepon</strong></td>
              <td>{{ agen.nomortelepon }}</td>
            </tr>
            <tr>
              <td><strong>Lokasi Peta</strong></td>
              <td>
                <div class="logo-center" style="margin: 10px 0px 10px 0px">
                  <div class="logo-po">
                    <iframe ng-src="{{ mapUrl }}" width="100%" height="350px" frameborder="0"></iframe>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>Foto</strong></td>
              <td>
                <div class="logo-center" style="margin: 10px 0px 10px 0px">
                  <div class="logo-po">
                    <img ngf-src="agen.logo" width="100%">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>Foto Publik</strong></td>
              <td colspan="3">
                <div class="logo-center foto-publik" ng-repeat="foto in agen.fotoPublik">
                  <div class="logo-po">
                    <img ngf-src="foto.gambar" width="100%">
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

	    </div>
  </div>
</div>
</div>
</div>
