<style media="screen">
  .ticket-main {
    padding: 20px
  }
  .ticket-1 {
    padding : 10px;
    border: 2px solid #888;
  }
</style>

<div class="row">

  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.koreksi">
    <div class="menu disabled">
      Void
    </div>
  </div>
  <div class="col-md-4 main-menu pull-left" ui-sref="dashboard.akap.laporan.pembatalan">
    <div class="menu disabled">
      Void Di Refund
    </div>
  </div>
  <div class="col-md-4 main-menu pull-right" ui-sref="dashboard.akap.laporan.refund">
    <div class="menu">
      Progress Refund
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-horizontal">
      <h5>Cari Berdasarkan : </h5>
      <div class="form-group">

        <div class="col-lg-3">
          <select class="form-control" ng-model="refund">
            <option value="" disabled="" selected="">Pilih Agen/Trayek</option>
            <option value="rute_agen">Agen</option>
            <option value="rute_trayek">Trayek</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="refund == 'rute_agen'">
          <select class="form-control" id="agen" ng-model="agen" ng-options="t as t.namaChannel for t in ageens">
            <option value="" disabled="">Pilih Agen</option>
          </select>
        </div>

        <div class="col-lg-2" ng-show="refund == 'rute_trayek'">
          <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.namaChannel for t in trayeeks">
            <option value="" disabled="">Pilih Trayek</option>
          </select>
        </div>

        <div class="col-lg-2">
          <datepicker date-min-limit="{{ limit }}" date-format="yyyy-MM-dd">
            <input ng-model="tglawal" name="tglawal" id="tglawal" class="form-control" ng-change="getTglAwal(tglawal)" onkeydown="return false" placeholder="Tgl Awal"/>
          </datepicker>
        </div>

        <div class="col-lg-2">
          <datepicker date-min-limit="{{ tglawal }}" date-format="yyyy-MM-dd">
            <input ng-model="tglakhir" name="tglakhir" id="tglakhir" class="form-control" ng-change="getTglAkhir(tglakhir)" onkeydown="return false" placeholder="Tgl Akhir"/>
          </datepicker>
        </div>

        <div class="col-lg-2">
          <select class="form-control" ng-model="status">
            <option value="" disabled="" selected="">Status</option>
            <option value="0">Dalam Proses</option>
            <option value="1">Terbayar</option>
          </select>
        </div>

        <!-- <div class="col-lg-4">
            <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
              <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih tanggal" onkeydown="return false" />
            </datepicker>
        </div> -->

        <div class="col-lg-1">
            <button class="btn btn-warning" ng-click="tampil(tglawal, tglakhir, agen, trayek, refund, status)">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

      </div>

      <div>
        <h5 style="color:grey;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data</h5>
      </div>

    </div>

    <div class="data-loader" ng-show="loadData"></div>

  </div>
</div>
<div class="row">
  <!-- <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty"> -->
    <!-- <table class="table table-bordered table-striped" st-table="datas"> -->
    <table class="table table-bordered table-striped" st-table="datas">
      <col width="3%">
      <col width="10%">
      <col width="10%">
      <col width="10%">
      <col width="10%">

      <thead>
        <tr class="th-bg">
          <th class="text-center"><b>No.</b></th>
          <th class="text-center"><b>Jumlah Penumpang</b></th>
          <th class="text-center"><b>Tanggal Refund</b></th>
          <th class="text-center"><b>Nominal Setoran PO</b></th>
          <th class="text-center"><b>Nominal Refund</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invoice in datas">
          <!-- <td>{{ $index + 1 + (active * 10) }}</td> -->
          <td>
            <!-- {{ ($index + 1) }}<br> -->
            {{ ($index + 1) + ((active - 1) * 10)}}
          </td>
          <td>
            {{ invoice.jmlhPenumpangBatal }} penumpang<br>
          </td>
          <td>
            {{ invoice.tglRefundOtodata | date_time }}
          </td>
          <td class="text-right">
            {{ invoice.setoranPo | currency:'':0 }}<br>
          </td>
          <td class="text-right">
            {{ invoice.nominalRefund | currency:'':0 }}
          </td>
          <!-- <td class="text-right">{{ invoice.overDue | number:0 }} Hari</td> -->
          <!-- <td>Not Paid</td> -->
          <!-- <td class="text-center"><button class="btn btn-primary btn-sm" ng-click="next(invoice.tglTransaksi)">Lihat Invoice</button></td> -->
        </tr>
      </tbody>
      <tbody>
        <tr style="font-size:17px">
          <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total per page</td>
          <td class="text-right" style="font-weight:bold!important"><span>{{ total_po | currency:'':0 }}</span></td>
          <td class="text-right" style="font-weight:bold!important"><span>{{ total_refund | currency:'':0 }}</span></td>
          <!-- <td colspan="1" class="text-center"></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" style="margin-top:20px;" ng-hide="pages.length === 0">
    <button class="btn" style="margin-top:20px; margin-left: 5px;" ng-click="prevPage(next)" ng-show="pageActive > 0">
        << prev
    </button>
    <button class="btn" ng-repeat="page in pages" ng-hide="pages.length === 1" ng-click="selectPage(page)" ng-class="{'btn-primary' : page.active, 'btn-default' : !page.active}" style="margin-top:20px; margin-left: 5px;">
        <b>{{ page.page }}</b>
    </button>
    <button class="btn" style="margin-top:20px; margin-left: 5px;" ng-click="nextPage(next)" ng-show="pageActive < totalGrup - 1">
        next >>
    </button>
  </div>
