<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Admin Sistem</h4>
            </div>
          </div> -->
          <h5>Cari Berdasarkan :</h5>

          <div class="row">

            <div class="col-lg-3" style="margin-bottom: 20px;">
              <select class="form-control" id="trayek" ng-model="bulan" ng-options="t as t.name for t in months">
                <option value="" disabled="">Pilih Bulan</option>
              </select>
            </div>

            <div class="col-lg-3" style="margin-bottom: 20px;">
              <select class="form-control" id="trayek" ng-model="tahun" ng-options="y as y for y in years">
                <option value="" disabled="">Pilih Tahun</option>
              </select>
            </div>

            <div class="col-lg-1">
                <button class="btn btn-warning" ng-click="tampil()">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>

          </div>

          <div class="data-loader" ng-show="loadData"></div>

          <div class="col-md-12 text-center" ng-show="
          empty">
              <h5>{{ message }}</h5>
          </div>
          <div class="col-md-12" ng-show="
          !empty">

          <div class="col-md-12">
            <ng-include src="templateUrl" onload="" autoscroll=""></ng-include>
          </div>



          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
