<div class="widget">

  <div class="row">
    <div class="col-md-6">
      <div class="form-horizontal">
        <form>
          <div class="form-group">
            <label for="penjualan">Penjualan</label>
            <input type="text" class="form-control" ng-model="data.penjualan">
          </div>
          <div class="form-group">
            <label for="penjualan">Komisi Agen</label>
            <input type="text" class="form-control" ng-model="data.komisiagen">
          </div>
          <div class="form-group">
            <label for="penjualan">Setoran</label>
            <input type="text" class="form-control" ng-model="data.setoran">
          </div>
          <div class="form-group">
            <h4 for="penjualan">Penggunaan Biaya</h4>
          </div>
          <div class="form-group inline">
            <label for="makan">Makan</label>
            <input type="text" class="form-control" ng-model="data.makan">
          </div>
          <div class="form-group inline">
            <label for="makan">Bensin</label>
            <input type="text" class="form-control" ng-model="data.bensin">
          </div>
          <div class="form-group inline">
            <label for="makan">Lain-lain</label>
            <input type="text" class="form-control" ng-model="data.lain">
          </div>
        </form>
        <div class="form-group" style="margin-top: 20px;">
          <h4>Diterima <span class="pull-right">{{ data.diterima | currency:"Rp.":0 }}</span></h4>
        </div>
      </div>  
    </div>

  </div>

</div>
