<script type="text/javascript">
$(document).ready(function(){
  function blink(selector){
    $(selector).fadeOut('slow', function(){
      $(this).fadeIn('slow', function(){
        blink(this);
      });
    });
  }

// blink('#infoJadwal');
// blink('#editAgen');
blink('#notif_badge');
});
</script>

<style media="screen">
  growl-notification {
    position: left;
    top: 150px;
    right: 10px;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 15px 30px;
    width: auto;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
  }

  growl-notification.fading.ng-move{
      opacity: 0;
      -webkit-transition: 1s linear all; /* Safari/Chrome */
      transition: 1s linear all; /* All other modern browsers and IE10+ */
  }

  growl-notification.fading.ng-move.ng-move-active {
      opacity: 1;
  }
  growl-notification.fading.ng-leave {
      opacity: 1;
      -webkit-transition: 1s linear all; /* Safari/Chrome */
      transition: 1s linear all; /* All other modern browsers and IE10+ */
  }

  growl-notification.fading.ng-leave.ng-leave-active {
      opacity: 0;
  }

  .al-title {
    display : none!important;
  }
  .panel {
    padding : 5px;
  }
  .panel-body {
    border-bottom : 2px solid #f5f5f5;
    padding-left : 15px!important;
    padding-right : 15px!important;
    padding-top : 10px!important;
    padding-bottom : 10px!important;
  }
  .panel-heading {
    padding : 15px;
    background-color : #209e3f!important;
    height : auto;
    font-size : 20px;
  }
  .panel-heading {
    color : #fff!important;
    font-weight : bold!important;
  }
  .pointer {
    cursor : pointer;
  }
  .panel-jadwal {
    height: 300px;
    overflow-x: scroll;
    padding : 10px;
  }
  .list-jadwal {
    height: 300px;
    min-width: 2500px;
    background-color: #fff;
  }
  .day-jadwal {
    width: 100px;
  }
  .is-jadwal {
    background-color : #209e3f!important;
    font-size: 13px;
    cursor: pointer;
    color: #ddd;
  }
  .is-jadwal:hover {
    background-color : #1a8a36!important;
  }
  .is-jadwal-but {
    cursor: pointer;
    font-size: 13px;
    background-color : #eb9c35!important;
    color: #ddd;
  }
  .is-jadwal-but:hover {
    background-color : #cd882e!important;
  }
  .is-not-jadwal {
    font-size: 13px;
    background-color : #eb4535!important;
    cursor: pointer;
  }
  .is-not-jadwal:hover {
    background-color : #c4392b!important;
  }
  .is-jadwal-info {
    background-color:#209e3f;
    margin-bottom:40px;
    height: 10px;
    width: 41.5%;
    margin-top:20px;
    display: inline-block;
    padding: 8px;
    text-align: center;
  }
  .empty {
    background-color : #eb4535!important;

  }
  .plan {
    background-color: #eb9c35;
  }
  .is-jadwal-info > span {
    position : relative;
    right : -120%;
    top : -7%;
    font-size : 12px;
  }
  .info-jadwal {
  }
  .transaksi-title {
    font-size : 30px;
    font-weight : 800;
    background-color : #eee;
    color : #545353!important;
  }
  .transaksi-value {
    font-size : 20px;
    font-weight : bold;
  }
  .transaksi-item {
    font-size : 16px;
  }
  .open-transaksi {
    color : #209e91;
    cursor : pointer;
    font-size : 16px;
  }
  .open-transaksi:hover {
    background-color : #d0d0d0;
    cursor : pointer;
  }
  /* .button__badge {
  background-color: #403efa;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute;
  top: -30;
  left: -5;
  right: 0;
} */
</style>

<welcome-screen></welcome-screen>

<div id="preloader" ng-show="reload">
  <div></div>
</div>

<div class="widgets">

  <div class="row">

    <!-- <div class="col-md-12" ng-model="notif_approval">
      <growl-notification class="fading"> Terdapat <span class="badge">{{notif_approval.sizeCancel}}</span> data Approval
          <button type="button" class="btn btn-info" ng-click="lihat_data()">Lihat Data Approval</button>
          <a href="#" ng-click="$growlNotification.remove()"> <i class="glyphicon glyphicon-remove"></i> </a>
      </growl-notification><br>
      <growl-notification class="fading">
        {{notif.namaAgen}} | {{notif.namaTrayek}} |
          <button type="button" class="btn btn-info" ng-click="setuju()" ng-model=klik_setuju>Approve</button>
          <button type="button" class="btn btn-warning" ng-click="detail()">Detail</button>
          <button type="button" class="btn btn-danger" ng-click="$growlNotification.remove()">Cancel</button>
      </growl-notification>
    </div> -->

    <div class="content-top clearfix">
      <h1>Penjualan dan Pemesanan Hari Ini &nbsp;
        <small class="btn btn-primary" ng-click="getData(true)"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Perbaharui Data</small>
        <small class="btn btn-success" ng-click="toJadwal()">
          <span id="infoJadwal" class="glyphicon glyphicon-info-sign" style="color:#fff"></span>
          &nbsp;Info Jadwal
        </small>
        <small class="btn btn-danger" ng-model="notif_approval" ng-click="lihat_data()">
          <span id="editAgen" class="glyphicon glyphicon-info-sign" style="color:#fff"></span>
          &nbsp;Data Approval&nbsp;
          <span class="badge" id="notif_badge">{{notif_approval.sizeCancel}}</span>
          <!-- <span ng-show="!empty">{{message}}</span> -->
        </small>
        <!-- <small class="btn btn-danger" ng-click="toUpdateAgen()" ng-show="updateAgen.length > 0">
          <span id="editAgen" class="glyphicon glyphicon-info-sign" style="color:#fff"></span>
          &nbsp;Perubahan Data Agen
        </small> -->
      </h1>
      <h3>{{ today | date_v4 }}</h3>
      <h2>{{ clock | date:'HH:mm:ss' }}</h2>
      <h5>Terakhir diperbaharui {{ lastUpdate | date:'HH:mm:ss' }}</h5>
      <!-- <img ngf-src="file || updateAgen[0].logo" width="30vw"> -->
    </div>
  </div>

  <revenue></revenue>

  <this-week></this-week>


</div>
