<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>

        <div class="form-group">

          <div class="col-lg-2">
            <select class="form-control" ng-model="agen" ng-options="t as t.namaChannel for t in ageens">
              <option value="" disabled="">Agen</option>
            </select>
          </div>

          <div class="col-lg-2">
            <datepicker date-format="yyyy-MM-dd">
              <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Tanggal" onkeydown="return false" ng-change="changeTgl()"/>
            </datepicker>
          </div>

          <div class="col-lg-2">
            <select class="form-control" ng-model="status">
              <option value="" disabled="" selected="">Status</option>
              <option value="0">Belum Lunas</option>
              <option value="1">Lunas</option>
            </select>
          </div>

          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>
      <!-- <div>
        <h5 style="color:red;margin-top:10px;" ng-show="data_komisi.length == 0">Tidak ada data penjualan</h5>
      </div> -->
  </div>
  <div class="data-loader" ng-show="loadData"></div>
  <ng-include src="templateUrl"></ng-include>



    <!-- <div class="form-group"  ng-show="data_komisi.length > 0">
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div> -->
  </div>
	</div>
  </div>
</div>
</div>
</div>
