<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
</style>

<!-- <div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h4>History pembayaran komisi Agen</h4>
            </div>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center">
                <h5>{{ message }}</h5>
            </div>
            <div class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="3%">
                <col width="10%">
                <col width="20%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Tgl Pembayaran</b></th>
                    <th class="text-center"><b>Nama Agen</b></th>
                    <th class="text-center"><b>No. Bukti</b></th>
                    <th class="text-center"><b>Tagihan</b></th>
                    <th class="text-center"><b>Terbayar</b></th>
                    <th class="text-center"><b>Status Bayar</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="komisi in data_komisi">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ komisi.tglPembayaran }}</td>
                    <td class="show-data" ng-click="openHistoriKomisi(komisi)">{{ komisi.namaAgen }}</td>
                    <td class="text-left">{{ komisi.noTransaksi }}</td>
                    <td class="text-right">{{ komisi.jmlTagihan | currency:'':0 }}</td>
                    <td class="text-right">{{ komisi.jmlTerbayar | currency:'':0 }}</td>
                    <td class="text-center">{{ komisi.statusBayar }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        <!-- </div>
      </div>
    </div>
  </div>
</div> -->

<div class="col-md-12" id="dataTable" style="margin-top:40px;">
  <!-- <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
  </div> -->
  <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty">
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <thead>
      <tr class="th-bg">
        <th class="text-center"><b>No</b>.</th>
        <th class="text-center"><b>Tgl Pembayaran</b></th>
        <th class="text-center"><b>Nama Agen</b></th>
        <th class="text-center"><b>No. Bukti</b></th>
        <th class="text-center"><b>Tagihan</b></th>
        <th class="text-center"><b>Terbayar</b></th>
        <th class="text-center"><b>Status Bayar</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="komisi in data_komisi"  class="no-top-border">
        <td ng-class="nowrap">{{ $index + 1 }}</td>
        <td ng-class="nowrap">{{ komisi.tglPembayaran }}</td>
        <td ng-class="nowrap" class="show-data" ng-click="openHistoriKomisi(komisi)">{{ komisi.namaAgen }}</td>
        <td ng-class="nowrap" class="text-left">{{ komisi.noTransaksi }}</td>
        <td ng-class="nowrap" class="text-right">{{ komisi.jmlTagihan | currency:'':0 }}</td>
        <td ng-class="nowrap" class="text-right">{{ komisi.jmlTerbayar | currency:'':0 }}</td>
        <td ng-class="nowrap" class="text-center">{{ komisi.statusBayar }}</td>
      </tr>
    </tbody>
  </table>
</div>
