<div class="form-horizontal">
     <div class="form-group">
        <div class="col-lg-2 control-label">Pilih PO</div>
        <div class="col-lg-8">
            <select class="form-control" ng-model="trayek.po.idPo" id="pos" name="pos" ng-options="k.id as k.nama for k in pos"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Seri</label>
        <div class="col-lg-8">
            <input type="text" name="seri" class="form-control" ng-model="trayek.kodetrayek">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Keterangan</label>
        <div class="col-lg-8">
            <input type="text" name="keterangan" class="form-control" ng-model="trayek.trayek">
        </div>
    </div>
</div>