<div class="form-horizontal">

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Keterangan</label>
        <div class="col-lg-4">
        <select class="form-control" id="city" ng-model="trayek" ng-options="k.idKota as k.namaKota for k in cities" ng-click="select_change(trayek)"></select>
        </div>
        <div class="col-lg-4">
        <select class="form-control" id="subcity" ng-model="subtrayek" ng-options="k.idSubKota as k.namaSubKota for k in subkotas"></select>
        </div>
         <div class="col-lg-2">
         <a class="btn btn-warning"  ng-click="tambah()">
                <i class="glyphicon glyphicon-plus"></i>
            </a></div>
    </div>

    <div class="gridStyle" ui-grid="trayeks" ui-grid-resize-columns ui-grid-autoResize ui-grid-pinning ui-grid-expandable >
    </div>
</div>