<div class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Dari</label>
        <div class="col-lg-3">
        <select class="form-control" id="dari" ng-model="dari" ng-options="k.idKota as k.namaKota for k in trayeks1"></select>
        </div>
        <label for="" class="col-lg-2 control-label">Tujuan</label>
        <div class="col-lg-3">
        <select class="form-control" id="ke" ng-model="ke" ng-options="k.idKota as k.namaKota for k in trayeks1"></select>
        </div>
         <div class="col-lg-2">
         <a class="btn btn-primary"  ng-click="tambahSub()">
                <i class="glyphicon glyphicon-plus"></i> 
            </a></div>
    </div>

    <div class="gridStyle" ui-grid="arahtrayeks" ui-grid-resize-columns ui-grid-autoResize></div>
</div>