<div class="form-horizontal">
    

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Keterangan</label>
        <div class="col-lg-4">
        <select class="form-control" id="kotaDari" ng-model="kotaDari" ng-options="k.idKota as k.namaKota for k in trayeks1" ng-click="select_agen(kotaDari)"></select>
        </div>
        <div class="col-lg-4">
        <select class="form-control" id="agen" ng-model="agen" ng-options="k.idChannel as k.namaChannel for k in channels"></select>
        </div>
         <div class="col-lg-2">
         <a class="btn btn-primary"  ng-click="tambahAgen()">
                <i class="glyphicon glyphicon-plus"></i> 
            </a></div>
    </div>
    <div class="gridStyle" ui-grid="tempatBerangkats" ui-grid-resize-columns ui-grid-autoResize></div>
</div>