<!-- <div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div ui-grid="gridOptions" class="gridStyle"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Admin Sistem</h4>
            </div>
          </div> -->

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div  id="dataTable" class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="2%">
                <col width="15%">
                <col width="15%">
                <col width="4%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Trayek</b></th>
                    <th class="text-center"><b>Seri</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="listTrayek in trayek track by $index">
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td>{{ listTrayek.trayek }}</td>
                    <td>{{ listTrayek.kodetrayek }}</td>
                    <td class="text-center"><button class="btn btn-primary btn-sm" ng-click="Lihat($index)">Lihat Detail</button></td>
                  </tr>
                </tbody>
                <!-- <tbody>
                  <tr style="font-size:17px">
                    <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
                    <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
                    <td colspan="4" class="text-center"></td>
                  </tr>
                </tbody> -->
                <!-- <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="perPage" st-displayed-pages="pageSize"></div>
                  </td>
                </tr>
                </tfoot> -->
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
