<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div><h2>{{ data.trayek }}</h2></div>
          <table class="table table-border">
              <tbody>
                  <tr>
                      <td><table class="table table-border" >
                          <tr><td width="20%"><strong>Seri</strong></td><td width="80%">{{data.kodetrayek}}</td></tr>
                          <tr><td width="20%"><strong>Rute</strong></td><td width="80%"><span ng-repeat="r in data.lintasan | filter:searchRoute">
                                      <span ng-class="{'label-success' : $first, 'label-warning' : $last, 'label-info' : (!$first && !$last)}"
                                            class="label">{{r.namalokasi}}</span>
                                      <span ng-if="!$last"> - </span>
                              </span></td></tr>
                              <tr><td width="20%"><strong>Arah Trayek</strong></td><td width="80%"> <span ng-repeat="a in data.arahtrayek">{{a.namaAwal}} - {{a.namaAkhir}} <span ng-if="!$last"><br> </span></span></td></tr>
                              <tr><td width="20%"><strong>Tempat Keberangkatan</strong></td><td width="80%"><span ng-repeat="t in data.tempatberangkat"><small class="fa fa-circle" style="color:#08b4ec"></small>&nbsp;{{ $index + 1 }}. {{t.nama}} ({{t.lokasi}}) <span ng-if="!$last"><br> </span></span></td></tr>
                      </table>
                      </td>
                      <td>
                      </td>
                      <!-- <td>
                          <a ui-sref="app.trayeks.edit({id:data.id})" class="btn btn-warning">
                              <i class="glyphicon glyphicon-edit"></i>
                              Ubah
                          </a>
                      </td>
                      <td>
                          <a ng-click="delete(data.id)" class="btn btn-danger">
                              <i class="glyphicon glyphicon-trash"></i>
                              Hapus
                          </a>
                      </td> -->
                  </tr>
              </tbody>
          </table>
</div>
</div>
</div>
