<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
      <ba-wizard>
        <ba-wizard-step title="Info Trayek" form="vm.trayekLintasanForm">
            <div ng-include="'app/pages/informasi/trayek/trayek.form.info.html'">
            </div>
        </ba-wizard-step>

        <ba-wizard-step title="Lintasan Trayek" form="vm.lintasanTrayekForm">
            <div ng-include="'app/pages/informasi/trayek/trayek.form.lintasan.html'"></div>
         </ba-wizard-step>

        <ba-wizard-step title="Arah Trayek" form="vm.parahTrayekForm">
         <div ng-include="'app/pages/informasi/trayek/trayek.form.arahtrayek.html'"></div>
         </ba-wizard-step>

        <ba-wizard-step title="Tempat Berangkat" form="vm.tempatBerangkatForm">
        <div ng-include="'app/pages/informasi/trayek/trayek.form.agen.html'"></div>
         </ba-wizard-step>
        </ba-wizard>
  </div>
</div>
</div>
</div>