<style media="screen">
  .form-horizontal {
    padding : 10px;
  }
  .form-group {
    margin-bottom : 5px;
  }
  .form-group > label {
    line-height : 20px;
  }
  .form-control {
    background-color : rgba(0, 0, 0, 0.4)!important;
    color : #fff!important;
  }
  .modal-header {
    padding : 10px;
  }
  .modal-dialog {
    top : 10%!important;
    min-width : 350px;
    max-width : 400px;
  }
  .inline > input {
    display : inline-block;
    width : 70%;
  }
  .inline > label {
    display : inline-block!important;
  }
</style>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <form>
        <div class="form-group">
          <label for="penjualan">Komponen Biaya</label>
          <select class="form-control" ng-model="jenisBiaya" ng-options="k as k.namaBiaya for k in listBiaya" ng-change="l()">
            <option value="" disabled="">Pilih Biaya</option>
          </select>
        </div>
        <div class="form-group inline">
          <label for="nominal" style="font-size: 20px;margin-top: 5px;padding-left:15%;">Rp. </label>
          <input type="text" ng-model="tambahan.nominal" format="number" class="form-control pull-right">
        </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="submit()">Tambahkan</button>
  </div>
</form>
</div>
