<style media="screen">
  .modal-dialog {
    width: 90vw!important;
    min-width: 90vw!important;
    max-width: 90vw!important;
  }
  .align-center {
    text-align: center;
  }
</style>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">{{ title }}</h4>
    <!-- <button type="button" class="btn btn-danger pull-left" ng-click="exportPdf()">Simpan Sebagai PDF</button> -->
    <!-- <button type="button" class="btn btn-success pull-left" ng-click="exportXls()">Simpan Sebagai XLS</button> -->
  </div>
  <div class="modal-body">
    <div ui-grid="gridOptions" ui-grid-exporter class="grid"></div>
  </div>
</div>
