<div class="col-md-12" id="dataTable" style="margin-top:40px;">
  <!-- <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div> -->
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center">
          <b>Agen</b>
        </th>
        <th class="text-center" ng-repeat="d in weekDateMs">
        <!-- <th class="text-center" ng-repeat="d in weekDate"> -->
          <b>{{ d | date:'dd/MM/yyyy' }}</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in datas | orderBy:'-jmlPenumpang'" class="no-top-border">
        <td ng-class="nowrap">
          {{$index + 1}}
        </td>
        <td ng-class="nowrap">
          <a>{{item.namaAgen}}</a>
        </td>
        <td class="align-right" ng-repeat="d in item.detail" ng-style="d.jmlPenumpang === 0 && { 'background-color' : '#adadad' }">
          <b>{{d.jmlPenumpang}}</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
