<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">

            <div class="col-lg-3" style="margin-bottom: 20px;">
              <select class="form-control" id="trayek" ng-model="bulan" ng-options="t as t.name for t in months">
                <option value="" disabled="">Pilih Bulan</option>
              </select>
            </div>

            <div class="col-lg-3" style="margin-bottom: 20px;">
              <select class="form-control" id="trayek" ng-model="tahun" ng-options="y as y for y in years">
                <option value="" disabled="">Pilih Tahun</option>
              </select>
            </div>

            <div class="col-lg-1">
                <button class="btn btn-warning" ng-click="tampil()">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>

          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="3%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Transaction Date</b></th>
                    <th class="text-center"><b>Invoice No.</b></th>
                    <th class="text-center"><b>Amount Due (Rp)</b></th>
                    <th class="text-center"><b>Date paid</b></th>
                    <!-- <th class="text-center"><b>Over Due</b></th> -->
                    <th class="text-center"><b>Status</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="invoice in datas">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ invoice.tglTransaksi | date_v1 }}</td>
                    <td>{{ invoice.noInvoice }}</td>
                    <td class="text-right">{{ invoice.amountDue | currency:'':0 }}</td>
                    <td class="text-right">{{ invoice.tglPembayaran | date_v1 }}</td>
                    <!-- <td class="text-right">{{ invoice.overDue | number:0 }} Hari</td> -->
                    <td>Paid</td>
                    <td class="text-right"><button class="btn btn-primary btn-sm" ng-click="next(invoice.tglTransaksi)">Lihat Invoice</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
