<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body" ng-include="templateUrl">
        	<!-- <div class="">

        	</div> -->
	      </div>
      </div>
    </div>
  </div>
</div>
