<div>
  <div class="row">
    <div class="text-center">
      <h2>Pilih Agen Berangkat</h2>
    </div>
    <div class="col-md-12 ticket-main" ng-repeat="agen in listAgen | reverse" style="padding:5px;">
      <div class="ticket-1" ng-click="pilihBus(agen)" style="display:grid">
        <div class="">
          <div class="col-md-12">
            <h4><b>{{ agen.channel.namaChannel }}</b></h4>
          </div>
        </div>
        <div class="">
          <div class="col-md-4">
            <h6>Pemilik <span class="pull-right">:</span></h6>
          </div>
          <div class="col-md-8">
            <h6>{{ agen.channel.kontakPerson }}</h6>
          </div>
        </div>
        <div class="">
          <div class="col-md-4">
            <h6>Nomot Telepon <span class="pull-right">:</span></h6>
          </div>
          <div class="col-md-8">
            <h6>{{ agen.channel.nomorTelepon }}</h6>
          </div>
        </div>
        <div class="">
          <div class="col-md-4">
            <h6>Alamat <span class="pull-right">:</span></h6>
          </div>
          <div class="col-md-8">
            <h6>{{ agen.channel.alamat }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="pesanError" class="text-center">
      <div>
        <h5>{{ pesanError }}</h5>
      </div>
    </div>
    <div class="text-center" style="margin-top:20px;" ng-hide="pages.length === 1">
      <button class="btn" ng-repeat="page in pages" ng-click="selectPage(page)" ng-class="{'btn-primary' : page.active, 'btn-default' : !page.active}">
        <b>{{ page.page + 1 }}</b>
      </button>
    </div>
    <div class="col-lg-12 text-center">
      <button class="btn btn-danger pull-left" ng-click="$parent.backSearch(0)">
        <i class="glyphicon glyphicon-backward"></i> Kembali
      </button>
    </div>
  </div>
</div>
