<style media="screen">
  .form-harian {
    min-width : 350px;
    max-width : 400px;
    background-color : #fff;
    margin-left : auto;
    margin-right : auto;
    padding : 10px;
  }
  .form-group {
    padding-left : 10px;
    padding-right : 10px;
  }
  .form-horizontal {
    padding : 10px;
  }
  .form-group {
    margin-bottom : 5px;
  }
  .form-group > h4 {
    margin-top : 15px;
  }
  .inline > input {
    display : inline-block;
    width : 70%;
  }
  .inline > label {
    display : inline-block;
    width : 15%;
  }
  .pointer {
    cursor : pointer
  }
  .form-control {
    text-align: right!important;
  }
</style>

<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <h4>Pembayaran Komisi Agen</h4>
          <div class="col-md-6">
            <div class="form-horizontal">
              <table class="table table-bordered" style="margin-top:15px;">
                <col width="40%">
                <col width="60%">
                <tbody>
                  <tr>
                    <td>Agen</td>
                    <td><b>{{ data.namaAgen }}</b></td>
                  </tr>
                  <tr>
                    <td>Jumlah Transaksi</td>
                    <td><b>{{ data.jmlTransaksi }}</b></td>
                  </tr>
                  <tr>
                    <td>Kursi Terpesan</td>
                    <td><b>{{ data.jmlPenumpang }}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-horizontal">
              <form>
                <div class="form-group">
                  <h4 for="penjualan">Pendapatan Harga Jual</h4>
                  <input type="text" class="form-control" ng-model="data.jmlhHargaJual" format="number" disabled="">
                </div>
                <div class="form-group">
                  <h4 for="penjualan">Komisi Diperoleh</h4>
                  <input type="text" class="form-control" ng-model="data.jmlhKomisi" format="number" disabled="">
                </div>
                <div class="form-group">
                  <h4 for="penjualan">Sisa Pembayaran</h4>
                  <input type="text" class="form-control" ng-model="data.sisaBayar" format="number" disabled="">
                </div>
                <div class="form-group">
                  <h4 for="penjualan">Komisi Dibayar</h4>
                  <input type="text" class="form-control" ng-model="data.diterima" ng-pattern="onlyNumbers" format="number" ng-change="update()">
                  <p class="text-danger" ng-show="isNull">Komisi dibayar tidak boleh kosong dan di bawah nol (-0) !</p>
                </div>
                <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                  <span>
                    <input type="checkbox" ng-model="data.status">
                    <b>Tandai Sebagai Lunas</b>
                  </span>
                </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary pull-right" ng-click="bayar()">Bayar</button>
              </div>
            </div>
          </form>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
