<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
  .btn[disabled] {
    background-color: #b2b4b1!important;
    border: none!important;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>
        <div class="form-group">

          <div class="col-lg-2">
            <select class="form-control" ng-model="transaksi">
              <option value="" disabled="" selected="">Pilih Transaksi</option>
              <option value="penjualan">Penjualan</option>
              <option value="pemesanan">Pemesanan</option>
              <option value="pemesanan_otobus">Pemesanan Otobus</option>
            </select>
          </div>

          <div class="col-lg-2">
            <select class="form-control" ng-model="jenisTransaksi">
              <option value="" disabled="" selected="">Jenis Transaksi</option>
              <option value="trayek" ng-hide="transaksi == 'pemesanan' || transaksi == 'pemesanan_otobus'">Trayek</option>
              <option value="agen">Agen</option>
            </select>
          </div>

          <div class="col-lg-2">
              <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
                <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false"/>
              </datepicker>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'trayek'">
            <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks" ng-change="getJamBerangkat(trayek.id)">
              <option value="" disabled="">Pilih Trayek</option>
            </select>
          </div>

          <div class="col-lg-2" ng-show="jenisTransaksi == 'trayek'" ng-hide="jenisTransaksi == 'agen' || trayek.name == 'Semua Trayek'">
            <select class="form-control" id="jamBerangkat" ng-model="jamBerangkat" ng-options="t as t for t in listJamBerangkat">
              <option value="" disabled="">Jam Berangkat</option>
            </select>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'agen' && transaksi == 'pemesanan'">
            <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in agens">
              <option value="" disabled="">Pilih Agen</option>
            </select>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'agen' && transaksi == 'penjualan'">
            <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in listAgens">
              <option value="" disabled="">Pilih Agen</option>
            </select>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'agen' && transaksi == 'pemesanan_otobus'">
            <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in agens">
              <option value="" disabled="">Pilih Agen</option>
            </select>
          </div>

          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil(tanggal)">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>
      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data penjualan</h5>
      </div>
  </div>
  <div class="data-loader" ng-show="loadData"></div>
  <div class="col-md-12">
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <div class="col-md-12" ng-show="datas.length > 0" style="margin-top:20px;">
    <div id="barChart" class="admin-chart" ng-hide="transaksi == 'pemesanan' || transaksi == 'pemesanan_otobus'"></div>
  </div>
  <div class="col-md-12">
    <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
  </div>


    <div class="form-group"  ng-show="datas.length > 0">
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div>
      <div class="col-lg-2 pull-right">
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div>
  </div>
	</div>
  </div>
</div>
</div>
</div>
