<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
        <div class="form-horizontal">

        <h5>Cari Berdasarkan : </h5>

        <div class="form-group">

          <div class="col-md-3">
            <select class="form-control" ng-model="transaksi">
              <option value="" disabled="" selected="">Pilih Transaksi</option>
              <option value="penjualan">Penjualan</option>
              <option value="pemesanan">Pemesanan</option>
              <option value="pemesanan_otobus">Pemesanan Otobus</option>
            </select>
          </div>

          <div class="col-md-3">
            <select class="form-control" ng-model="jenisTransaksi" ng-change="getPeriode()">
              <option value="" disabled="" selected="">Jenis Transaksi</option>
              <option value="trayek" ng-hide="transaksi == 'pemesanan_otobus'">Trayek</option>
              <option value="agen">Agen</option>
            </select>
          </div>

        </div><br>

        <div class="form-group">

          <div class="col-lg-2">
            <select class="form-control" ng-model="periode">
              <option value="" disabled="" selected="">Periode</option>
              <option value="weekly">Minggu</option>
              <option value="monthly">Bulan</option>
              <!-- <option value="monthly" ng-hide="jenisTransaksi === 'agen'">Bulan</option> -->
            </select>
          </div>

          <div class="col-lg-3" ng-show="periode == 'weekly' && transaksi == 'penjualan'">
              <datepicker date-format="yyyy-MM-dd"  date-max-limit="{{ limit }}">
                <input ng-model="startDate" onkeydown="return false" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Batas Tanggal" />
              </datepicker>
          </div>

          <div class="col-lg-3" ng-show="periode == 'weekly' && transaksi == 'pemesanan'">
              <datepicker date-format="yyyy-MM-dd">
                <input ng-model="startDate" onkeydown="return false" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Batas Tanggal" />
              </datepicker>
          </div>

          <div class="col-lg-3" ng-show="periode == 'weekly' && transaksi == 'pemesanan_otobus'">
              <datepicker date-format="yyyy-MM-dd">
                <input ng-model="startDate" onkeydown="return false" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Batas Tanggal" />
              </datepicker>
          </div>

          <div class="col-lg-2" ng-show="periode == 'monthly'">
            <select class="form-control" id="trayek" ng-model="bulan" ng-options="t as t.name for t in months">
              <option value="" disabled="">Pilih Bulan</option>
            </select>
          </div>

          <div class="col-lg-2"  ng-show="periode == 'monthly'">
            <select class="form-control" id="trayek" ng-model="tahun" ng-options="y as y for y in years">
              <option value="" disabled="">Pilih Tahun</option>
            </select>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'trayek'">
            <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks">
              <option value="" disabled="">Pilih Trayek</option>
            </select>
          </div>

          <div class="col-lg-3" ng-show="jenisTransaksi == 'agen'">
            <select class="form-control" id="trayek" ng-model="agen" ng-options="a as a.name for a in agens">
              <option value="" disabled="">Pilih Agen</option>
            </select>
          </div>

          <div class="col-lg-1">
              <button class="btn btn-warning" ng-click="tampil(tanggal)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>

      </div>
      <div>
        <h5 style="color:red;margin-top:10px;" ng-show="datas.length === 0">Tidak ada data penjualan</h5>
      </div>
  </div>
  <div class="data-loader" ng-show="loadData"></div>
  <div class="col-md-12">
    <h4 ng-show="transaksi == 'penjualan' && datas.length > 0">Laporan Penjualan</h4>
    <h4 ng-show="transaksi == 'pemesanan' && datas.length > 0">Laporan Pemesanan</h4>
    <h4 ng-show="transaksi == 'pemesanan_otobus' && datas.length > 0">Laporan Pemesanan Otobus</h4>
    <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
  </div>
  <div class="col-md-12" ng-show="datas.length > 0" style="margin-top:20px;">
    <h5 ng-show="periode == 'agen'">Penjualan Tiket Per Trayek</h5>
    <h5 ng-show="periode == 'trayek'">Penjualan Tiket per Agen</h5>
    <ng-include src="chartTemplate"  onload=""  autoscroll=""></ng-include>
  </div>
  <div class="col-md-12">
    <ng-include src="templateUrl"></ng-include>
  </div>


    <div class="form-group"  ng-show="datas.length > 0">
      <div class="col-lg-2 pull-right"><br><br>
        <button type="button" class="btn btn-danger pull-right" ng-click="exportPdf()" ng-show="transaksi == 'penjualan' && periode == 'weekly' && jenisTransaksi == 'agen' || transaksi == 'pemesanan' && periode == 'weekly' && jenisTransaksi == 'agen' || transaksi == 'pemesanan_otobus' && periode == 'weekly' && jenisTransaksi == 'agen'"><i class="fa fa-file-pdf-o"></i>&nbsp;Simpan Sebagai PDF</button>
      </div>
      <div class="col-lg-2 pull-right"><br><br>
        <button type="button" class="btn btn-success pull-right" ng-click="exportXls()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai XLS</button>
      </div>
    </div>
  </div>
	</div>
  </div>
</div>
</div>
</div>
