<div class="col-md-12" id="dataTable" style="margin-top:40px;">
  <!-- <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
    <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
  </div> -->
  <div class="col-md-12 text-center" ng-show="
  empty">
      <h5>{{ message }}</h5>
  </div>
  <div class="col-md-12" ng-show="
  !empty">
  <table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center">
          <b>Agen</b>
        </th>
        <th class="text-center">
          <b>Jml Transaksi</b>
        </th>
        <th class="text-center">
          <b>Jml Penjualan</b>
        </th>
        <th class="text-center">
          <b>Jml Komisi</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data_komisi" class="no-top-border">
        <td ng-class="nowrap">
          {{$index + 1}}
        </td>
        <td ng-class="nowrap">
          <a>{{item.namaAgen}}</a>
        </td>
        <td ng-class="nowrap">
          <a>{{item.jmlTransaksi}}</a>
        </td>
        <td ng-class="nowrap">
          <a>{{item.jmlhHargaJual}}</a>
        </td>
        <td ng-class="nowrap">
          <a>{{item.jmlhKomisi}}</a>
        </td>
        <!-- <td class="align-right" ng-repeat="d in item.detail" ng-style="d.jmlPenumpang === 0 && { 'background-color' : '#adadad' }">
          <b>{{d.jmlPenumpang}}</b>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
