<style media="screen">
  .not-found-info {
    padding: 20px;
  }
</style>

<div class="col-md-12">
  <div class="text-center not-found-info">
    <h4 style="color:red">{{ info }}</h4>
  </div>
</div>
