<h4>Laporan Pemesanan Agen</h4>
<table class="table table-bordered">
  <col width="20%">
  <col width="80%">
  <tbody>
    <tr>
      <td>Agen</td>
      <td><b>{{ datas[0].profile.name }}</b></td>
    </tr>
    <tr>
      <td>Petugas</td>
      <td><b>{{ datas[0].profile.kontakPerson }}</b></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td><b>{{ datas[0].profile.nomorTelepon }}</b></td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td><b>{{ datas[0].profile.alamat }}</b></td>
    </tr>
  </tbody>
</table>
