<style media="screen">
  .seat-form {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 10px;
}

.seat-form input {
	padding: 5px!important;
	text-align: center!important;
}

.s2-2 {
  width : 20%!important;
}

.s3-2 {
  width : 16%!important;
}

input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
</style>
<div class="widget">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default bootstrap-panel">
                <div class="panel-body">

                  <div class="form-horizontal">
                    <!-- <div class="form-group">
                        <div class="col-lg-3 control-label">Pilih PO</div>
                        <div class="col-lg-6">
                            <select class="form-control" ng-model="bus.po.idPo" id="pos" name="pos" ng-options="k.idPo as k.nama for k in pos"></select>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <div class="col-lg-3 control-label">Kode Armada</div>
                        <div class="col-lg-6">
                            <input type="text" name="kode" ng-model="bus.id" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 control-label">No Plat</div>
                        <div class="col-lg-6">
                            <input type="text" name="nama" ng-model="bus.plat" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 control-label">Kelas</div>
                        <div class="col-lg-3">
                            <input type="radio" ng-model="bus.ekonomi" ng-value="true">Ekonomi
                        </div>
                        <div class="col-lg-3">
                            <input type="radio" ng-model="bus.ekonomi" ng-value="false">Non-Ekonomi
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 control-label">Sub Kelas</div>
                        <div class="col-lg-6">
                            <input type="text" name="nama" ng-model="bus.kelas" class="form-control">
                        </div>
                    </div>

                    <hr>
                    <h5>Layout Kursi</h5>

                    <!-- <div class="form-group">
                        <div class="col-lg-3 control-label">Tipe Kursi</div> -->
                        <!-- <div class="col-lg-6">
                            <input type="text" name="pemilik" ng-model="bus.seatType" class="form-control">
                        </div> -->
                        <!-- <div class="col-lg-6">
                          <div class="col-xs-6">
                            <div class="col-xs-2">
                                <input type="radio" ng-model="bus.seatType" value="2-2" ng-change="style()">
                            </div>
                            <div class="col-xs-8">
                              2 - 2
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-xs-2">
                                <input type="radio" ng-model="bus.seatType" value="2-3" ng-change="style()">
                            </div>
                            <div class="col-xs-8">
                              2 - 3
                            </div>
                          </div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group">
                        <div class="col-lg-3 control-label">Cara Penomoran</div> -->
                        <!-- <div class="col-lg-6">
                            <input type="text" name="pemilik" ng-model="bus.seatType" class="form-control">
                        </div> -->
                        <!-- <div class="col-lg-6">
                          <div class="col-xs-6">
                            <div class="col-xs-2">
                              <input type="radio" ng-model="typeNumber" ng-value="true" ng-change="style()">
                            </div>
                            <div class="col-xs-8">
                              1 - 2 - 3 - 4 <br>
                              5 - 6 - 7 - 8
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-xs-2">
                              <input type="radio" ng-model="typeNumber" ng-value="false" ng-change="style()">
                            </div>
                            <div class="col-xs-8">
                              1A - 1B - 1C - 1D <br>
                              2A - 2B - 2C - 2D
                            </div>
                          </div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group">
                        <div class="col-lg-3 control-label">Jumlah Kursi</div>
                        <div class="col-lg-6">
                            <input type="number" name="pemilik" ng-model="bus.seat" class="form-control">
                        </div>
                        <button type="button" name="button" ng-click="seatChange(bus.seat)">Buat Layout</button>
                    </div> -->

                    <div class="form-group">
                        <div class="col-lg-3 control-label">Hasil Layout</div>
                        <div class="col-lg-4" style="border:1px solid #ccc; text-align:center; border-radius:4px;margin-left:10px;">
                          <div class="row">
                            <div class="col-xs-6 pull-right">
                              <h6>Pengemudi</h6>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-4">
                              <h6>Pintu Depan</h6>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="row" style="padding: 15px;">
                                <div ng-class="style" class="seat-form" ng-repeat="seat in fakeSeat track by $index">
                                  <input type="text" class="form-control" ng-model="seatNo[seat.index]" ng-style="seatNo[seat.index] && { 'background-color' : 'orange', 'color' : '#dddddd' }" style="border-radius:0px;" capitalize ng-change="toNo($index)">
                                </div>
                              </div>
                              <div class="row">
                                <button type="button" class="pull-left" name="button" ng-click="addSeat()" ng-hide="fakeSeat.length == 0">Tambah Kursi</button>
                                <button type="button" class="pull-right" name="button" ng-click="deleteSeat()" ng-hide="fakeSeat.length == 0">Hapus Kursi</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <hr>
                    <h5>Fasilitas Bus</h5>
                    <div class="form-group">
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.ac">AC
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.recSeat">Recleaning Seat
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.footRest">Foot Rest
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.legRest">Leg Rest
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.video">Video
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.audio">Audio
                        </div>
                    <!-- </div> -->
                    <!-- <div class="form-group"> -->
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.wifi">WiFi
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.toilet">Toilet
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.smokingArea">Smoking Area
                        </div>

                    </div>

                    <hr>
                    <h5>Fasilitas Layanan</h5>
                    <div class="form-group">

                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.airMineral">Air Mineral
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.snack">Snack
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.selimut">Selimut
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" ng-model="bus.bantal">Bantal
                        </div>

                    </div>

                    <hr>
                    <h5>Voucher Makan</h5>
                    <div class="form-group">
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="0"selected> 0
                      </div>
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="1"> 1
                      </div>
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="2"> 2
                      </div>
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="3"> 3
                      </div>
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="4"> 4
                      </div>
                      <div class="col-lg-2">
                          <input type="radio" ng-model="bus.voucherMakan" ng-value="5"> 5
                      </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="col-lg-3 control-label">Bagasi</div>
                        <div class="col-lg-6">
                            <input type="text" name="bagasi" ng-model="bus.bagasi" class="form-control"> kg
                        </div>

                    </div>

                    <hr>
                    <h5>Foto Fasilitas</h5>
                    <div class="form-group">
                      <div class="col-lg-3 control-label"></div>
                        <div class="col-lg-6">
                          <input type="file" ng-click="$event = $event"  ngf-select ng-model="bus.fotoPublik"  ngf-resize="{quality: .7}" multiple onchange="angular.element(this).scope().preview(event)" accept="image/png, image/jpeg" />
                          <div class="row">
                            <div class="col-md-12">
                              <span ng-repeat='img in images' class="pip">
                                <a ng-click="setImage($index)"></br>
                                  <img ng-src="{{img}}" class="imageThumb" alt="Generic placeholder thumbnail" style="max-height:100px;"/>
                                  <span class="remove" data-ng-click="removeItem($index)">Remove image</span>
                                </a>
                              </span>
                            </div>
                          </div>
                            <img ng-src="{{display}}" ng-hide="!display" />
                        </div>
                      </div><br><br>

                    <hr>
                    <h5>Logo Bus</h5>
                    <div class="logo-center">
                        <div class="logo-po">
                            <img ngf-src="file || bus.logo" width="100%">
                        </div>
                    </div><br>
                    <div class="form-group" style="text-align:center">
                        <div class="btn btn-default" ngf-select ng-model="file" ngf-pattern="'image/*'" ngf-resize="{quality: .7}" ngf-accept="'image/*'">
                            Pilih Logo
                        </div>
                    </div><br><br><br>

                    <input type="hidden" name="idPo" ng-model="bus.po.idPo" ng-init="bus.po.idPo=po.idPo"/>

                    <hr>
                    <div class="">

                        <div class="col-lg-12 text-center">
                          <loader ng-show="clicked"></loader>
                            <button class="btn btn-warning" ng-click="save()" ng-disabled="clicked">
                                <i class="glyphicon glyphicon-ok"></i> Simpan
                            </button>

                            <a ui-sref="dashboard.informasi.armada.list" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Batal</a>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>
</div>
