<!-- <div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">

<div ui-grid="gridOptions" class="gridStyle"></div>

	</div>
  </div>
</div>
</div>
</div> -->

<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div class="col-md-12">
            <button class="btn btn-warning pull-left" ng-click="add()"><i class="glyphicon glyphicon-plus"></i>
              Tambah Armada
            </button>&nbsp;&nbsp;&nbsp;

            <!-- <button class="btn btn-info" ng-show="data.active" ng-click="FiturThread($index)">Enable</button>
            <button style="background-color: grey; color:white;" class="btn" ng-hide="data.active" ng-click="FiturThread($index)">Disable</button> -->
          </div><br><br><br>

          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Admin Sistem</h4>
            </div>
          </div> -->

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div  id="dataTable" class="col-md-12" ng-show="
            !empty">
              <!-- <table class="table table-bordered table-striped" ng-show="tampilHapus"> -->
              <table class="table table-bordered table-striped">
                <col width="2%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="25%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Plat</b></th>
                    <th class="text-center"><b>ID</b></th>
                    <th class="text-center"><b>Kelas</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="listArmada in armada track by $index">
                    <td class="text-center">{{ $index + 1 }}</td>
                    <td>{{ listArmada.plat }}</td>
                    <td>{{ listArmada.id }}</td>
                    <td>{{ listArmada.kelas }}</td>
                    <td class="text-center">
                      <button class="btn btn-success btn-sm" ng-click="Lihat($index)">Detail</button>

                      <button class="btn btn-primary btn-sm" ng-click="Edit($index)">Edit</button>

                      <button class="btn btn-info btn-sm" ng-show="!listArmada.valid" ng-click="FiturThread($index)">Show</button>
                      <button style="background-color: grey; color:white;" class="btn btn-sm" ng-show="listArmada.valid" ng-click="FiturThread($index)">Hide</button>

                      <button class="btn btn-danger btn-sm" ng-click="Hapus($index)">Delete</button>
                    </td>
                  </tr>
                </tbody>
                <!-- <tbody>
                  <tr style="font-size:17px">
                    <td colspan="3" style="font-weight:bold!important;text-align:center!important">Total</td>
                    <td class="text-right" style="font-weight:bold!important"><span>{{ total | currency:'':0 }}</span></td>
                    <td colspan="4" class="text-center"></td>
                  </tr>
                </tbody> -->
                <!-- <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="perPage" st-displayed-pages="pageSize"></div>
                  </td>
                </tr>
                </tfoot> -->
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
