<style media="screen">
  .seat-view {
    padding: 10px 2px 0 2px ;
  }
  .seat {
    background-color: orange;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
  }
  .bus-view {
    width: 310px;
    border: 1px solid #999999;
    border-radius: 4px;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
      <div class="panel-body">
	<div class="form-horizontal">


    <div class="form-group">
        <div class="col-lg-3 control-label">Kode Armada</div>
        <div class="col-lg-6">
            <input type="text" name="kode" disabled ng-model="bus.id" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">No Plat</div>
        <div class="col-lg-6">
            <input type="text" name="nama" disabled ng-model="bus.plat" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Kelas</div>
        <div class="col-lg-3">
            <input type="radio" disabled ng-model="bus.ekonomi" ng-value="true">Ekonomi
        </div>
        <div class="col-lg-3">
            <input type="radio" disabled ng-model="bus.ekonomi" ng-value="false">Non-Ekonomi
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Sub Kelas</div>
        <div class="col-lg-6">
            <input type="text" name="nama" disabled ng-model="bus.kelas" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Type Seat</div>
        <div class="col-lg-6">
            <input type="text" name="pemilik" disabled ng-model="bus.seatType" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Jumlah Seat</div>
        <div class="col-lg-6">
            <input type="text" name="pemilik" disabled ng-model="bus.seat" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Layout</div>
        <div class="col-lg-6">
          <div class="bus-view">
            <div class="row" style="width:300px;margin-left:auto;margin-right:auto">
              <div class="col-xs-2 seat-view pull-right" ng-style="tipe2 && { 'width' : '16.666666667%' } || !tipe2 && { 'width' : '20%' }">
                <div class="seat" style="background-color:grey">
                  <span class="glyphicon glyphicon-dashboard"></span>
                </div>
              </div>
            </div>
            <div class="row" style="width:300px;margin-left:auto;margin-right:auto">
              <div class="col-xs-2 seat-view" ng-style="tipe2 && { 'width' : '16.666666667%' } || !tipe2 && { 'width' : '20%' }" ng-repeat="seat in tesLayout">
                <div class="seat" ng-style="seat[2] == 'NO' && { 'visibility' : 'hidden' } || !seat[2] && { 'display' : 'none' }">
                  {{ seat[2] }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- <div class="form-group">
        <div class="col-lg-3 control-label">Seat Number</div>
        <div class="col-lg-6">
            <textarea name="seatNumber" disabled ng-model="bus.seatNumber" id="seatNumber" cols="30" rows="3" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Layout</div>
        <div class="col-lg-6">
            <textarea name="layout" disabled ng-model="bus.layout" id="layout" cols="30" rows="5" class="form-control"></textarea>
        </div>
    </div> -->

    <hr>
    <h5>Fasilitas Bus</h5>
    <div class="form-group">

        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.ac">AC
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.recSeat">Recleaning Seat
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.footRest">Foot Rest
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.legRest">Leg Rest
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.video">Video
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.audio">Audio
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.wifi">WiFi
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.toilet">Toilet
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.smokingArea">Smoking Area
        </div>

    </div>

    <hr>
    <h5>Fasilitas Layanan</h5>
    <div class="form-group">

        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.airMineral">Air Mineral
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.snack">Snack
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.voucherMakan">Voucher Makan
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.selimut">Selimut
        </div>
        <div class="col-lg-2">
            <input type="checkbox" disabled ng-model="bus.bantal">Bantal
        </div>

    </div>

    <hr>
    <h5>Voucher Makan</h5>
    <div class="form-group">
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="0"selected> 0
      </div>
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="1"> 1
      </div>
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="2"> 2
      </div>
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="3"> 3
      </div>
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="4"> 4
      </div>
      <div class="col-lg-2">
          <input type="radio" disabled ng-model="bus.voucherMakan" ng-value="5"> 5
      </div>
    </div>

    <hr>
    <div class="form-group">
        <div class="col-lg-3 control-label">Bagasi</div>
        <div class="col-lg-6">
            <input type="text" name="bagasi" disabled ng-model="bus.bagasi" class="form-control"> kg
        </div>

    </div>

    <hr>
    <h5>Foto Fasilitas</h5>
    <div class="form-group">
      <div class="col-lg-3 control-label"></div>
        <div class="col-lg-6">
          <!-- <input type="file" ng-click="$event = $event"  ngf-select ng-model="bus.fotoPublik"  ngf-resize="{quality: .7}" multiple onchange="angular.element(this).scope().preview(event)" accept="image/png, image/jpeg" /> -->
          <div class="row">
            <div class="col-md-12">
              <span ng-repeat='img in images' class="pip">
                <a ng-click="setImage($index)"></br>
                  <img ng-src="{{img}}" alt="Generic placeholder thumbnail" style="max-height:100px;" class="thumbnail imageThumb"/>
                </a>
              </span>
            </div>
          </div>
            <img ng-src="{{display}}" ng-hide="!display" />
        </div>
      </div>

      <hr>
      <h5>Logo Bus</h5>
      <div class="logo-center">
          <div class="logo-po">
            <img class="" ng-src="{{bus.logo}}" width="100%" ng-hide="file">
            <img ngf-src="file" width="100%" ng-show="file">
          </div>
      </div>

      <!-- <div class="form-group" style="text-align:center">
          <div class="btn btn-default" ngf-select ng-model="file" ngf-pattern="'image/*'" ngf-resize="{quality: .7}" ngf-accept="'image/*'">
              Pilih Logo
          </div>
      </div> -->


</div>
	</div>
  </div>
</div>
</div>
</div>
