<style media="screen">
  .show-data:hover {
    background-color: #20c7b6;
    color: white;
    cursor: pointer;
  }
  cursor: pointer;
  .sortorder {
    cursor: pointer;
  }
  .sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
  }
  .sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
  }
  th.text-center > b {
  }
</style>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
          <div class="form-horizontal">

            <h5>Cari Berdasarkan : </h5>
            <div class="form-group">

              <div class="col-lg-2">
                <select class="form-control" ng-model="transaksi">
                  <option value="" disabled="" selected="">Pilih Transaksi</option>
                  <option value="penjualan">Penjualan</option>
                  <option value="pemesanan">Pemesanan</option>
                </select>
              </div>

              <div class="col-lg-2">
                  <datepicker date-max-limit="{{ limit }}" date-format="yyyy-MM-dd" date-set="{{ now }}">
                    <input ng-model="tanggal" name="tanggal" id="tanggal" class="form-control" placeholder="Pilih Tanggal" onkeydown="return false"/>
                  </datepicker>
              </div>

              <div class="col-lg-3" ng-show="transaksi == 'penjualan'">
                <select class="form-control" id="trayek" ng-model="trayek" ng-options="t as t.name for t in trayeks" ng-change="getJamBerangkat(trayek.id)">
                  <option value="" disabled="">Pilih Trayek</option>
                </select>
              </div>

              <!-- <div class="col-lg-2" ng-show="transaksi == 'penjualan'" ng-hide="trayek.name == 'Semua Trayek' || transaksi == 'pemesanan'">
                <select class="form-control" id="jamBerangkat" ng-model="jamBerangkat" ng-options="t as t for t in listJamBerangkat">
                  <option value="" disabled="">Jam Berangkat</option>
                </select>
              </div> -->

              <div class="col-lg-3" ng-show="transaksi == 'pemesanan'">
                <select class="form-control" id="agen" ng-model="agen" ng-options="agens as agens.name for agens in agens">
                  <option value="" disabled="">Pilih Agen</option>
                </select>
                <input ng-hide="true" class="form-control" id="agen" ng-model="agen" uib-typeahead="agens as agens.name for agens in listAgens | filter:$viewValue | limitTo:8" placeholder="Masukan Nama Agen" typeahead-no-results="noResults"/>
                <span ng-if="noResults" auto-close="disabled" is-open="true" uib-dropdown     uib-dropdown-toggle>
                  <ul class="dropdown-menu" >
                    <li><a href>Agen tidak ditemukan</a></li>
                  </ul>
                </span>
              </div>

              <div class="col-lg-1">
                  <button class="btn btn-warning" ng-click="tampil(tanggal)">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </div>

            </div>

        <not-found ng-show="datas.length === 0" info="'Tidak ada data setoran'"></not-found>

        </div>
        <div class="data-loader" ng-show="loadData"></div>

        <div class="col-md-12" ng-show="datas.length > 0">
          <ng-include src="templateUrl"  onload=""  autoscroll=""></ng-include>
        </div>


        </div>
	    </div>
    </div>
  </div>
</div>
