<style media="screen">
  h1,h2,h3,h4,h5,h6 {
    line-height : 1.5;
    font-weight : 400;
  }
</style>
<div id="preloader" ng-hide="invoice">
  <div></div>
</div>
<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body" style="padding:5vw;" id="invoice">

          <div class="row" style="margin-bottom:40px;">
            <div class="col-md-7">
              <h4>E-INVOICE</h4>
            </div>
            <div class="col-md-1" style="width:8.7%">
              <h5>Nomor :</h5>
            </div>
            <div class="col-md-4"  style="width:32.3%">
              <h4>{{ invoice.noInvoice }}</h4>
            </div>
          </div>

          <div class="row" style="margin-bottom:40px;">
            <div class="col-md-1">
              <h5>Dari :</h5>
            </div>
            <div class="col-md-6">
              <h4>{{ invoice.namaPtOtodata }}</h4>
              <h5 style="white-space:pre">{{ invoice.alamatOtodata }}</h5>
            </div>
            <div class="col-md-1">
              <h5>Untuk :</h5>
            </div>
            <div class="col-md-4">
              <h4>{{ invoice.namaPT }}</h4>
              <h5 style="white-space:pre">{{ invoice.alamatPo }}</h5>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <h5><b>A.</b> Penjualan</h5>

              <table class="table table-striped table-bordered" style="margin-bottom:40px;">
                <col width="5%">
                <col width="55%">
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <thead>
                  <tr class="th-bg">
                    <th class="text-center">
                      <b>No</b>
                    </th>
                    <th class="text-center">
                      <b>Deskripsi</b>
                    </th>
                    <th class="text-center">
                      <b>Qty</b>
                    </th>
                    <th class="text-center">
                      <b>@</b>
                    </th>
                    <th class="text-center">
                      <b>Total</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in invoice.penjualan">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.namaBus + '-' +  item.namaTrayek + '-' +  (invoice.tglTransaksi | date:'dd/MM/yyyy') + ' ' + item.jamBerangkat}}</td>
                    <td class="text-right">{{ item.jmlKursiTerjual }}</td>
                    <td class="text-right">{{ item.biayaAdminPerkursi  | currency:'':0}}</td>
                    <td class="text-right">{{ item.biayaAdmin  | currency:'':0}}</td>
                  </tr>
                </tbody>
                <tr class="th-bg">
                  <td colspan="4">Total Penjualan</td>
                  <td class="text-right">{{ invoice.totalBiayaAdminPenjualan | currency:'':0 }}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h5><b>B.</b> Pemesanan</h5>
              <table class="table table-striped table-bordered" style="margin-bottom:40px;">
                <col width="5%">
                <col width="55%">
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <thead>
                  <tr class="th-bg">
                    <th class="text-center">
                      <b>No</b>
                    </th>
                    <th class="text-center">
                      <b>Deskripsi</b>
                    </th>
                    <th class="text-center">
                      <b>Qty</b>
                    </th>
                    <th class="text-center">
                      <b>@</b>
                    </th>
                    <th class="text-center">
                      <b>Total</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in invoice.pemesanan">
                    <td>{{ invoice.penjualan.length + $index + 1 }}</td>
                    <td>{{ item.namaTrayek }}</td>
                    <td class="text-right">{{ item.kursiTerpesan }}</td>
                    <td class="text-right">{{ item.biayaAdmin / item.kursiTerpesan  | currency:'':0}}</td>
                    <td class="text-right">{{ item.biayaAdmin  | currency:'':0}}</td>
                  </tr>
                </tbody>
                <tr class="th-bg">
                  <td colspan="4">Total Pemesanan</td>
                  <td class="text-right">{{ invoice.totalBiayaAdminPemesanan | currency:'':0 }}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h5>Total Invoice (A+B) = {{ invoice.totalBiayaAdminPenjualan | currency:'Rp.':0 }} + {{ invoice.totalBiayaAdminPemesanan | currency:'Rp.':0 }} = {{ invoice.amountDue | currency:'Rp.':0 }}</h5>
            </div>
            <div class="col-md-12">
              <h5>Terbilang : {{ invoice.amountDue | terbilang }} Rupiah</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pull-right">
              <h5>Jakarta, {{ invoice.tglTransaksi | date_v1 }}</h5>
              <h5>{{ invoice.namaPtOtodata }}</h5>
              <br>
              <br>
              <br>
              <h5>{{ invoice.namaTerTanda }}</h5>
              <h5>COO</h5>
              <h5>Tidak diperlukan tanda tangan</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger btn-sm" ng-click="print()"><i class="fa fa-file-pdf-o"></i>&nbsp;Cetak Invoice</button>
              <!-- <button class="btn btn-success btn-sm" ng-click="toExcel()"><i class="fa fa-file-excel-o"></i>&nbsp;Simpan Sebagai Xls</button> -->
            </div>
          </div>
        </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

      </div>
    </div>
  </div>
</div>
