
  <div class="" id="dataTable">
    <div class="col-md-12" ng-show="exportPage" style="margin-bottom : 40px;">
      <ng-include src="headerUrl"  onload=""  autoscroll=""></ng-include>
    </div>
    <div class="" ng-repeat="data in datas">
    <table class="table table-bordered table-striped" style="margin-bottom:20px;">
      <col width="5%">
      <col width="30%">
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <thead>
      <tr class="th-bg">
        <th class=""><b>No.</b></th>
        <th class="text-center"><b>Trayek</b></th>
        <th class="text-center"><b>Tanggal Berangkat</b></th>
        <th class="text-center"><b>Jam Berangkat</b></th>
        <th class="text-center"><b>Jumlah Penumpang</b></th>
        <th class="text-center"><b>Total Pemesanan</b></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in data.transaksi track by $index" class="no-top-border">
        <td ng-class="nowrap">{{$index + 1}}</td>
        <td ng-class="nowrap">{{item.namaTrayek}}</td>
        <td ng-class="nowrap">{{item.tglBerangkat | date_v1}}</td>
        <td ng-class="nowrap">{{item.jamBerangkat}}</td>
        <td class="align-right show-data pointer" ng-click="showPassengerData(data, item, true)">{{item.kursiTerpesan}}</td>
        <td class="align-right">{{item.jmlPemesanan | currency:"":0}}</td>
      </tr>
      </tbody>
      <tr class="th-bg">
        <td colspan="4" class="text-center"><b>Total</b></th>
        <td class="align-right"><b>{{data.totalPenumpang}}</b></td>
        <td class="align-right"><b>{{data.totalPenjualan | currency:"":0}}</b></td>
      </tr>
    </table>
  </div>
  </div>
