<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <h4>Daftar Setoran PO ke Agen</h4>
            </div>
          </div>

          <div class="data-loader" ng-show="loadData"></div>
          <div class="row">
            <div class="col-md-12 text-center" ng-show="
            empty">
                <h5>{{ message }}</h5>
            </div>
            <div class="col-md-12" ng-show="
            !empty">
              <table class="table table-bordered table-striped">
                <col width="3%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">

                <thead>
                  <tr class="th-bg">
                    <th class="text-center"><b>No</b>.</th>
                    <th class="text-center"><b>Agen Debitur</b></th>
                    <th class="text-center"><b>Jumlah Komisi</b></th>
                    <th class="text-center"><b>Jumlah Terbayar</b></th>
                    <th class="text-center"><b>Sisa Bayar</b></th>
                    <th class="text-center"><b>Aksi</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="agen in datas">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ agen.namaAgen}}</td>
                    <td class="text-right">{{ agen.jmlhKomisi | currency:'':0 }}</td>
                    <td>{{ agen.alreadypayed | currency:'':0}}</td>
                    <td>{{ agen.sisaBayar | currency:'':0}}</td>
                    <td class="text-right">
                      <button class="btn btn-primary btn-sm" ng-click="next(agen.idAgen, agen.namaAgen, $index + 1, agen)">Rincian</button>
                      <button class="btn btn-success btn-sm" ng-click="bayar(agen, $index + 1)">Bayar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <p style="white-space: pre-line;">{{ po.alamat }}</p> -->

        </div>
      </div>
    </div>
  </div>
</div>
